/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Poppins';
  color: #444444;
}

a {
  color: #1977cc;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Poppins';
}
p{
  font-size: 1.1rem;
}
.section-bg {
  /* background-color: #f1f7fd; */
  /* background-color: #f3efef; */
  background-color:  #f1f4f6;
 
  
}
.required{
  color: rgb(240, 38, 38);
}
.help-block small {
  color: rgb(240, 38, 38);
}
.text-blue{
  color:#1977cc !important;
}
.img-h-95per{
    height: 95% !important;
}
@media (min-width: 992px){
.mt-5rem {
  margin-top: 5rem ;
}
.mt-8rem {
  margin-top: 8rem ;
}
.mt-lg-6, .my-lg-6 {
  margin-top: 4rem!important;
}
.split-ul-3 ul{
  -webkit-column-count: 3;  /* Chrome/Opera, Safari */
-moz-column-count: 3; /* Mozilla Firefox */
column-count: 3;
}

.split-ul-2 ul{
  -webkit-column-count: 2;  /* Chrome/Opera, Safari */
-moz-column-count: 2; /* Mozilla Firefox */
column-count: 2;
}
}

@media (max-width: 768px){
  .mt-5rem {
    margin-top: 0rem ;
  }
  .mt-8rem {
    margin-top: 0rem ;
  }
  .img-sm-fluid{
    width: 100%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  }
  }

.main-loader {
display: inline-block;
width: 40%;
height: 100px;
background: url('../../../common/assets/images/studentplacement/blue_spinner.gif') no-repeat 50% 50%;
}
/* @media (min-width: 1200px){

.container {
    max-width: 98%;
}
   
} */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .container {
    max-width: 98%;
}
 }

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.g-recaptcha{
position: relative;
width: fit-content
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
   font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #1977cc;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #1c84e3;
  color: #fff;
}

.datepicker-dropdown {
  padding: 20px !important;
  }
  @media (min-width: 992px){
.text-indent-lg-1 {
    text-indent: 1rem ;
}
}
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: #fff;
    height: 60px;
    font-size: 0.875rem;
    transition: all 0.5s;
  }
  
  #topbar.topbar-scrolled {
    top: -50px;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #444444;
    transition: 0.3s;
    font-size: 1rem;
  }
  
  #topbar .contact-info a:hover {
    color: #1977cc;
  }
  
  #topbar .contact-info i {
    color: #1977cc;
    padding-right: 4px;
    margin-left: 15px;
  }
  
  #topbar .contact-info i:first-child {
    margin-left: 0;
  }
  
  #topbar .social-links a {
    color: #437099;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  
  #topbar .social-links a:hover {
    color: #1977cc;
  }
  
  #topbar .social-links a:first-child {
    border-left: 0;
  }
  #topbar .btn-group{
    border: 1px solid #1977cc;
    border-radius: 40px !important;
  }
  #topbar .btn-group .btn-default:hover{
    border-radius: 40px !important;
    background: #1977cc;
    color: white;
  }
  .btn-group-active{
    border-radius: 40px !important;
    background: #1977cc;
    color: white;
  }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 50px;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }
  
  #header.header-scrolled {
    top: 0;
  }
  
  #header .logo {
    font-size: 2rem;
    margin-top:0px;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #2c4964;
  }
  
  #header .logo img {
    max-height: 100px;
  }
  
  @media (max-width: 992px) {
    #header {
      top: 0;
    }
    #header .logo {
      font-size: 1.75rem;
      margin:0px;
    }
    #header .logo img {
      max-height: 40px;
  }
  #header {
    background: #fff;
    transition: all .5s;
    z-index: 997;
    padding: 8px 0;
    top: 0px;
    box-shadow: 0 2px 15px rgba(25,119,204,.1);
}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #2c4964;
  transition: 0.3s;
  font-size: 1rem;
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Poppins';
    padding: 5px 2px;
    border-bottom: 2px solid #fff;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #1977cc;
    border-color: #1977cc;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    color: #082744;
    border: none;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #1977cc;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  /* Get Startet Button */
  .appointment-btn {
    margin-left: 25px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size:  0.875rem;
    display: inline-block;
  }
  
  .appointment-btn:hover {
    background: #166ab5;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .appointment-btn {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 1.5rem;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #1977cc;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    /* padding: 0; */
    list-style: none;
  }
  .mobile-nav .Search-button{
    width: 90%;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #2c4964;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #1977cc;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(28, 47, 65, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  /*-------------------------------------------------------------
  videoplaye css
  -------------------------------------------------------------*/
  .video-player .whts-include {
    background: url("../../../common/assets/videos/What_is_Acca.png") center center no-repeat;
    background-size: contain;
    min-height: 200px;
  }
  .video-player .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .video-player .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .video-player  .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(25, 119, 204, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .video-player  .play-btn:hover::after {
    border-left: 15px solid #1977cc;
    transform: scale(20);
  }
  
  .video-player  .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 40vh;
    /* background: url("../img/hero-bg.jpg") top center; */
    background-size: cover;
    position: relative;
    margin-bottom: -200px;
  }
  
  #hero .container {
    position: relative;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #2c4964;
  }
  
  #hero h2 {
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 1.5rem;
  }
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
  }
  
  #hero .btn-get-started:hover {
    background: #3291e6;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 992px) {
    #hero {
      margin-bottom: 0;
      height: 100vh;
    }
    #hero .container {
      padding-bottom: 63px;
    }
    #hero h1 {
      font-size: 1.75rem;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 1.125rem;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: auto;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f1f7fd;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
     font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  .content ul  {
    list-style: none;
    padding: 0;
}
 .content ul li {
  /* padding-bottom: 10px; */
  font-size: 1.1rem;
  line-height:2em;
  padding-left:0px;
  padding-top:5px;
  padding-bottom:5px;
  font-size: 1.1rem;
  list-style-type:none;
  list-style:none;
  display: table-row;

}
.content ul li:before{
  /* font-family: 'FontAwesome';
  content: "\f192"; */
  fill: #428bca;
  margin-right:15px;
  display: table-cell;
  /* content: "\ea99";
  font-family: IcoFont; */
  content: url('../../../common/assets/images/icons/check-double-line.svg?height=12');
vertical-align: -0.125em;
padding-right: 10px;
}
 .custom_list li:before {
  font-family: 'FontAwesome';
  content: "\f192";
  color: black;
  margin-right:15px;
  display: table-cell;
  /* check-double-line.svg */
 }
   .content ul i {
    /* font-size: 20px; */
    /* font-size: 1.1rem; */
    padding-right: 4px;
    color: #428bca;
    display: none
}
/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0;
    background-color: #f1f7fd;
    min-height: 40px;
    margin-top: 120px;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 63px;
    }
  }
  
  .breadcrumbs h2 {
     font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
     font-size: 0.875rem;
  }
  
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    /* background: #202120; */
    /* background: #d9e2d9; */
    background: #f4f7f9;
    padding: 0 0 0px 0;
    color: #707070;
     font-size: 0.875rem;
}
  
#footer .footer-top {
  /* background:  #1c1f1c; */
  /* background:#d3d8d2; */
  background:#f7fbfb;
  padding: 60px 0 30px 0;
}
  
  #footer .footer-top .footer-contact {
    margin-bottom: 10px;
  }
  
  #footer .footer-top .footer-contact h4 {
     font-size: 1.375rem;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
     font-size: 0.875rem;
    line-height: 28px;
    margin-bottom: 0;
    
    color: #777777;
  }
  
  #footer .footer-top h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1c84e3;
    font-size: 1.125rem;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #1977cc;
  }
  
  #footer .footer-newsletter {
     font-size: 0.938rem;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
  }
  
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 1rem;
    padding: 0 20px;
    background: #1977cc;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #1c84e3;
  }
  
  #footer .credits {
    padding-top: 5px;
     font-size: 0.813rem;
    color: #444444;
  }
  
  #footer .social-links a {
    font-size: 1.125rem;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-top .footer-links.content ul li {
    padding: 0px 0;
    display: flex;
    align-items:unset;
}
#footer .footer-top .footer-links.content ul li:before {
  fill: #428bca;
  margin-right: 0px;
  display: table-cell;
  content: url(../../../common/assets/images/icons/mclogo24x24.png?height=12);
  vertical-align: -.125em;
  padding-right: 10px;
}
#footer .footer-top .footer-links.content ul li {
  font-size: 0.875rem;
  line-height: 2em;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  list-style: none;
  display: -webkit-box;
}
/*--------------------------------------------------------------
# Founder Section
--------------------------------------------------------------*/
/* .founder-section .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
}

.founder-section .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.founder-section .testimonial-item h3 {
   font-size: 1.125rem;
  font-weight: bold;
  margin: 25px 0 5px 0;
  color: #111;
}

.founder-section .testimonial-item h4 {
   font-size: 0.875rem;
  color: #999;
  margin: 0;
}

.founder-section .testimonial-item .quote-icon-left, .founder-section .testimonial-item .quote-icon-right {
  color: #fceaea;
   font-size: 1.625rem;
}

.founder-section .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.founder-section .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.founder-section .testimonial-item p {
  font-style: italic;
  margin: 30px auto 15px auto;
}

.founder-section .owl-nav, .founder-section .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.founder-section .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.founder-section .owl-dot.active {
  background-color: #e03a3c !important;
}

@media (max-width: 767px) {
  .founder-section .testimonial-wrap {
    padding-left: 0;
  }
  .founder-section .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .founder-section .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
} */






.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
   font-size: 1.125rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
   font-size: 0.875rem;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #badaf7;
   font-size: 1.625rem;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff !important;
  border: 2px solid #1977cc;
  
}
.testimonials  .owl-carousel button.owl-dot{
  border: 2px solid #1977cc;
}

.testimonials .owl-dot.active {
  background-color: #1977cc !important;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}


  

.sidebtn-vertical{
  position: fixed;
  bottom: 25%;
  right: 0;
  width: 50px;
  height: 270px;
  background-color: #f11111;
  padding: 10px;
  border-radius: 70px 0 0 70px;
  -webkit-box-shadow: 2px 0 10px #00000022;
  box-shadow: 2px 0 10px #00000022;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.sidebtn-vertical a{
  /* color:#f50505 !important; */
  color:#fff !important;
}
.sidebtn-vertical:before {
  top: -14px;
  right: -1px;
}

.sidebtn-vertical:before,.sidebtn-vertical:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url('../../../common/assets/images/curve.svg');
  background-size: cover;
}
.sidebtn-vertical:after {
  bottom: -14px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  right: -1px;
}

.mirror{
  display: inline-block; 
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}