<section id="aboutus" class="mt-8rem">
  <div class="container">
    <div class="globally_recognised">
      <div class="section-title">
        <h2>About Us</h2>
      </div>
      <div class="container">
        <div class="row">
          <p>
            Microconnect is established with combined professional experience of
            over many decades in the field of Education, Marketing, Technology,
            Customer relationship Management, eCommerce and non-hazardous waste
            management.
          </p>
          <p>
            At Microconnect, our focus is to assist and bridge the unfound gaps
            benefiting all stakeholders. Microconnect’s wide range of
            relationship across industry verticals help in addressing the
            nuances of a business establishment without losing focus on their
            core strengths.
          </p>
          <p>
            The nuances focused are addressing the current business challenges,
            offer proactive solution to problems / challenges that might hinder
            the business due to emerging disruptive technologies, assist in
            devising right GoToMarket strategies, provide desired reach through
            network of consultants / partners and offer execution assistance for
            expansion & growth.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section class="founder-section">
  <div class="container">
    <div class="globally_recognised">
      <div class="section-title">
        <h2>Key People</h2>
      </div>
      <div class="row testimonials-carousel">
        <div class="col-md-6">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="./common/assets/images/founderimages/founder1.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>K. Ashok</h3>
            
              <p>
                a complete Sales and Marketing professional with over 35 years
                of hands on experience. Beginning with FMCG major Colgate
                Palmolive, his experience spans across FMCG, Industrial
                marketing, Media, Organised retail and Education. Over 7 years
                in Training and Counselling are his added strengths. Have worked
                across states in India. Ashok also has to his credit, a solution
                to convert all non hazardous wastes of finished and semi
                finished FMCG products into Bio compost. Ashok is also closely
                involved in building the brand Yokibu in India, first social
                media online platform for schools, parents, students and
                teachers.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="./common/assets/images/founderimages/founder2.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>K. Venkataramanan (a) K. Venkat</h3>
            
              <p>
                a seasoned business leader with established credentials over 30+
                years of experience in the field of IT, Telecom, Office
                Automation &amp; Education Sectors (both in Govt &amp; Pvt
                space). Incubated &amp; scaled many new business ideas and built
                strong performing teams across Geos. Worked under illustrious
                founders of HCL Group, Mr. Shiv Nadar &amp; Mr. Ajay Chowdary
                and successfully carried out Key Projects. Has identified young
                leaders and mentored them to realize their true potential by
                giving right opportunities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

<section id="testimonials" class="testimonials pt-0">
  <div class="section-title">
    <h2>Key People</h2>
  </div>
  <div class="container">
    <div class="owl-carousel testimonials-carousel">
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img
            src="./common/assets/images/founderimages/founder1.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>K. Ashok</h3>

          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            a complete Sales and Marketing professional with over 35 years of
            hands on experience. Beginning with FMCG major Colgate Palmolive,
            his experience spans across FMCG, Industrial marketing, Media,
            Organised retail and Education. Over 7 years in Training and
            Counselling are his added strengths. Have worked across states in
            India. Ashok also has to his credit, a solution to convert all non
            hazardous wastes of finished and semi finished FMCG products into
            Bio compost. Ashok is also closely involved in building the brand
            Yokibu in India, first social media online platform for schools,
            parents, students and teachers.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img
            src="./common/assets/images/founderimages/founder2.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>K. Venkataramanan (a) K. Venkat</h3>

          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            a seasoned business leader with established credentials over 30+
            years of experience in the field of IT, Telecom, Office Automation
            &amp; Education Sectors (both in Govt &amp; Pvt space). Incubated
            &amp; scaled many new business ideas and built strong performing
            teams across Geos. Worked under illustrious founders of HCL Group,
            Mr. Shiv Nadar &amp; Mr. Ajay Chowdary and successfully carried out
            Key Projects. Has identified young leaders and mentored them to
            realize their true potential by giving right opportunities.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img
            src="./common/assets/images/founderimages/balaji.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>Balaji Sadasivam</h3>
          <h4>Tech Lead</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            A passionate Tech Nerd. Problem solver, go to man at all
            circumstances, Cool and stable under stress. With 25+ years of
            experience in Global IT industry at various levels including Global
            IT infrastructure management, Digital Transformation, Service
            Delivery, Product Development, Mobile and Web Application Project
            Management. Managed APAC Remote IT Infrastructure Management (RIMS)
            support, handled international vendors and projects, proficient in
            managing teams across the globe. A digital media expert and
            responsible for Microconnect’s all Technology related initiatives &
            rollouts.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img
            src="./common/assets/images/founderimages/GeethaSridhar.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>Mr. Geetha Sridhar</h3>
          <h4>Advisor</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            a practicing Company Secretary with over two decades of experience
            in Corporate Laws, Corporate Finance, Insolvency & Bankruptcy Code,
            Valuation of shares, etc. Expertise in implementation and evaluation
            of Corporate Governance Guidelines for listed companies is her added
            forte with special emphasis on formulation and implementation policy
            code of business Conduct and Ethics. She has rich knowledge in
            Secretarial Compliance and other applicable Laws to Corporate.
            <br />
            Mrs. Geetha is a Law Graduate, Fellow Member of the Institute of
            Company Secretaries of India, Graduate Member of the Institute of
            Cost and Works Accountants of India, and holds a Management Degree
            in Finance from UK.

            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <img
            src="./common/assets/images/founderimages/Sudhadevi.jpeg"
            class="testimonial-img"
            alt=""
          />
          <h3>Mrs.Sudha Devi K.</h3>

          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Mrs. Sudha Dev is a passionate teacher and a seasoned school
            principal with over 3 decades of teaching and administrative
            experience in CBSE affiliated schools in Kerala and Chennai. She
            strongly advocates that children enjoy learning through activities.
            She is known for her curriculum design and communication skills
            enhancement. Mrs.Sudha Devi, a post graduate & qualified in Human
            excellence from Sri Satya Sai Institute, Mumbai and she is trained
            in Educational Leadership by Kuruvilla Jacob Initiatives for
            excellence in education. She has been trained in PRP programme on
            classroom management, Career guidance, and inclusion conducted by
            CBSE.

            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->
<!-- End Testimonials Section -->
