<!DOCTYPE html>
<html lang="en" ng-app="microconnect">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Payment Success - Microconnect</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
   <meta http-equiv="Pragma" content="no-cache">
   <meta http-equiv="Expires" content="0" />
    <!-- Favicons -->
    <link href="./common/assets/images/icons/favicon.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="./common/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="./common/assets/vendor/icofont/icofont.min.css"
      rel="stylesheet"
    />
    <link
      href="./common/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="./common/assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="./common/assets/vendor/animate.css/animate.min.css"
      rel="stylesheet"
    />
    <link
      href="./common/assets/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="./common/assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="./common/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="./common/assets/vendor/videopopup/videopopup.css"
    />

    <!-- Template Main CSS File -->
    <!--<link href="./website/assets/css/style.css" rel="stylesheet" />-->
    <link href="./website/dist/css/style.min.css" rel="stylesheet" />
   
  </head>

  <body >
    <header-component></header-component>
    <main>
      <section id="paymentsuccess" class="mt-8rem" ng-controller="paymentSuccesCtrl">
        <div class="container">
          <div class="globally_recognised">
            <div class="section-title">
              <h2>{{title}}</h2>
              <div ng-bind-html="encodeData(paymentMessage)"></div>
            </div>
            <p id="result"></p>
          </div>
        </div>
      </section>
    </main>
    <footer-component></footer-component>

    <!--<div id="preloader"></div>-->
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="./common/assets/vendor/jquery/jquery.min.js"></script>
    <script src="./common/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./common/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="./common/assets/vendor/php-email-form/validate.js"></script>
    <script src="./common/assets/vendor/venobox/venobox.min.js"></script>
    <script src="./common/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="./common/assets/vendor/counterup/counterup.min.js"></script>
    <script src="./common/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="./common/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="./common/assets/vendor/videopopup/videopopup.js"></script>

    <!--angular-->
    <script src="./common/assets/vendor/angular/angular.min.js"></script>
    <script src="./common/assets/vendor/angular/angular-messages.min.js"></script>
    <script src="./common/assets/vendor/angular/ng-file-upload-all.min.js"></script>
    <!-- Template Main JS File -->
    <script src="./common/assets/js/main.js"></script>
    <script src="./common/env.js"></script>

    <script src="./website/dist/microconnectweb.min.js?v=2020"></script>
    <!-- <script>
        if (typeof(Storage) !== "undefined") {
  document.getElementById("result").innerHTML = localStorage.getItem("ccAvenueResponse");
} else {
  document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
}
    </script> -->
  </body>
</html>
