<section id="arbookheader" class="arbookheader-scetion">
  <!--<div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <img src="./common/assets/images/arbookheader.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>-->
  <div class="arbookbanner-inner container">
    <img
      class="w-100 d-block"
      src="./common/assets/images/slides/Slide03.jpg"
    />
  </div>
</section>
<section class="arbookvideo">
  <div class="container">
    <div class="section-title">
      <h2>AR Book-How it's works</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 text-center">
        <video class="w-100" id="v1" controls controlsList="nodownload">
          <source
            src="./common/assets/videos/inscludedvideo.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</section>
<!--<section id="innovationlab" class="arbookheader-scetion mt-2">
  <div class="container">
    <div class="globally_recognised">
      <div class="section-title">
        <h2>Innovation Lab</h2>
        <p>
          Innovation Lab is a flexible and personalized learning environment
          devoted to fostering creativity, curiosity and purpose. Teachers blend
          core disciplines through an experiential learning approach, allowing
          students to explore their interests and harness their innovative
          potential. Students are encouraged to discover their passions.
        </p>
        <p>
          Experiential learning is the process of learning through experience
          and also defined as "learning through reflection on doing”. The
          students are given an immersive experience of understanding various
          STEM Concepts as well as exposed to various field trips using in order
          to expand their imagination.
        </p>
      </div>
    </div>
  </div>
</section>-->

<section id="arlab" class="arbookheader-scetion mt-2">
  <div class="container">
    <div class="globally_recognised">
      <div class="section-title">
        <h2>Augmented Reality - AR Lab</h2>
        <p>
          AR is extremely useful for educators in classroom settings or during
          presentations and allows students to gain a deeper understanding on
          the topic at hand. By merging content to a page, the reading
          experience is enhanced and the students are fully engaged. The text
          and images are on a page as usual, but AR allows you to see dynamic,
          3D computer graphics "hovering" over it.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <img
            src="./common/assets/images/8resons-ar.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="arbook" class="arbookheader-scetion mt-2">
  <div class="container">
    <div class="globally_recognised">
      <div class="section-title">
        <h2>AR Book</h2>
        <h4>A True Amalgamation of Digital & Print</h4>
        <p>
          <i
            >AR Book incentivize curiosity, facilitate the interpretation of
            text and illustrations, and provide a learning tool that relates to
            the reader.</i
          >
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 order-2 order-lg-1">
          <img
            src="./common/assets/images/ar-children-lab.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 order-1 order-lg-2 content">
          <ul>
             <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <li>
              <i class="ri-check-double-line"></i>Improve Children’s short
              attention span
            </li> -->
            <li>
              <i class="ri-check-double-line"></i> Improves Children's short attention span
            </li>
          
            <!-- <li>
              <i class="ri-check-double-line"></i>Increase engagement with the
              learning material
            </li> -->
            <li>
              <i class="ri-check-double-line"></i>Increases engagement with the learning material
            </li>
            
            <!-- <li>
              <i class="ri-check-double-line"></i>Better Learning outcomes due
              increased attention and engagement
            </li> -->
            <li>
              <i class="ri-check-double-line"></i> Better Learning outcomes due to increased attention and engagement
            </li>
             <!--end-Aswin-20-01-2021-content-changes-->
            <li>
              <i class="ri-check-double-line"></i>Uses multimodal learning –
              using more than one sense in the brain to learn
            </li>
            <li><i class="ri-check-double-line"></i>Invites participation</li>
            <li>
              <i class="ri-check-double-line"></i>Develops appreciation to the
              context
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 content my-auto">
          <table width="100%" class="table tab-txt">
            <tbody>
              <tr>
                <td colspan="3">
                  <h4>AR Books Readily Available</h4>
                  <ul>
                    <li>
                      <i class="ri-check-double-line"></i>Pre-Primary Nursery,
                      Jr.KG &amp; Sr.KG(25+ Titles &amp; 900+ Pages)
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Alphabets</td>
                <td>Phonics</td>
                <td>EVS</td>
              </tr>
              <tr>
                <td>Nursery Rhymes</td>
                <td>My First Reader</td>
                <td>Hindi Praveshika</td>
              </tr>
              <tr>
                <td>General Knowledge</td>
                <td>Picture Talk</td>
                <td>Aao Gungunauae</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6">
          <div class="row no-gutters">
            <div class="col-lg-6 col-md-6">
              <figure class="ar">
                <img src="./common/assets/images/elephantVr.jpg" alt="" />
              </figure>
            </div>

            <div class="col-lg-6 col-md-6">
              <figure class="ar">
                <img src="./common/assets/images/chemicalVr.jpg" alt="" />
              </figure>
            </div>

            <div class="col-lg-6 col-md-6">
              <figure class="ar">
                <img src="./common/assets/images/vrTab.jpg" alt="" />
              </figure>
            </div>

            <div class="col-lg-6 col-md-6">
              <figure class="ar">
                <img src="./common/assets/images/zebraVr.jpg" alt="" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="vrlab" class="arbookheader-scetion mt-2">
  <div class="container">
    <div class="globally_recognised">
      <div class="section-title">
        <h2>Virtual Reality - VR Lab</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <img
            src="./common/assets/images/vr-lab.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content">
          <ul>
             <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <li>
              <i class="ri-check-double-line"></i>VR is one of the upcoming
              Education Technology which is going to immensely impact the
              learning process @ schools. Student needs an experiential learning
              environment, VR provides an immersive, teacher guided &
              self-exploratory Interactive Visual Learning.
            </li> -->
            <li>
              <i class="ri-check-double-line"></i>  VR is one of the upcoming Education Technology which is going to immensely impact the learning process at schools. Students need an experiential learning environment, VR provides an immersive, teacher guided &
              self-exploratory Interactive Visual Learning.
            </li>
            
            <!-- <li>
              <i class="ri-check-double-line"></i>VR develops fearless learners
              through an environment where safety is guaranteed, subjects are
              unlimited and experimentation is encouraged. This improves the
              student confidence level, builds engagement and interest. Since VR
              involves all three styles of learning viz Visual, Auditory and
              Kinaesthetic (VAK) it achieves faster learning while developing
              higher level of cognitive skills.
            </li> -->
            <li>
              <i class="ri-check-double-line"></i>VR develops fearless learners
              through an environment where safety is guaranteed, subjects are
              unlimited and experimentation is encouraged.This improves the student's confidence level, builds engagement and interest.Since VR
              involves all three styles of learning viz Visual, Auditory and
              Kinaesthetic (VAK) it achieves faster learning while developing
              higher level of cognitive skills.
            </li>
          
            <!--end-Aswin-20-01-2021-content-changes-->
            <li>
              <i class="ri-check-double-line"></i>Microconnect is building both
              curriculum and beyond curriculum concepts for VR Labs
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="engaged-classrooms" class="arbookheader-scetion mt-2">
  <div class="container">
    <div class="globally_recognised">
      <div class="section-title">
        <h2>Connected & Engaged Classrooms</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2 img-sm-fluid">
          <img
            src="./common/assets/images/class-rooms.png"
            class="img-fluid w-75"
            alt=""
          />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <ul>
              <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <li>
              <i class="ri-check-double-line"></i>With very tight classrooms
              schedules and demanding curriculum ethics, learning and teaching
              have become a very tough ask for students, teachers and parents.
            </li> -->
            <li>
              <i class="ri-check-double-line"></i> With very tight classroom schedules and demanding curriculum ethics, learning and teaching
              have become a very tough ask for students, teachers and parents.
            </li>
             <!--end-Aswin-20-01-2021-content-changes-->
            <li>
              <i class="ri-check-double-line"></i>There are so many activities
              which are tempting and useful for the future of knowledge
              enhancement. However, with the available time frame managing all
              activities for enhanced value education and knowledge, it becomes
              imperative for all of us to lean on technology.
            </li>
            <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <li>
              <i class="ri-check-double-line"></i>To combat this, Microconnect,
              is offering a Teacher, Student, Parent connect platform which is
              widly used in schools. This connects the teaching and learning
              experiences extended through easy to use Mobile APPs,
              notifications on a highly secured environment along with
              Analytics. This platfrom offers much more than popular social
              networking options / groups
            </li> -->
            <li>
              <i class="ri-check-double-line"></i> To combat this, Microconnect is offering a Teacher -  Student - Parent connect platform which is widely used in schools. This connects the teaching and learning
              experiences extended through easy to use Mobile APPs,
              notifications on a highly secured environment along with
              Analytics. This platfrom offers much more than popular social
              networking options / groups
            </li>
           
            <!--end-Aswin-20-01-2021-content-changes-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
