.tab-txt {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    overflow-x: scroll;
}
.tab-txt tr td {
    width: 35%;
    border: solid 1px #eee;
}
.w-75{
    width: 75%;
}

#arbookheader{
    width: 100%;
    height: 75vh;
    background: #f9f9f9;
    padding-top: 70px;
}
#arbookheader .arbookbanner-inner{
   margin-top: 4rem;
}
.arbookvideo{
    padding: 10px;
}
@media (max-width: 768px) {
    #arbookheader{
        width: 100%;
        height: auto;
        background: #f9f9f9;
        padding-bottom: 0;
        padding-top: 0px;
    }
    #gtmheader .arbookbanner-inner {
      margin-top: 1rem;
    }
  }