<section id="faq" class="faq section-bg mt-8rem">
  <div class="container">
    <div class="section-title">
      <h2>
      
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit"
            > Frequently Asked Questions</font
          ></font
        >
      </h2>
    </div>

    <div class="faq-list">
      <!-- <div class="pull-right my-2">
        <button class="btn btn-info ">Collapse All</button>
      </div> -->
      <div class="container d-md-flex py-4 accordion-option">

      
        <div class="text-center ml-auto pt-3 pt-md-0">
          <button class="btn btn-info" ng-click="toggleCollapse()" >
             {{expandBtnText}}
          </button>
        </div>
      </div>
      <ul class="faq-ul-list">
        <li
          data-aos="fade-up"
          class="faq-li"
          ng-repeat="faq in faqJSON"
          data-aos-delay="{{$index + 1}}00"
        >
          <i class="ri-question-line icon-help"></i>
          <a data-toggle="collapse" class="collapse" href="#faq-list-{{$index}}"
            >{{faq.title}}<i class="ri-arrow-down-s-line icon-show"></i
            ><i class="ri-arrow-up-s-line icon-close"></i
          ></a>
          <div
            id="faq-list-{{$index}}"
            class="collapse"
           
            data-parent=".faq-list"
            ng-bind-html="encodeData(faq.subtitle)"
          ></div>
        </li>
        <!-- <li data-aos="fade-up"  ng-repeat="faq in faqJSON">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-{{$index}}">{{faq.title}}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-{{$index}}" class="collapse" data-parent=".faq-list">
            <div class="collapse"
            ng-class="{'show':$index == 0}"
            data-parent=".faq-list"
            ng-bind-html="encodeData(faq.subtitle)"
          ></div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</section>
