

@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Poppins';
    
    color: #444444;
  }
  
  a {
    color: #1977cc;
  }
  
  a:hover {
    color: #3291e6;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Poppins';
  }
  p{
    font-size: 1.1rem;
  }
  .section-bg {
    /* background-color: #f1f7fd; */
    /* background-color: #f3efef; */
    background-color:  #f1f4f6;
   
    
  }
  .required{
    color: rgb(240, 38, 38);
  }
  .help-block small {
    color: rgb(240, 38, 38);
}
.text-blue{
  color:#1977cc !important;
}
.img-h-95per{
    height: 95% !important;
}
.btn-mc-theme {
  color: #fff;
  background-color: #1977cc;
  border-color: #1977cc;
  border-radius: 50px;
}
.btn-mc-theme-2{
  background: #0ea4b3;
  color: #fff;
  border-radius: 50px;
}
.btn-mc-theme-3{
  border-radius: 50px;
  background-color: #f82249;
    color: #fff;
}
.btn-mc-theme-4{
  border-radius: 50px;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
}
.btn-theme-violet{
  background-color: #7030A0;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
}
.btn-theme-yellow{
  background-color: #FFC000;
  border-radius: 50px;
  color: #0e0b0b;
  font-weight: 700;
}
.border-radius-30px{
  border-radius: 30px;
}
@media (min-width: 992px){
.mt-5rem {
  margin-top: 5rem ;
}
.mt-8rem {
  margin-top: 8rem ;
}
.mt-lg-6, .my-lg-6 {
  margin-top: 4rem!important;
}
.split-ul-3 ul{
  -webkit-column-count: 3;  /* Chrome/Opera, Safari */
-moz-column-count: 3; /* Mozilla Firefox */
column-count: 3;
}

.split-ul-2 ul{
  -webkit-column-count: 2;  /* Chrome/Opera, Safari */
-moz-column-count: 2; /* Mozilla Firefox */
column-count: 2;
}
.mt-lg-img-35 {
  height: 35vh !important;
}
}

@media (max-width: 768px){
  .mt-5rem {
    margin-top: 0rem ;
  }
  .mt-8rem {
    margin-top: 0rem ;
  }
  .img-sm-fluid{
    width: 100%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  }
  .modal {
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.split-ul-3 ul{
  -webkit-column-count: 1;  /* Chrome/Opera, Safari */
-moz-column-count: 1; /* Mozilla Firefox */
column-count: 1;
}
.split-ul-2 ul{
  -webkit-column-count: 1;  /* Chrome/Opera, Safari */
-moz-column-count: 1; /* Mozilla Firefox */
column-count: 1;
}

}


.mb-10per{
  margin-bottom: 10% !important;
}
.mb-20per{
  margin-bottom: 20% !important;
}
.mb-30per{
  margin-bottom: 30% !important;
}
.mb-40per{
  margin-bottom: 40% !important;
}
.mb-50per{
  margin-bottom: 50% !important;
}

.mt-10per{
  margin-top: 10% !important;
}
.mt-20per{
  margin-top: 20% !important;
}
.mt-30per{
  margin-top: 30% !important;
}
.mt-40per{
  margin-top: 40% !important;
}
.mt-50per{
  margin-top: 50% !important;
}

.main-loader {
  display: inline-block;
  width: 40%;
  height: 100px;
  background: url('../../../common/assets/images/studentplacement/blue_spinner.gif') no-repeat 50% 50%;
}
.main-loader2 {
  display: inline-block;
  width: 100%;
  height:50vh;
  background: url('../../../common/assets/images/paymntloading.gif') no-repeat 50% 50%;
}
/* @media (min-width: 1200px){

.container {
    max-width: 98%;
}
   
} */

@media (min-width: 992px) and (max-width: 1199.98px) { 
  .container {
    max-width: 98%;
}
 }

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.g-recaptcha{
  position: relative;
  width: fit-content
}



.custom-widget-modal{
    /* width: 698px; *//*18-01-2021-mobile view popup width change*/
    width: 100%; /*18-01-2021-mobile view popup width change*/
    border-radius: 0;
    border: 1px solid #ffffff !important;
    overflow: hidden;
}
.custom-widget-modal img{
   width: 100%;
}
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1977cc;
    border-top-color: #d1e6f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #1977cc;
    color: #fff;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: #1c84e3;
    color: #fff;
  }
  
  .datepicker-dropdown {
    padding: 20px !important;
  }
  @media (min-width: 992px){
.text-indent-lg-1 {
    text-indent: 1rem ;
}
}
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: #fff;
    height: 60px;
    font-size: 0.875rem;
    transition: all 0.5s;
  }
  
  #topbar.topbar-scrolled {
    top: -50px;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #444444;
    transition: 0.3s;
    font-size: 1rem;
  }
  
  #topbar .contact-info a:hover {
    color: #1977cc;
  }
  
  #topbar .contact-info i {
    color: #1977cc;
    padding-right: 4px;
    margin-left: 15px;
  }
  
  #topbar .contact-info i:first-child {
    margin-left: 0;
  }
  
  #topbar .social-links a {
    color: #437099;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  
  #topbar .social-links a:hover {
    color: #1977cc;
  }
  
  #topbar .social-links a:first-child {
    border-left: 0;
  }
  #topbar .btn-group{
    border: 1px solid #1977cc;
    border-radius: 40px !important;
  }
  #topbar .btn-group .btn-default:hover{
    border-radius: 40px !important;
    background: #1977cc;
    color: white;
  }
  .top-header-btngrp .btn:focus {
    outline: none !important;
    }
    .top-header-btngrp .btn {
      outline: none !important;
      }
      #topbar .btn-group .btn-default:hover, 
      #topbar .btn-group .btn-default:focus, 
      #topbar .btn-group .btn-default:active {
        outline: none !important;
       box-shadow: none !important;
    }
  .btn-group-active{
    border-radius: 40px !important;
    background: #1977cc;
    color: white;
    outline: none !important;
   
  }
  .btn-group-active:focus {
    outline: none !important;
    }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 50px;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }
  
  #header.header-scrolled {
    top: 0;
  }
  
  #header .logo {
    font-size: 2rem;
    margin-top:0px;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #2c4964;
  }
  
  #header .logo img {
    max-height: 100px;
  }
  
  @media (max-width: 992px) {
    #header {
      top: 0;
    }
    #header .logo {
      font-size: 1.75rem;
      margin:0px;
    }
    #header .logo img {
      max-height: 40px;
  }
  #header {
    background: #fff;
    transition: all .5s;
    z-index: 997;
    padding: 8px 0;
    top: 0px;
    box-shadow: 0 2px 15px rgba(25,119,204,.1);
}
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul {
    display: flex;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #2c4964;
    transition: 0.3s;
    font-size: 1rem;
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Poppins';
    padding: 5px 2px;
    border-bottom: 2px solid #fff;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #1977cc;
    border-color: #1977cc;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    color: #082744;
    border: none;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #1977cc;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  /* Get Startet Button */
  .appointment-btn {
    margin-left: 25px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size:  1rem;
    display: inline-block;
  }
  
  .appointment-btn:hover {
    background: #166ab5;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .appointment-btn {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 1.5rem;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #1977cc;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    /* padding: 0; */
    list-style: none;
  }
  .mobile-nav .Search-button{
    width: 90%;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #2c4964;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #1977cc;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(28, 47, 65, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }


/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
.slider-area {
  color: #fff;
  position: relative;
  text-align: center;
}

.slider-content {
  padding: 180px 60px;
}

.nivo-caption::after {
  background: #0e0b0b none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.layer-1-2 {
  margin: 20px 0;
}

.layer-1-1 h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.layer-1-2 h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

.layer-1-3 {
  margin: 50px 0 0;
}

.layer-1-3 a.ready-btn {
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-top: 30px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  z-index: 222;
}

.layer-1-3 a.ready-btn:hover {
  color: #fff;
  background: #1977CC;
  border: 1px solid #1977CC;
  text-decoration: none;
}

.ready-btn.right-btn {
  margin-right: 15px;
  background: #1977CC;
  border: 1px solid #1977CC !important;
}

.ready-btn.right-btn:hover {
  background: transparent !important;
  border: 1px solid #fff !important;
}

.nivo-controlNav {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 8;
}

.nivo-directionNav {
  display: block;
}

.nivo-controlNav a {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fff;
  box-shadow: none;
  display: inline-block;
  font-size: 0;
  height: 10px;
  margin: 5px 3px;
  opacity: 1;
  text-align: center;
  text-indent: inherit;
  vertical-align: top;
  width: 10px;
  border-radius:30px;
}

.nivo-controlNav a:hover, .nivo-controlNav a.active {
  background: #fff none repeat scroll 0 0;
  border-color: #1977CC;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/* Normal desktop :992px. */
@media (min-width: 1400px) and (max-width: 1920px) {
  .slider-content {
    padding: 340px 0;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .slider-content {
    padding: 144px 0;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .slider-content {
    padding: 93px 0;
  }
  .layer-1-2 h1 {
    font-size: 22px;
    line-height: 24px;
  }
  .layer-1-3 a.ready-btn {
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 767px) {
  .nivo-directionNav {
    display: none;
  }
  .slider-content {
    padding: 46px 0px;
  }
  .layer-1-2 {
    margin: 10px 0;
  }
  .layer-1-1 h2 {
    font-size: 14px;
    line-height: 16px;
  }
  .layer-1-2 h1 {
    font-size: 14px;
    line-height: 16px;
  }
  .layer-1-3 a.ready-btn {
    font-size: 12px;
    margin-top: 10px;
    padding: 8px 10px;
  }
  .layer-1-3 {
    margin: 10px 0 0;
  }
  .nivo-controlNav {
    bottom: -24px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .slider-content {
    padding: 70px 0px;
  }
  .layer-1-1 h2, .layer-1-2 h1 {
    font-size: 24px;
    line-height: 30px;
  }
}

/* -------------------------------------
preview-1
---------------------------------------- */
.preview-1 .nivoSlider {
  position: relative;
  background: url(../lib/nivo-slider/img/loading.gif) no-repeat 50% 50%;
}

.preview-1 .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.preview-1 .nivoSlider a {
  border: 0;
  display: block;
}

.preview-1 .nivo-controlNav {
  text-align: center;
  padding: 20px 0;
}

.preview-1 .nivo-controlNav a {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../lib/nivo-slider/img/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin: 0 2px;
}

.preview-1 .nivo-controlNav a.active {
  background-position: 0 -22px;
}

.preview-1 .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../lib/nivo-slider/img/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.preview-1:hover .nivo-directionNav a {
  opacity: 1;
}

.nivo-prevNav {
  left: 15px;
}

.nivo-nextNav {
  right: 15px;
}

.preview-1 a.nivo-nextNav {
  background-position: -30px 0;
}

.preview-1 .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

.preview-1 .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

.preview-1 .nivo-caption a:hover {
  color: #fff;
}

.preview-1 .nivo-controlNav.nivo-thumbs-enabled {
  width: 100%;
}

.preview-1 .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px;
}

.preview-1 .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  width: 120px;
  height: auto;
}

.preview-1 .nivo-controlNav {
  position: relative;
  z-index: 99999;
  bottom: 68px;
}

.preview-1 .nivo-controlNav a {
  border: 5px solid #fff;
  display: inline-block;
  height: 18px;
  margin: 0 5px;
  text-indent: -9999px;
  width: 18px;
  line-height: 8px;
  background: #3c3c3c;
  cursor: pointer;
  position: relative;
  z-index: 9;
  border-radius: 100%;
  opacity: 0;
  z-index: -999;
}

.preview-1:hover .nivo-controlNav a {
  opacity: 1;
  z-index: 999999;
}

.preview-1 .nivo-controlNav a:hover, .preview-1 .nivo-controlNav a.active {
  background: #000;
  cursor: pointer;
}

/* -------------------------------------
preview-2
---------------------------------------- */
.preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-prevNav {
  left: 50px;
}

.preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-nextNav {
  right: 50px;
}

.preview-2 .nivoSlider .nivo-directionNav a.nivo-prevNav {
  font-size: 0;
}

.preview-2 .nivoSlider .nivo-directionNav a.nivo-nextNav {
  font-size: 0;
}

.preview-2 .nivo-directionNav a.nivo-prevNav::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #ffffff;
  content: "";
  cursor: pointer;
  font: 300 50px/50px FontAwesome;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 300ms ease-in 0s;
  z-index: 9;
  font-weight: 100;
  left: 0px;
  width: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 30px;
}

.preview-2 .nivo-directionNav a.nivo-nextNav:hover:before, .preview-2 .nivo-directionNav a.nivo-prevNav:hover:before {
  border-color: #1977CC;
  color: #fff;
  background: #1977CC;
}

.preview-2 .nivo-directionNav a.nivo-nextNav::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #ffffff;
  content: "";
  cursor: pointer;
  font: 100 30px/50px FontAwesome;
  height: 50px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 50%;
  transition: all 300ms ease-in 0s;
  width: 50px;
  z-index: 9;
  font-size: 30px;
}

.niceties.preview-2 {
  position: relative;
  height: 100%;
}



  /*-------------------------------------------------------------
  videoplaye css
  -------------------------------------------------------------*/
  .video-player .whts-include {
    background: url("../../../common/assets/videos/What_is_Acca.png") center center no-repeat;
    background-size: contain;
    min-height: 200px;
  }
  .video-player .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .video-player .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .video-player  .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(25, 119, 204, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .video-player  .play-btn:hover::after {
    border-left: 15px solid #1977cc;
    transform: scale(20);
  }
  
  .video-player  .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 40vh;
    /* background: url("../img/hero-bg.jpg") top center; */
    background-size: cover;
    position: relative;
    margin-bottom: -200px;
  }
  
  #hero .container {
    position: relative;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #2c4964;
  }
  
  #hero h2 {
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 1.5rem;
  }
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
  }
  
  #hero .btn-get-started:hover {
    background: #3291e6;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 992px) {
    #hero {
      margin-bottom: 0;
      height: 100vh;
    }
    #hero .container {
      padding-bottom: 63px;
    }
    #hero h1 {
      font-size: 1.75rem;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 1.125rem;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: auto;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f1f7fd;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  .content ul  {
    list-style: none;
    padding: 0;
    padding-left: 3%;
}
 .content ul li {
  /* padding-bottom: 10px; */
  font-size: 1.1rem;
  /* line-height:2em; */
  padding-left:0px;
  padding-top:5px;
  padding-bottom:5px;
  list-style-type:none;
  list-style:none;
  /* display: table-row; */
  display: -webkit-box;

}
.content ul li:before{
  /* font-family: 'FontAwesome';
  content: "\f192"; */
  fill: #428bca;
  margin-right:15px;
  display: table-cell;
  /* content: "\ea99";
  font-family: IcoFont; */
  /* content: url('../../../common/assets/images/icons/check-double-line.svg?height=12'); */
  /* content: url('../../../common/assets/images/icons/mclogo24x24.png?height=14'); */
  content: url(../../../common/assets/images/icons/mc_logo_24x24.png?height=18);/**30-11-2020-bullet logo*/
  
vertical-align: -0.125em;
padding-right: 10px;
}
 .custom_list li:before {
  font-family: 'FontAwesome';
  content: "\f192";
  color: black;
  margin-right:15px;
  display: table-cell;
  /* check-double-line.svg */
 }
   .content ul i {
    /* font-size: 1.25rem; */
    /* font-size: 1.1rem; */
    padding-right: 4px;
    color: #428bca;
    display: none
}

.content ol  {
  list-style: none;
  padding: 0;
  padding-left: 3%;
}
.content ol li {
/* padding-bottom: 10px; */
font-size: 1.1rem;
line-height:2em;
padding-left:0px;
padding-top:5px;
padding-bottom:5px;
list-style-type:none;
list-style:none;
display: table-row;

}
.content ol li:before{
/* font-family: 'FontAwesome';
content: "\f192"; */
fill: #428bca;
margin-right:15px;
display: table-cell;
/* content: "\ea99";
font-family: IcoFont; */
/* content: url('../../../common/assets/images/icons/check-double-line.svg?height=12'); */
content: url('../../../common/assets/images/icons/mclogo24x24.png?height=14');

vertical-align: -0.125em;
padding-right: 10px;
}
.custom_list li:before {
font-family: 'FontAwesome';
content: "\f192";
color: black;
margin-right:15px;
display: table-cell;
/* check-double-line.svg */
}
 .content ol i {
  /* font-size: 1.25rem; */
  /* font-size: 1.1rem; */
  padding-right: 4px;
  color: #428bca;
  display: none
}
    /*--------------------------------------------------------------
  # slide section
  --------------------------------------------------------------*/
  #slidesection{
    padding-bottom: 0;
    margin-top: 5rem;
    padding-top: 100px;
  }
  .mobile-slide-section .carousel-inner img ::after {
    content: '';
    background-color: rgba(45, 103, 60, 0.8);
}
  
  #slidesection .carousel-control-next,#slidesection .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    /* opacity: .5; */
    opacity: 1;
    transition: opacity .15s ease;
}
#slidesection .carousel-control-next-icon, #slidesection .carousel-control-prev-icon {
  /* background: none;
  font-size: 2.25rem;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgb(25, 119, 204);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5); */
  background: 0 0;
    font-size: 2.25rem;
    line-height: 1;
    width: auto;
    height: auto;
    background: transparent;
    border-radius: 50px;
    padding: 10px;
    transition: .3s;
    color: rgb(26 119 204);

}
#slidesection .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
  border: 2px solid #1977cc;
}

#slidesection .carousel-indicators li.active {
  opacity: 1;
  background: #1977cc;
}
  @media (max-width: 768px) {
    #slidesection {
      margin-top: 1rem;
      padding-bottom: 0;
      padding-top: 45px;
    }
    #slidesection .carousel-indicators li {
      cursor: pointer;
      background: #fff;
      overflow: hidden;
      border: 0;
      width: 5px;
      height: 5px;
      border-radius: 50px;
      opacity: .6;
      transition: .3s;
      border: 2px solid #1977cc;
  }
  }
  .banner-tagline{
    width: auto;
    background-color: red;
  }
  .banner-tagline-p{
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 5px 7px;
    margin: 0;
    background: #c80000;
    color: white;
    /* display: inline-block; */
    /* text-transform: uppercase; */
    /* border-radius: 50px; */
    width: 100%;
    font-style:italic;
    text-align: end;
  }
  .mobileslide .carousel-caption {
    position: absolute;
    right: 10%;
    bottom: 20px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.mobileslide .carousel-control-next,   .mobileslide .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 10%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}
@media (orientation: landscape) and (max-width: 777px) {
  .banner-tagline-p{
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 5px 7px;
    margin: 0;
    background: #c80000;
    color: white;
    /* display: inline-block; */
    /* text-transform: uppercase; */
    /* border-radius: 50px; */
    width: fit-content;
    font-style:italic;
    text-align: end;
    float: right;
  }
  /* .mobileslide .carousel-item{
     height: vh;
  } */
  /* .mb-20per{
    margin-bottom: auto;
  } */
}
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0;
    background-color: #f1f7fd;
    min-height: 40px;
    margin-top: 120px;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 63px;
    }
  }
  
  .breadcrumbs h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:  0.875rem;
  }
  
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  /*--------------------------------------------------------------
  # Why Us
  --------------------------------------------------------------*/
  .why-us .content {
    padding: 30px;
    background: #1977cc;
    border-radius: 4px;
    color: #fff;
  }
  
  .why-us .content h3 {
    font-weight: 700;
    font-size: 2.125rem;
    margin-bottom: 30px;
  }
  
  .why-us .content p {
    margin-bottom: 30px;
  }
  
  .why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
  }
  
  .why-us .content .more-btn i {
    font-size:  0.875rem;
  }
  
  .why-us .content .more-btn:hover {
    color: #1977cc;
    background: #fff;
  }
  
  .why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
  }
  
  .why-us .icon-boxes .icon-box i {
    font-size: 2.5rem;
    color: #1977cc;
    margin-bottom: 30px;
  }
  
  .why-us .icon-boxes .icon-box h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 30px 0;
  }
  
  .why-us .icon-boxes .icon-box p {
    font-size: 0.938rem;
    color: #848484;
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .icon-boxes h4 {
    font-size: 1.125rem;
    color: #4b7dab;
    margin-bottom: 15px;
  }
  .about .content ul  {
    list-style: none;
    padding: 0;
    padding-left: 3%;
}
/* .about .content ul li {
  padding-bottom: 10px;
} */
  .about .content ul i {
    /* font-size: 1.25rem; */
    padding-right: 4px;
    color: #428bca;
}
  
  .about .icon-boxes h3 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #2c4964;
    margin-bottom: 15px;
  }
  
  .about .icon-box {
    margin-top: 40px;
  }
  
  .about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #8dc2f1;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .about .icon-box .icon i {
    color: #1977cc;
    font-size: 2rem;
  }
  
  .about .icon-box:hover .icon {
    background: #1977cc;
    border-color: #1977cc;
  }
  
  .about .icon-box:hover .icon i {
    color: #fff;
  }
  
  .about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.125rem;
  }
  
  .about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
  }
  
  .about .icon-box .title a:hover {
    color: #1977cc;
  }
  
  .about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    /*  font-size: 0.875rem;; */
    font-size: 1.1rem;
  }
  
  .about .video-box {
    background: url("../../../common/assets/videos/What_is_Acca.png") center center no-repeat;
    background-size: contain;
    min-height: 500px;
  }
  
  .about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .about .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .about .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(25, 119, 204, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .about .play-btn:hover::after {
    border-left: 15px solid #1977cc;
    transform: scale(20);
  }
  
  .about .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  @media (max-width: 768px) {
    .about .icon-box .icon {
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border: 2px solid #8dc2f1;
      border-radius: 50px;
      transition: .5s;
  }

  .about .icon-box .icon i {
    color: #1977cc;
    font-size: 1rem;
} 
.about .icon-box .description {
  margin-left: 50px;
  line-height: 24px;
  font-size: 1rem;
}
.about .icon-box {
  margin-top: 10px;
}
  }

  /*--------------------------------------------------------------
  # vimeosection
  --------------------------------------------------------------*/
  #vimeosection .card {
  border: none;
  background: transparent;
}
#vimeosection h4 {
  font-size: 100%;
  font-weight: 700;

}
  #vimeosection .card iframe {
    width: 100%;
    height: 30vh;
}
  .vimeosection {
    background: #f1f7fd;
    padding: 70px 0 60px;
  }
  
  .vimeosection .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
  }
  
  .vimeosection .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
     font-size: 1.5rem;
    background: #1977cc;
    padding: 12px;
    color: #fff;
    border-radius: 50px;
  }
  
  .vimeosection .count-box span {
     font-size: 2.25rem;
    display: block;
    font-weight: 600;
    color: #082744;
  }
  
  .vimeosection .count-box p {
    padding: 0;
    margin: 0;
    /* font-family: "Raleway", sans-serif; */
    font-size:  0.875rem;
  }
  @media (max-width: 768px) {
    .vimeosection{
      padding-top: 30px;
    }
  }
  /*--------------------------------------------------------------
  # Syllabus section2
  --------------------------------------------------------------*/
  .mc-exam-tabs  .nav-pills{
    background-color: transparent;
    border: none;
}
.mc-exam-tabs .nav-pills  a{
    color: #333;
    background: #f5f5f5;
    font-size: 1rem;
    font-weight: 600;
    padding: 11px 15px 10px;
    margin: 0 10px 1px 0;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.mc-exam-tabs .nav-pills :last-child a{ margin-right: 0; }
.mc-exam-tabs   .nav-pills  a:hover,
.mc-exam-tabs  .nav-pills .active a{
    color: #fff;
    background: #f5f5f5;
    border: none;
}
.mc-exam-tabs .nav-pills  a:before{
    content: '';
    background: #1977cc;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: scale(0.5);
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    transition: opacity 0.4s ease 0s,left 0.3s ease 0s,transform 0.4s ease 0.2s;
}
.mc-exam-tabs .nav-pills .active a:before,
.mc-exam-tabs  .nav-pills  a:hover:before{
    opacity: 1;
    transform: scale(1);
    left: 0;
}
.mc-exam-tabs .nav-pills .nav-link.active,.mc-exam-tabs .nav-pills .show>.nav-link{
  background-color: #1977cc;
}
.mc-exam-tabs .tab-content{
  color: #333;
  /* background: linear-gradient(to right bottom,#f5f5f5 50%, transparent 50%); */
  font-size:  0.875rem;
  letter-spacing: 1px;
  line-height: 25px;
  padding: 20px;
  border-top: 4px solid #1977cc;
  border-left: 4px solid #1977cc;
  position: relative;
  height: 100%;
}
.mc-exam-tabs .col-3,.mc-exam-tabs .col-9{
  padding-right: 0px;
    padding-left: 0px;
}
@media (max-width: 768px) {
  .mc-exam-tabs .tab-content{
    color: #333;
   
     font-size: 0.625rem;
    letter-spacing: 0px;
    line-height: 19px;
    padding: 5px;
    border-top: 4px solid #1977cc;
    border-left: 4px solid #1977cc;
    position: relative;
  }
  .mc-exam-tabs .nav-pills  a{
    color: #333;
    background: #f5f5f5;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px 5px 5px;
    margin: 0 5px 1px 0;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.mc-exam-tabs .tab-content p {
  font-size: 0.8rem;
}
/* .mc-exam-tabs .col-3,.mc-exam-tabs .col-9{
  padding-right: 15px;
    padding-left: 15px;
} */
.mc-exam-tabs .tab-content .content ul li {
  font-size: 1rem;
  line-height: 1em;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  list-style: none;
  display: -webkit-box;
}
.mc-exam-tabs .tab-content .content ol li {
  font-size: 1rem;
  line-height: 1rem;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  list-style: none;
  display: -webkit-box;
  
}
  
}
  /*--------------------------------------------------------------
  # Syllabus section
  --------------------------------------------------------------*/
  .syllabus-section {
    overflow: hidden;
  }
  
  .syllabus-section .nav-tabs {
    border: 0;
  }
  
  .syllabus-section .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #2c4964;
    border-radius: 0;
    border-right: 2px solid #ebf1f6;
    font-weight: 600;
     font-size: 0.938rem;
  }
  
  .syllabus-section .nav-link:hover {
    color: #1977cc;
  }
  
  .syllabus-section .nav-link.active {
    color: #1977cc;
    border-color: #1977cc;
  }
  
  .syllabus-section .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
  }
  
  .syllabus-section .details h3 {
     font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2c4964;
  }
  
  .syllabus-section .details p {
    color: #777777;
  }
  
  .syllabus-section .details p:last-child {
    margin-bottom: 10px;
  }
  .syllabus-green-ol-bullets li {
    padding: 0px;
    min-height: 0px;
    margin: 0;
    list-style-type: none;
    list-style-position: outside;
    clear: both;
    position: relative;
}
  .syllabus-green-bullet {
    background-color: #4baf4f;
    color: #ffffff;
    height: 1.45em;
    width: 1.45em;
    line-height: 1.45em;
    font-size: inherit;
    margin-right: 0.25em;
    text-align: center;
    border-radius: 500px;
    position: relative;
    float: left;
    margin-left: 2px;
    z-index: 5;
}
  @media (max-width: 992px) {
    .syllabus-section .nav-link {
      border: 0;
      padding: 15px;
    }
    .syllabus-section .nav-link.active {
      color: #fff;
      background: #1977cc;
    }
    
  }
  @media (min-width: 992px){
    #syllabus-pills-tabContent ol{
      line-height: 3rem ;
    }
}
  /* .services .icon-box {
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #1977cc;
    border-radius: 5px;
    transition: all .3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: '';
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: #badaf7;
    border-radius: 5px;
    transition: all .3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
     font-size: 1.5rem;
  }
  
  .services .icon-box h4 a {
    color: #2c4964;
  }
  
  .services .icon-box p {
    line-height: 24px;
     font-size: 0.875rem;;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background: #1977cc;
    border-color: #1977cc;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #1977cc;
  }
  
  .services .icon-box:hover .icon::before {
    background: #3291e6;
  }
  
  .services .icon-box:hover h4 a, .services .icon-box:hover p {
    color: #fff;
  } */
  
  /*--------------------------------------------------------------
  # Appointments
  --------------------------------------------------------------*/
  .appointment .php-email-form {
    width: 100%;
  }
  
  .appointment .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .appointment .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
     font-size: 0.813rem;
  }
  
  .appointment .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .appointment .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .appointment .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .appointment .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .appointment .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .appointment .php-email-form input, .appointment .php-email-form textarea, .appointment .php-email-form select {
    border-radius: 0;
    box-shadow: none;
    font-size:  0.875rem;
    padding: 10px !important;
  }
  
  .appointment .php-email-form input:focus, .appointment .php-email-form textarea:focus, .appointment .php-email-form select:focus {
    border-color: #1977cc;
  }
  
  .appointment .php-email-form input, .appointment .php-email-form select {
    height: 44px;
  }
  
  .appointment .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .appointment .php-email-form button[type="submit"] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .appointment .php-email-form button[type="submit"]:hover {
    background: #1c84e3;
  }
   /*--------------------------------------------------------------
  #   acca-course-offering
  --------------------------------------------------------------*/
.acca-course-offering .media .media-body h5{
  /* font-size: 0.9rem; */
  font-size: 0.8rem;
}
.kaplan-container .content ul li {
  font-size: 1rem;
}
  /*--------------------------------------------------------------
  # Departments
  --------------------------------------------------------------*/
  .departments {
    overflow: hidden;
  }
  
  .departments .nav-tabs {
    border: 0;
  }
  
  .departments .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #2c4964;
    border-radius: 0;
    border-right: 2px solid #ebf1f6;
    font-weight: 600;
     font-size: 0.938rem;
  }
  
  .departments .nav-link:hover {
    color: #1977cc;
  }
  
  .departments .nav-link.active {
    color: #1977cc;
    border-color: #1977cc;
  }
  
  .departments .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
  }
  
  .departments .details h3 {
     font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2c4964;
  }
  
  .departments .details p {
    color: #777777;
  }
  
  .departments .details p:last-child {
    margin-bottom: 0;
  }
  
  @media (max-width: 992px) {
    .departments .nav-link {
      border: 0;
      padding: 15px;
    }
    .departments .nav-link.active {
      color: #fff;
      background: #1977cc;
    }
  }
  
  /*--------------------------------------------------------------
  # Doctors
  --------------------------------------------------------------*/
  .doctors {
    background: #fff;
  }
  
  .doctors .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    padding: 30px;
    border-radius: 10px;
  }
  
  .doctors .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .doctors .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .doctors .member:hover img {
    transform: scale(1.1);
  }
  
  .doctors .member .member-info {
    padding-left: 30px;
  }
  
  .doctors .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.25rem;
    color: #2c4964;
  }
  
  .doctors .member span {
    display: block;
     font-size: 0.938rem;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .doctors .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
  }
  
  .doctors .member p {
    margin: 10px 0 0 0;
    font-size:  0.875rem;
  }
  
  .doctors .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .doctors .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a0bcd5;
  }
  
  .doctors .member .social a i {
    color: #fff;
    font-size: 1rem;
    margin: 0 2px;
  }
  
  .doctors .member .social a:hover {
    background: #1977cc;
  }
  
  .doctors .member .social a + a {
    margin-left: 8px;
  }
  
 
  /*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
  font-size: 1.1rem;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list .faq-ul-list .faq-li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  /*  font-size: 0.875rem;; */
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
}

.faq .faq-list .icon-help {
  font-size: 1.25rem;
  position: absolute;
  right: 0;
  left: 20px;
  color: #76b5ee;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
   font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #1977cc;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}
/* .accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
} */
  /*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.studenttestimonials {
  /* padding: 80px 0; */
  padding: 1px 0;
  background: url("../../../common/assets/images/testimonialbg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.studenttestimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(8, 10, 11, 0.7);
}

.studenttestimonials .section-header {
  margin-bottom: 40px;
}

.studenttestimonials .testimonial-item {
  text-align: center;
  color: #fff;
}

.studenttestimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.studenttestimonials .testimonial-item h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.studenttestimonials .testimonial-item h4 {
  font-size:  0.875rem;
  color: #ddd;
  margin: 0 0 15px 0;
}

.studenttestimonials .testimonial-item .quote-icon-left, .studenttestimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
   font-size: 1.625rem;
}

.studenttestimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.studenttestimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.studenttestimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
  font-size: 1.25rem;
}

.studenttestimonials .owl-nav, .studenttestimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.studenttestimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.studenttestimonials .owl-dot.active {
  background-color: #01b1d7 !important;
}

@media (min-width: 1024px) {
  .studenttestimonials {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  .studenttestimonials .testimonial-item p {
    width: 80%;
  }
}
.studenttestimonials .owl-carousel .nav-btn{
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
 /* top: 100px !important;*/ /* design */
 top: 50% !important;
}

.studenttestimonials .owl-carousel .owl-prev.disabled,
.studenttestimonials .owl-carousel .owl-next.disabled{
pointer-events: none;
opacity: 0.2;
}

.studenttestimonials .owl-carousel .prev-slide{
  /* background: url('../../../common/assets/images/icons/chevron-left-regular.png') no-repeat scroll 0 0; */
  background: url('../../../common/assets/images/icons/arrow-left-s-line.svg') no-repeat scroll 0 0;
  left: -15px;
}
.studenttestimonials .owl-carousel .next-slide{
  /* background: url('../../../common/assets/images/icons/chevron-right-regular.png') no-repeat scroll -20px 0px; */
  background: url('../../../common/assets/images/icons/arrow-right-s-line.svg') no-repeat scroll 31px 0px;
  right: 0px;
 
}
.studenttestimonials .owl-carousel .prev-slide:hover{
 background-position: 0px -53px;
}
.studenttestimonials .owl-carousel .next-slide:hover{
background-position: -24px -53px;
}
@media (max-width: 768px) {
  .studenttestimonials .owl-carousel .prev-slide{
    background: url('../../../common/assets/images/icons/chevron-left-regular.png') no-repeat scroll 0 0;
    left: -22px;
  }
  .studenttestimonials .owl-carousel .nav-btn{
    height: 50px;
    position: absolute;
    width: 50px;
    cursor: pointer;
    top: 35% !important;
  }
 
  
}
/*--------------------------------------------------------------
# exams-section
--------------------------------------------------------------*/
.exams-section {
  overflow: hidden;
}

.exams-section .nav-tabs {
  border: 0;
}

.exams-section .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #2c4964;
  border-radius: 0;
  border-right: 2px solid #ebf1f6;
  font-weight: 600;
   font-size: 0.938rem;
}

.exams-section .nav-link:hover {
  color: #1977cc;
}

.exams-section .nav-link.active {
  color: #1977cc;
  border-color: #1977cc;
}

.exams-section .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.exams-section .details h3 {
   font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c4964;
}

.exams-section .details p {
  color: #777777;
}

.exams-section .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .exams-section .nav-link {
    border: 0;
    padding: 15px;
  }
  .exams-section .nav-link.active {
    color: #fff;
    background: #1977cc;
  }
}
/*---------------------------------------------------------------
#student placement section
---------------------------------------------------------------*/
#student_placement  .item img{
  display: block;
  width: 100%;
  height: auto;
}
#student_placement .carousel-control-next,#student_placement .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 5%;
  color: #fff;
  text-align: center;
  /* opacity: .5; */
  opacity: 1;
  transition: opacity .15s ease;
}
#student_placement .carousel-control-next-icon, #student_placement .carousel-control-prev-icon {
background: none;
 font-size: 2.25rem;
line-height: 1;
width: auto;
height: auto;
/* background: rgb(25, 119, 204); */
background: transparent;
border-radius: 50px;
padding: 10px;
transition: 0.3s;
color: rgb(25, 119, 204);
}
#student_placement .carousel-indicators li {
cursor: pointer;
background: #fff;
overflow: hidden;
border: 0;
width: 12px;
height: 12px;
border-radius: 50px;
opacity: .6;
transition: 0.3s;
border: 2px solid #1977cc;

}

#student_placement .carousel-indicators li.active {
opacity: 1;
background: #1977cc;
}
  /*--------------------------------------------------------------
  # Gallery
  --------------------------------------------------------------*/
  .gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  
  .gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
  }
  
  .gallery .gallery-item:hover img {
    transform: scale(1.1);
  }
  
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 1.25rem;
    color: #1977cc;
    float: left;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
     font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2c4964;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size:  0.875rem;
    color: #4b7dab;
    line-height: 1.5rem;
  }
  
  .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #1977cc;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
     font-size: 0.813rem;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea ,.contact .php-email-form select{
    border-radius: 0;
    box-shadow: none;
     font-size: 0.875rem;
  }
  
  .contact .php-email-form input , .contact .php-email-form select  {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #1c84e3;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    /* background: #202120; */
    /* background: #d9e2d9; */
    background: #f4f7f9;
    padding: 0 0 0px 0;
    color: #707070;
     font-size: 0.875rem;
}
  
#footer .footer-top {
  /* background:  #1c1f1c; */
  /* background:#d3d8d2; */
  background:#f7fbfb;
  padding: 60px 0 30px 0;
}
  
  #footer .footer-top .footer-contact {
    margin-bottom: 10px;
  }
  
  #footer .footer-top .footer-contact h4 {
     font-size: 1.375rem;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
     font-size: 0.875rem;
    line-height: 28px;
    margin-bottom: 0;
    
    color: #777777;
  }
  
  #footer .footer-top h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1c84e3;
    font-size: 1.125rem;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #1977cc;
  }
  
  #footer .footer-newsletter {
     font-size: 0.938rem;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
  }
  
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 1rem;
    padding: 0 20px;
    background: #1977cc;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #1c84e3;
  }
  
  #footer .credits {
    padding-top: 5px;
     font-size: 0.813rem;
    color: #444444;
  }
  
  #footer .social-links a {
    font-size: 1.125rem;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-top .footer-links.content ul li {
    padding: 0px 0;
    display: flex;
    align-items:unset;
}
#footer .footer-top .footer-links.content ul li:before {
  fill: #428bca;
  margin-right: 0px;
  display: table-cell;
  content: url(../../../common/assets/images/icons/mc_logo_24x24.png?height=18);/**30-11-2020-bullet logo*/
  vertical-align: -.125em;
  padding-right: 10px;
}
#footer .footer-top .footer-links.content ul li {
  font-size: 0.875rem;
  line-height: 2em;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  list-style: none;
  display: -webkit-box;
}
  /*--------------------------------------------------------------
# ACCA Diploma in Accounting & Business
--------------------------------------------------------------*/
.diploma-accounting-scetion .student-progression-img .img-fluid{
  width: 100% !important;
}
.img-fluid-50{
  width: 50% !important;
}
  /*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background: #f0f4f8;
  padding: 15px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
}

.clients img:hover {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}





/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (min-width: 1920px) {
  .work-right-text {
    padding: 150px 150px;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .slider-content {
    padding: 146px 0;
  }
  .work-right-text {
    padding: 40px 0;
  }
  .work-right-text h2 {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .layer-1-1 h2 {
    font-size: 22px;
  }
  .layer-1-2 h1 {
    font-size: 31px;
    line-height: 38px;
    padding: 0px 30px;
  }
  .tab-menu ul.nav li a {
    padding: 10px 16px;
  }
  .suscribe-input input {
    width: 60%;
  }
  .suscribe-input button {
    width: 40%;
  }
  .team-content.text-center > h4 {
    font-size: 20px;
  }
  .sus-btn {
    margin-left: 0;
  }
  .suscribe-text h3 {
    font-size: 16px;
    padding-right: 20px;
  }
  .work-right-text h5 {
    font-size: 14px;
    line-height: 22px;
  }
  .work-right-text {
    padding: 36px 0;
  }
  .work-right-text h2 {
    font-size: 14px;
    line-height: 22px;
  }
  .work-right-text .ready-btn {
    font-size: 13px;
    padding: 7px 20px;
    margin-top: 5px;
  }
  .single-awesome-portfolio {
    width: 33.33%;
  }
  .widget-product a img {
    display: block;
    float: none;
    width: 100%;
  }
  .widget-product .product-info {
    display: block;
    float: none;
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .map-column {
    margin-left: 0;
    padding-right: 40px;
  }
  .post-information .entry-meta {
    font-size: 13px;
    padding: 5px 0;
  }
  .post-information .entry-meta span a {
    padding: 4px 0;
  }
  .service-pic {
    margin-bottom: 30px;
    text-align: center;
  }
  .single-add-itms {
    width: 50%;
  }
  .left-sidebar-title > h4 {
    font-size: 18px;
  }
  .contact-form {
    margin-top: 0px;
  }
  .search-option input {
    width: 67%;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .slider-area {
    margin-top: 60px;
  }
  .slider-content {
    padding: 80px 0;
  }
  .slider-content h2 {
    font-size: 15px!important;
    line-height: 18px!important;
  }
  .slider-content h1 {
    font-size: 17px!important;
    line-height: 18px!important;
    font-weight: 600;
  }
  .layer-1-3 a.ready-btn {
    padding: 8px 15px;
  }
  .section-headline h2 {
    font-size: 30px;
  }
  .well-middle .single-well {
    margin-top: 30px;
  }
  .single-skill {
    margin-bottom: 40px;
  }
  .tab-menu {
    margin-top: 30px;
  }
  .tab-menu ul.nav li a {
    padding: 8px 6px;
  }
  .wellcome-text {
    margin: 0px;
    padding: 70px 0px;
  }
  .subs-feilds {
    width: 100%;
  }
  .suscribe-input input {
    width: 60%;
  }
  .suscribe-input button {
    font-size: 15px;
    padding: 14px 10px;
    width: 40%;
  }
  .section-headline h3 {
    font-size: 25px;
  }
  .well-text > h2 {
    font-size: 18px;
  }
  .well-text p {
    display: none;
  }
  .single-team-member {
    margin-bottom: 30px;
  }
  .service-right {
    width: 100%;
  }
  .service-images:hover .overly-text {
    display: none;
  }
  .portfolio-area {
    padding-top: 0px;
  }
  .project-menu li a {
    padding: 8px 12px;
    margin: 10px 4px;
  }
  .pri_table_list {
    margin-bottom: 30px;
  }
  .single-awesome-project, .portfolio-2 .single-awesome-project {
    width: 100%;
    float: none;
  }
  .single-blog {
    margin-bottom: 30px;
  }
  .sus-btn {
    margin-left: 0;
    margin-top: 30px;
  }
  .contact-form {
    margin-top: 30px;
  }
  .head-team h5 {
    font-size: 22px;
  }
  .footer-content {
    margin-bottom: 30px;
  }
  .header-bottom h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .page-area .slider-content {
    padding: 500px 0;
  }
  .search-option input {
    width: 74%;
  }
  .header-bottom h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  li.threaded-comments {
    margin-left: 0;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .submitbtn {
    float: none;
    width: 99.8%;
  }
  .icons-bottom ul li a {
    height: 40px;
    line-height: 37px;
    width: 40px;
  }
  .blog-post-dlc ul li {
    padding-left: 20px;
    padding-right: 20px;
  }
  .awesome-portfolio-content .portfolio-2 {
    width: 50%;
  }
  .gallary-details .single-awesome-portfolio {
    width: 50%;
  }
  .tab-menu ul.nav li a {
    padding: 8px 20px;
  }
}

@media (max-width: 575px) {
  .slider-content {
    padding: 0;
  }
}

.float{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 80px;
    right: 10px;
    background-color: #1977cc;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    padding-top: 12px;
    animation: glowingblue 1.3s infinite;
    font-size: 15px;

}
.float-image img{
  position: fixed;
    width: 115px;
    bottom: 80px;
    right: 0px;
    /* color: #fff; */
    /* border-radius: 50px; */
    /* text-align: center; */
    /* font-size: 15px;
}
.my-float{
	margin-top:22px;
}

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #1977cc;
    box-shadow: 0 0 5px #2ba805;
  }
}

.animate-rotating {
        /* animation: blinkingText 1.3s infinite; */
        animation:blinkingText 1.2s infinite;
  }
@keyframes rotate {
  from {transform:rotate(0deg); }
  to {transform:rotate(360deg); }
}

@keyframes glowingblue {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}
@keyframes glowingred {
  0% { background-color: #f6440d; box-shadow: 0 0 3px #7f0000; }
  50% { background-color: #ff5e00; box-shadow: 0 0 10px #ff2600; }
  100% { background-color: #7f1900; box-shadow: 0 0 3px #ee2019; }
}
@keyframes blinkingText{
  0%{     color:#f6440d;    }
  49%{    color :#ff5e00; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color:#7f1900;    }
}


.sidepanel-tab {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 200px;
  background-color: #fff;
  -webkit-transform: translate(-100%,-50%);
  -ms-transform: translate(-100%,-50%);
  transform: translate(-100%,-50%);
  padding: 8px;
  border-radius: 15px 0 0 15px;
  -webkit-box-shadow: 2px 0 10px #00000022;
  box-shadow: 2px 0 10px #00000022;
  z-index: -1;
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}
.fixedbutton {
  position: fixed;
    bottom: 30%;
    right: -28px;
     /* width: 50px; */
    height: 40px; 
    background-color: #f61d1d;
    /* border-top-left-radius: 10px; */
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    
}
.rotate {
  font-size: 16px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  
}
.fixedbutton a{
  color: #fff;
}

/* .sidebtn-vertical{
  position: absolute;
  top: 50%;
  right:  0;
  width: 50px;
  height: 200px;
  background-color: #fff;
  -webkit-transform: translate(-100%,-50%);
  -ms-transform: translate(-100%,-50%);
  transform: translate(-100%,-50%);
  padding: 8px;
  border-radius: 15px 0 0 15px;
  -webkit-box-shadow: 2px 0 10px #00000022;
  box-shadow: 2px 0 10px #00000022;
  z-index: -1;
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
} */
.sidebtn-vertical{
  position: fixed;
  bottom: 25%;
  right: 0;
  width: 50px;
  height: 270px;
  background-color: #f11111;
  padding: 10px;
  border-radius: 70px 0 0 70px;
  -webkit-box-shadow: 2px 0 10px #00000022;
  box-shadow: 2px 0 10px #00000022;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.sidebtn-vertical a{
  /* color:#f50505 !important; */
  color:#fff !important;
}
.sidebtn-vertical:before {
  top: -14px;
  right: -1px;
}
.mirror{
  display: inline-block; 
  /* -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0); */
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.sidebtn-vertical:before,.sidebtn-vertical:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url('../../../common/assets/images/curve.svg');
  background-size: cover;
}
.sidebtn-vertical:after {
  bottom: -14px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  right: -1px;
}


.mirror{
  /* -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); */
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}