<!DOCTYPE html>
<html ng-app="microconnectlogin">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <title>MC-Admin | Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <!-- Bootstrap 3.3.7 -->
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap/v4/bootstrap.min.css"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="../assets/vendor/font-awesome/css/font-awesome.min.css"
    />

    <!-- Favicons -->
    <link href="../assets/images/icons/favicon.png" rel="icon" />
    <!-- Theme style -->
    <link rel="stylesheet" href="./login.css" />
    <link rel="stylesheet" href="../dist/css/Admin.min.css" />
    <!-- Toast -->
    <link rel="stylesheet" href="../assets/vendor/jquery-toast/toast.min.css" />
    <!-- Google Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
    />
  </head>
  <body class="hold-transition bg-light">
    <div class="wrapper" ng-controller="loginCtrl">
      <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body shadow-sm">
          <form
            class="form-signin"
            ng-submit="loginauth(login_data)"
            name="loginForm"
            role="form"
            novalidate
          >
            <div class="text-center mb-4">
              <img
                class="mb-4"
                src="../assets/images/icons/MC_Logo_Transparent.png"
                alt=""
              />
            </div>

            <!--<div class="form-label-group">
              <input
                type="email"
                id="inputEmail"
                class="form-control"
                ng-model="login_data.email"
                placeholder="Email address"
                required=""
                autofocus=""
              />
              <label for="inputEmail">Email address</label>
            </div>-->
            <div class="form-label-group">
              <input
                type="text"
                id="username"
                class="form-control"
                ng-model="login_data.username"
                placeholder="Username"
                required
              />
              <label for="inputEmail">Username</label>
              <div
                class="help-block"
                ng-messages="loginForm.role.$touched && loginForm.role.$error "
              >
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="required"
                >
                  Username is required
                </small>
              </div>
            </div>

            <div class="form-label-group">
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                ng-model="login_data.password"
                placeholder="Password"
                required
              />
              <label for="inputPassword">Password</label>
              <div
                class="help-block"
                ng-messages="loginForm.role.$touched && loginForm.role.$error "
              >
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="required"
                >
                  Password is required
                </small>
              </div>
            </div>

            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me" /> Remember me
              </label>
            </div>
            <button
              class="btn btn-lg btn-primary btn-block"
              type="submit"
              ng-disabled="loginForm.$invalid"
            >
              Sign in
            </button>
          </form>
        </div>
        <!-- /.login-box-body -->
      </div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="../assets/vendor/jquery/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../assets/vendor/bootstrap/v4/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../assets/vendor/fastclick/fastclick.js"></script>
    <!-- admin-mc App -->
    <!-- SlimScroll -->
    <!-- angularjs -->
    <script src="../assets/vendor/angular/angular.min.js"></script>
    <script src="../assets/vendor/angular/angular-ui-router.min.js"></script>
    <script src="../assets/vendor/angular/angular-sanitize.min.js"></script>
    <script src="../assets/vendor/angular/angular-messages.min.js"></script>
    <script src="../assets/vendor/angular/ng-file-upload-all.min.js"></script>
    <!-- toast-->
    <script src="../assets/vendor/jquery-toast/toast.min.js"></script>
    <!-- admin-mc -->
    <script src="../env.js"></script>

    <script src="../dist/microconnectAdmin.js"></script>
    <!-- <script src="../dist/microconnectAdmin.min.js?v=2020"></script> -->
  </body>
</html>
