<section id="getintouch" class="contact mt-8rem">
  <div class="container">
    <!--<div class="section-title">
      <h2>Try your ACCA Course for freeE</h2>
    </div>-->
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-xl-6 col-lg-6 d-flex flex-column align-items-stretch ">
       <div class="section-title">
      <h2>Try your ACCA Course for free</h2>
      <p>If you want to see what your course will look like simply complete the form on this page and you’ll get instant access to a demo of your choice. No payment or credit card details are required. Have a good look around your course and if you like what you see  <a href="enroll.html" target="_blank">enroll</a> with us</p>
       <div
          class=""
        >
          <img
            src="./common/assets/images/scale_up_succees.jpg"
            class="img-fluid mt-3"
            alt=""
          />
        </div>
    </div>
      </div>
      <div class="col-lg-6">
      <form
   name="requestdemoform" class="php-email-form" role="form" ng-submit="submitDemoData()" novalidate >
   <div class="form-row">
      <div class="col-12 form-group">
         <label for="name" class="form-label"
            >Name<span class="text-danger">*</span></label
            >
         <input
            type="text"
            name="name"
            class="form-control"
            ng-model="demoRegData.name"
            id="name"
            placeholder=" Name"
            ng-minlength="4"
            mg-maxlength="25"
            minlength="4"
            maxlength="25"
            required
            />
         <div
            class="help-block"
            ng-messages="requestdemoform.name.$touched && requestdemoform.name.$error "
            >
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="required"
               >
            Name is required
            </small>
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="maxlength"
               >
            you exceeded maximum characters
            </small>
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="minlength"
               >
            Enter minimum 4 characters
            </small>
         </div>
      </div>
    
   </div>
   <div class="form-row">
    
      <div class="col-12 form-group">
         <label for="surename" class="form-label"
            >Surname</label
            >
         <input
            type="text"
            class="form-control"
            ng-model="demoRegData.surename"
            name="surename"
            id="surename"
            placeholder=" Enter your surename "
            
            />
         <div
            class="help-block"
            ng-messages="requestdemoform.surename.$touched && requestdemoform.surename.$error "
            >
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="required"
               >
            Surname is required
            </small>
         </div>
      </div>
   </div>
   <div class="form-row">
      <div class="col-12 form-group">
         <label for="email" class="form-label"
            >Email<span class="text-danger">*</span></label
            >
         <input
            type="email"
            class="form-control"
            ng-model="demoRegData.email"
            name="email"
            id="email"
            ng-pattern="/^.+@.+\..+$/"
            placeholder="Enter your email"
            required
            />
         <div
            class="help-block"
            ng-messages="requestdemoform.email.$touched && requestdemoform.email.$error "
            >
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="required"
               >
            Email is required
            </small>
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="pattern"
               >
            Please enter valid email
            </small>
         </div>
      </div>
   </div>
   <div class="form-row">
      
      <div class="col-12 form-group">
         <label for="mobile" class="form-label">Mobile Number</label>
         <input
            type="text"
            name="mobile"
            ng-model="demoRegData.phonenumber"
            class="form-control"
            id="mobile"
            placeholder=" Mobile number (Optional)"
            ng-minlength="10"
            ng-maxlength="10"
            minlength="10"
            maxlength="10"
            allow-only-numbers
            />
         <div
            class="help-block"
            ng-messages="requestdemoform.mobile.$touched && requestdemoform.mobile.$error "
            >
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="required"
               >
            Mobile number is required
            </small>
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="minlength"
               >
            Please enter valid mobile number
            </small>
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="maxlength"
               >
            Please enter valid mobile number
            </small>
         </div>
      </div>
   </div>
   <div class="form-row">
      <div class="col-12 form-group">
         <!--<label for="Demo_Paper" class="form-label">Demo Paper<span class="text-danger">*</span></label>-->
          <!-- <label for="Demo_Paper" class="form-label">Choose your subject<span class="text-danger">*</span></label> -->
          <label for="Demo_Paper" class="form-label">Choose your course<span class="text-danger">*</span></label>
         <!-- <select
            class="form-control"
            ng-model="demoRegData.demopaper"
            name="Demo_Paper"
            id="Demo_Paper"
            required
            >
            <option value="" selected hidden>---Subject---</option>
            <option value="ACCA BT">ACCA BT - Business and Technology eLearning</option>
            <option value="ACCA MA">ACCA MA - Management Accounting eLearning</option>
            <option value="ACCA FA">ACCA FA - Financial Accounting eLearnin</option>
            <option value="ACCA LWGLO">ACCA LWGLO - Corporate and Business Law (GLO) eLearning</option>
            <option value="ACCA PM">ACCA PM - Performance Management eLearning</option>
            <option value="ACCA TX">ACCA TX - Taxation (UK) eLearning</option>
            <option value="ACCA FR">ACCA FR - Financial Reporting eLearning</option>
            <option value="ACCA AA">ACCA AA - Audit and Assurance eLearning</option>
            <option value="ACCA FM">ACCA FM - Financial Management eLearning</option>
            <option value="ACCA SBL">ACCA SBL - Strategic Business Leader eLearning</option>
            <option value="ACCA SBR">ACCA SBR - Strategic Business Reporting (INT) eLearning</option>
            <option value="ACCA SBR">ACCA SBR - Strategic Business Reporting (UK) eLearning</option>
            <option value="ACCA AFM">ACCA AFM - Advanced Financial Management eLearning</option>
            <option value="ACCA APM">ACCA APM - Advanced Performance Management eLearning</option>
            <option value="ACCA AAA">ACCA AAA - Advanced Audit and Assurance (INT) eLearning</option>
         </select> -->
         <!--exp api based data load-->
         <select 
            id="Demo_Paper"
            name="Demo_Paper"
            class="form-control" 
            ng-model="demoRegData.demopaper"
            ng-options="course.id as course.name for course in expCoursesobj" ng-change="selectCourse(demoRegData.demopaper)" required>
         <option value="" selected hidden>---Choose your course---</option>
         </select>
         <div
            class="help-block"
            ng-messages="requestdemoform.Demo_Paper.$touched && requestdemoform.Demo_Paper.$error "
            >
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="required"
               >
            Demo Paper is required
            </small>
         </div>
      </div>
   </div>
   <div class="form-row">
      <div class="col-12 form-group">
         <label for="country" class="form-label"
            >Country<span class="text-danger">*</span></label
            >
         <!-- <select
            class="form-control"
            ng-model="demoRegData.country"
            name="country"
            id="country"
            required>
            <option value="" selected hidden>---Choose your country---</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Antarctica">Antarctica</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Arctic Ocean">Arctic Ocean</option>
            <option value="Aruba">Aruba</option>
            <option value="Ashmore andCartier Islands"> Ashmore and Cartier Islands</option>
            <option value="AtlanticOcean"> Atlantic Ocean</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Baker Island">Baker Island</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Bassas da India">Bassas da India</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Bouvet Island">Bouvet Island</option>
            <option value="Brazil">Brazil</option>
            <option value="British VirginIslands"> British Virgin Islands</option>
            <option value="Brunei">Brunei</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cape Verde">Cape Verde</option>
            <option value="Cayman Islands">Cayman Islands</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Christmas Island">Christmas Island</option>
            <option value="Clipperton Island">Clipperton Island</option>
            <option value="Cocos Islands">Cocos Islands</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Cook Islands">Cook Islands</option>
            <option value="Coral Sea Islands">Coral Sea Islands</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Cote d’Ivoire">Cote d’Ivoire</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Democratic Republic of theCongo"> Democratic Republic of the Congo</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="EastTimor"> East Timor</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Europa Island">Europa Island</option>
            <option value="Falkland Islands (Islas Malvinas)"> Falkland Islands (Islas Malvinas)</option>
            <option value="Faroe Islands">Faroe Islands</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="French Guiana">French Guiana</option>
            <option value="French Polynesia">French Polynesia</option>
            <option value="French Southern and Antarctic Lands"> French Southern and Antarctic Lands</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Gaza Strip">Gaza Strip</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Glorioso Islands">Glorioso Islands</option>
            <option value="Greece">Greece</option>
            <option value="Greenland">Greenland</option>
            <option value="Grenada">Grenada</option>
            <option value="Guadeloupe">Guadeloupe</option>
            <option value="Guam">Guam</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guernsey">Guernsey</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-Bissau">Guinea-Bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Heard Island and McDonald Islands"> Heard Island and McDonald Islands</option>
            <option value="Honduras">Honduras</option>
            <option value="HongKong"> Hong Kong</option>
            <option value="Howland Island">Howland Island</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indian Ocean">Indian Ocean</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Isleof Man"> Isle of Man</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Jan Mayen">Jan Mayen</option>
            <option value="Japan">Japan</option>
            <option value="Jarvis Island">Jarvis Island</option>
            <option value="Jersey">Jersey</option>
            <option value="Johnston Atoll">Johnston Atoll</option>
            <option value="Jordan">Jordan</option>
            <option value="Juan de NovaIsland"> Juan de Nova Island</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kingman Reef">Kingman Reef</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Kerguelen Archipelago">Kerguelen Archipelago</option>
            <option value="Kosovo">Kosovo</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Laos">Laos</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libya">Libya</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macau">Macau</option>
            <option value="Macedonia">Macedonia</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <option value="Marshall Islands">Marshall Islands</option>
            <option value="Martinique">Martinique</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mayotte">Mayotte</option>
            <option value="Mexico">Mexico</option>
            <option value="Micronesia">Micronesia</option>
            <option value="Midway Islands">Midway Islands</option>
            <option value="Moldova">Moldova</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Montserrat">Montserrat</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Namibia">Namibia</option>
            <option value="Nauru">Nauru</option>
            <option value="Navassa Island">Navassa Island</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <option value="NetherlandsAntilles"> Netherlands Antilles</option>
            <option value="New Caledonia">New Caledonia</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Niue">Niue</option>
            <option value="Norfolk Island">Norfolk Island</option>
            <option value="North Korea">North Korea</option>
            <option value="North Sea">North Sea</option>
            <option value="NorthernMariana Islands"> Northern Mariana Islands</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pacific Ocean">Pacific Ocean</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palau">Palau</option>
            <option value="Palmyra Atoll">Palmyra Atoll</option>
            <option value="Panama">Panama</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paracel Islands">Paracel Islands</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Pitcairn Islands">Pitcairn Islands</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Qatar">Qatar</option>
            <option value="Reunion">Reunion</option>
            <option value="Republic of the Congo">Republic of the Congo</option>
            <option value="Romania">Romania</option>
            <option value="Russia">Russia</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint Helena">Saint Helena</option>
            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="SaintPierre and Miquelon"> Saint Pierre and Miquelon</option>
            <option value="Saint Vincent andthe Grenadines"> Saint Vincent and the Grenadines</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon Islands">Solomon Islands</option>
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Georgia and the South Sandwich Islands"> South Georgia and the South Sandwich Islands</option>
            <option value="South Korea">South Korea</option>
            <option value="Spain">Spain</option>
            <option value="SpratlyIslands"> Spratly Islands</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Svalbard">Svalbard</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syria">Syria</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania">Tanzania</option>
            <option value="Thailand">Thailand</option>
            <option value="Togo">Togo</option>
            <option value="Tokelau">Tokelau</option>
            <option value="Tonga">Tonga</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tromelin Island">Tromelin Island</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Turks and CaicosIslands"> Turks and Caicos Islands</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="USA">USA</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vanuatu">Vanuatu</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Viet Nam">Viet Nam</option>
            <option value="Virgin Islands">Virgin Islands</option>
            <option value="Wake Island">Wake Island</option>
            <option value="Wallis and Futuna">Wallis and Futuna</option>
            <option value="West Bank">West Bank</option>
            <option value="WesternSahara"> Western Sahara</option>
            <option value="Yemen">Yemen</option>
            <option value="Yugoslavia">Yugoslavia</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
         </select> -->
         <select 
         name="country"
         id="country"
         class="form-control" 
         ng-model="demoRegData.country"
         ng-options="country.iso as country.name for country in expCountry" required>
         <option value="" selected hidden>---Choose your country---</option>
         </select><!--exp api based data load-->
        
         <div
            class="help-block"
            ng-messages="requestdemoform.country.$touched && requestdemoform.country.$error "
            >
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="required"
               >
            Country is required
            </small>
         </div>
         
      </div>
     
   </div>
   <div class="form-row">
      <div class="col-12 form-group">
         <label for="password" class="form-label"
            >Password<span class="text-danger">*</span></label
            >
         <input
            type="password"
            class="form-control"
            ng-model="demoRegData.password"
            name="password"
            id="password"
            placeholder="Enter your password"
            required
            />
         <div
            class="help-block"
            ng-messages="requestdemoform.password.$touched && requestdemoform.password.$error "
            >
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="required"
               >
            Password is required
            </small>
         </div>
      </div>
      
   </div>
   <div class="form-row">
      <div class="col-12 form-group">
         <label for="confrimpassword" class="form-label">Confirm Password<span class="text-danger">*</span></label>
         <input
            type="password"
            name="confrimpassword"
            ng-model="demoRegData.confirmpassword"
            class="form-control"
            id="confrimpassword"
            placeholder=" Confirm password"
            ng-minlength="6"
            minlength="6"
            required
            />
         <div
            class="help-block"
            ng-messages="requestdemoform.confrimpassword.$touched && requestdemoform.confrimpassword.$error "
            >
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="required"
               >
            Confirm password is required
            </small>
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-message="minlength"
               >
            Please enter minimum 5 characters
            </small>
            <small
               id="passwordHelpBlock"
               class="form-text"
               ng-show="requestdemoform.confrimpassword && demoRegData.password != demoRegData.confirmpassword"
               >
            Password mismatch
            </small>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-md-12 form-group">
      <!-- <label id="declar"><input type="checkbox" style="height: 12px;" ng-model="demoRegData.agree" id="decalare"> I agree with the terms and conditions and privacy policy (don’t worry we will never transfer your details to another party).</label> -->
      <label id="declar"><input type="checkbox" style="height: 12px;" ng-model="demoRegData.agree" id="decalare"> I agree with the <a href="termofconditions.html" target="_blank">terms and conditions</a> and <a href="privacypolicy.html" target="_blank">privacy policy</a>  (don’t worry we will never transfer your details to another party).</label>
      
       <div class="form-group">
      <!--Recaptcha Widget-->
         <div class="g-recaptcha" vc-recaptcha key="publicKey"></div>
   </div>
      <div class="text-center">
         <button type="submit" 
            ng-disabled="requestdemoform.$invalid">Request demo</button>
      </div>
   </div>
</form>
      </div>
    </div>
  </div>
</section>
