#gtmheader{
    width: 100%;
    height: 85vh;
    background: #f9f9f9;
    padding-top: 125px;
}
#gtmheader .gtmbanner-inner{
   margin-top: 4rem;
}
@media (max-width: 768px) {
    #gtmheader{
        width: 100%;
        height: auto;
        background: #f9f9f9;
        padding-bottom: 0;
        padding-top: 40px;
    }
    #gtmheader .gtmbanner-inner {
      margin-top: 1rem;
    }
  }