<section id="gtmheader">
  <div class="gtmbanner-inner container">
    <img
      class="w-100 d-block"
      src="./common/assets/images/slides/Slide02.jpg"
    />
  </div>
</section>

<section id="about-gtm" class="about-gtm-section section-bg">
  <div class="container">
    <div class="globally_recognised">
      <div class="section-title">
        <h2>GTM & Consulting</h2>
        <p>
          At Microconnect, we understand the challenges involved with any GTM -
          strategy. We are aware, GTM is a complicated process specially in
          countries like India with different languages, socio- economic stature
          and fitting in one common formula or plan doesn't serve its purpose.
          Creating different micro level strategies can lead to steep cost runs
          which again derails the existing GTM plans.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 content">
          <h4>
            With our decades of hands on experience in GTM engagement processes,
            we suggest.
          </h4>

          <ul>
            <li>
              <i class="ri-check-double-line"></i>Sales & Marketing strategies
              in sync with business plans.
            </li>
            <li>
              <i class="ri-check-double-line"></i>Right channel strategy and
              help in identifying Channel partners for effective last mile
              connect.
            </li>
            <li>
              <i class="ri-check-double-line"></i>Strategy for effective
              execution of GTM Plans. As technologies changing rapidly, rather
              disrupting the market, we closely work in augmenting the need and
              assist in strategic execution
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <img
            src="./common/assets/images/goto-market2.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="section-title">
            <p>
              Our strategies include effective "Below The Line (BTL)
              engagements" for deeper market penetration without losing focus on
              competitor size and activities. Our clientele includes companies
              like TCL, Yokibu, Chetana Publications, Ideal Experiential
              Learning, Skill Angels – to name a few and we work closely with
              them and assist them in achieving the planned results.
            </p>
          </div>
          <!--begin-Aswin-20-01-2021-content-changes-->
          <!-- <h4>
            Microconnect’s expertise is in defining right GTM to it's clients to
          </h4> -->
          <h4>
            Microconnect's expertise is in defining right GTM to its clients to.
          </h4>
         <!--end-Aswin-20-01-2021-content-changes-->
          <div class="col-lg-6 content">
            <ul>
              <li>
                <i class="ri-check-double-line"></i>Connect their businesses
                with its customers
              </li>
              <li>
                <i class="ri-check-double-line"></i>Assist in doing Pilots &
                POCs
              </li>
              <li>
                <i class="ri-check-double-line"></i>Provide product feedback for
                better market fitment
              </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <ul>
              <li>
                <i class="ri-check-double-line"></i>Deliver unique value to the
                targeted customers
              </li>
              <li>
                <i class="ri-check-double-line"></i>Assist in Price Discovery
                process
              </li>
              <li>
                <i class="ri-check-double-line"></i>Fulfil brand commitments and
                stand up its value
              </li>
            </ul>
          </div>
           <!--begin-Aswin-20-01-2021-content-changes-->
          <!-- <p>
            With direct and indirect access to over 1500+ progressive schools
            and 150+ colleges Microconnect is well entrenched in Education
            segment in India and surrounding countries. This can be leveraged by
            the aspiring EdTech start-ups / companies in penetrating the Indian
            market and expand.
          </p> -->
          <p>
            With direct and indirect access to over 1500+ progressive schools and 150+ colleges , Microconnect is well entrenched in Education
            segment in India and surrounding countries. This can be leveraged by
            the aspiring EduTech start-ups / companies in penetrating the Indian
            market and expand.
          </p>
          <!--end-Aswin-20-01-2021-content-changes-->
        </div>
      </div>
    </div>
  </div>
</section>
