<main id="main">
  <section id="slidesection" class="slides">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox"></div>

      <a
        class="carousel-control-prev"
        data-target="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>-->
        <span
          class="carousel-control-prev-icon icofont-simple-left"
          aria-hidden="true"
        ></span>
      </a>
      <a
        class="carousel-control-next"
        data-target="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span
          class="carousel-control-next-icon icofont-simple-right"
          aria-hidden="true"
        ></span>
        <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>-->
      </a>
    </div>
  </section>
  <!-- ======= slide Section ======= -->
  <!-- ======= video Section ======= -->
  <section id="vimeosection" class="vimeosection">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h4 class="text-center">What is included</h4>

          <div class="card">
            <div class="card-img-top">
              <video
                width="100%"
                height="100%"
                controls
                controlsList="nodownload"
              >
                <source
                  src="./common/assets/videos/inscludedvideo.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
          <h4 class="text-center">Instant Demo</h4>

          <div class="card">
            <div class="card-img-top">
              <video
                width="100%"
                height="100%"
                controls
                controlsList="nodownload"
              >
                <source
                  src="./common/assets/videos/InstantDemo-Video-BT withlogo.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
          <h4 class="text-center">Try your ACCA Course for free</h4>
          <!--<h3>&nbsp;</h3>-->
          <div class="card">
            <a href="demo.html">
              <img
                class="card-img-top"
                src="./common/assets/images/MC_Sign_in.png"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End video Section -->

  <!-- ======= About Section ======= -->
  <section id="aboutacca" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About ACCA</h2>
      </div>
      <div class="row">
        <div
          class="col-xl-6 col-lg-6 d-flex flex-column align-items-stretch justify-content-center"
        >
          <img
            src="./common/assets/videos/What_is_Acca.jpeg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-book-reader"></i></div>
            <p class="description">
              ACCA (Association of Chartered Certiﬁed Accountants) , founded in
              1904 is UK headquartered global professional accounting body
              offering the "Chartered Certiﬁed Accountant" qualiﬁcation.
              Recognised in over 180+ countries, it’s a great way to start a
              career in Finance, Accountancy & Management. There is nearly
              7,00,000+ Members and students in 180+ counties
            </p>
          </div>
          <div class="icon-box">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <p class="description">
              With a network of 107 offices and active centres around the world,
              the ACCA also have 57 global accountancy partnerships. ACCA’s
              having 300+ Approved Learning Partners (ALP) and more than 7,300
              Approved Employers worldwide, who provide employee development for
              its students / affiliates / members.
            </p>
          </div>
          <div class="icon-box">
            <div class="icon"><i class="bx bx-medal"></i></div>
            <p class="description">
              Amongst other key areas, the ACCA Qualification has a strong focus
              on professional values, ethics and governance. These are skills
              which are considered to be essential for today’s accountants as
              the accountancy profession generally moves towards an increased
              focus on professionalism and ethics.
            </p>
          </div>
          <!--<div class="icon-box content">
            <div class="icon"><i class="bx bxs-bookmark-star"></i></div>
            <p class="description">
              In order to qualify as an ACCA member has to complete:
            </p>
            <ul class="description">
              <li><i class="ri-check-double-line"></i>13 exams</li>
              <li>
                <i class="ri-check-double-line"></i>Relevant practical
                experience.
              </li>
              <li>
                <i class="ri-check-double-line"></i>An online ethics module
              </li>
            </ul>
          </div>-->
        </div>
      </div>
      <!--<div class="container mt-5">
        <div class="row my-5 justify-content-center">
          <div class="col-lg-4 order-1 order-lg-2">
            <img
              src="./common/assets/images/scale_up_succees.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-4 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h4>
              In order to qualify as an ACCA member you are required to
              complete:
            </h4>
            <ul>
              <li><i class="ri-check-double-line"></i>13 exams</li>
              <li>
                <i class="ri-check-double-line"></i>Relevant practical
                experience.
              </li>
              <li>
                <i class="ri-check-double-line"></i>An online ethics module
              </li>
            </ul>
          </div>
        </div>
      </div>-->
    </div>

    <!--<div class="container videobox mt-5">
      <div class="section-title">
        <h2>Globally Recognized</h2>
      </div>
      <div class="row">
        <div
          class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
        >
          <a
            href=""
            class="venobox play-btn mb-4 vbox-item"
            id="videopopup1"
          ></a>
          <div id="vidBox1">
            <div id="videCont">
              <video id="v1" controls>
                <source
                  src="./common/assets/videos/acca.mp4"
                  type="video/mp4"
                  autostart="false"
                />
              </video>
            </div>
          </div>
        </div>

        <div
          class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 content"
        >
          <ul>
            <li>
              <i class="ri-check-double-line"></i>ACCA is a globally recognized
              qualiﬁcation in 180+ countries
            </li>
            <li>
              <i class="ri-check-double-line"></i>ACCA's ﬂexible examination
              process makes this qualiﬁcation more attractive
            </li>
            <li>
              <i class="ri-check-double-line"></i>Option to take individual
              papers to clear the exams comfortably, helping students to acquire
              in-depth knowledge of the subjects
            </li>
            <li>
              <i class="ri-check-double-line"></i>Since individual papers can be
              attempted, it is comparatively easier to pass
            </li>
            <li>
              <i class="ri-check-double-line"></i>The exams are computer based
              and the results are known immediately enabling students to move
              ahead faster
            </li>
            <li>
              <i class="ri-check-double-line"></i>Exposure to UK GAAP Laws and
              IFRS
            </li>
          </ul>
        </div>
      </div>
    </div>-->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 pt-4 content">
          <h4>
            An ACCA qualification gives a comprehensive finance knowledge and
            skills that open up a wide range of career opportunities across
            industries around the world. With its core values of diversity,
            innovation, accountability and integrity, it makes a student, one of
            the most sought-after finance professionals in the world.
          </h4>
          <p><b>Advantages</b></p>
          <ul>
            <li>
              ACCA's ﬂexible examination scheme makes this qualiﬁcation more
              attractive
            </li>
            <li>
              Option to take individual papers to clear the exams comfortably,
              helping students to acquire in-depth knowledge of the subjects.
            </li>
            <li>
              Since individual papers can be attempted, it is comparatively
              easier to pass.
            </li>
            <li>
              The exams are computer based and the results are known immediately
              enabling students to move ahead faster.
            </li>
            <li>Exposure to UK GAAP Laws and IFRS.</li>
          </ul>
        </div>
        <div class="col-lg-12 pt-4 pt-lg-0 content">
          <p>
            <b>In order to qualify as an ACCA member one needs to complete:</b>
          </p>
          <ul>
            <li>
              13 exams – split into three levels Viz – knowledge, Skill &
              Professional
            </li>
            <li>Relevant practical experience.</li>
            <li>An online ethics module</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="section-title">
        <h2>Globally Recognized</h2>
      </div>
      <div class="row">
        <div class="col-xl-12 content">
          <ul>
            <li>
              <i class="ri-check-double-line"></i>ACCA is a globally recognized
              qualiﬁcation in 180+ countries
            </li>
            <li>
              <i class="ri-check-double-line"></i>ACCA's ﬂexible examination
              process makes this qualiﬁcation more attractive
            </li>
            <li>
              <i class="ri-check-double-line"></i>Option to take individual
              papers to clear the exams comfortably, helping students to acquire
              in-depth knowledge of the subjects
            </li>
            <li>
              <i class="ri-check-double-line"></i>Since individual papers can be
              attempted, it is comparatively easier to pass
            </li>
            <li>
              <i class="ri-check-double-line"></i>The exams are computer based
              and the results are known immediately enabling students to move
              ahead faster
            </li>
            <li>
              <i class="ri-check-double-line"></i>Exposure to UK GAAP Laws and
              IFRS
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section-title">
        <h2>Benefits of ACCA</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 text-center">
          <img
            src="./common/assets/images/scale_up_succees.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-xl-6 col-lg-6 text-center pt-4 pt-lg-0">
          <div class="card" style="border: 1px solid #1977cc">
            <div class="card-body">
              <video class="w-100" id="v1" controls controlsList="nodownload">
                <source
                  src="./common/assets/videos/acca.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!--Why Microconnect-->
  <!--<section id="whymicroconnect" class="whymicroconnect-scetion">
    <div class="container">
      <div class="globally_recognised">
        <div class="section-title">
          <h2>Why Microconnect?</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <img
              src="./common/assets/images/whymicroconnect.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content">
            <h3>
              A Frontrunner & A differentiator in K12 space introducing Global
              Accounting Career through ACCA.
            </h3>

            <ul>
              <li>
                <i class="ri-check-double-line"></i>Microconnect is now Silver
                Learning Partner under ACCA’s Approved Learning Partner (ALP)
                Program.
              </li>
              <li>
                <i class="ri-check-double-line"></i>Associated in K12 space
                since over a decade.
              </li>
              <li>
                <i class="ri-check-double-line"></i>Pioneers in introducing
                Augmented Reality (AR) books. currently selling over 10 lakhs
                copies annually.
              </li>
              <li>
                <i class="ri-check-double-line"></i>Bringing the Successful
                Global Accounting Career platform to Schools starting just after
                10th Class.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!--End Why Microconnect-->

  <!--ACCA Diploma in Accounting & Business-->
  <section
    id="diploma"
    class="diploma-accounting-scetion py-2"
    ng-init="showStudentProgress = 1"
  >
    <div class="container">
      <div class="globally_recognised">
        <div class="section-title">
          <h2>ACCA Diploma in Accounting & Business</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 order-1 order-lg-2 text-center">
            <img
              src="./common/assets/images/finace-accounting-image.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <!--<div class="col-lg-9 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h4>
              ACCA’s Foundations in Accountancy or FIA offers foundation
              level-qualifications
            </h4>
            <ul>
              <li>
                <i class="ri-check-double-line"></i
                ><b
                  >International Certification for a strong foundation focussed
                  on applied knowledge</b
                >
                This International Certification is part of the total 13 papers
                of ACCA Qualification – Student need to just do additional 10
                papers to be come qualified ACCA Affiliate member
              </li>
            </ul>
          </div>-->
          <div class="col-lg-9 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p>
              ACCA Diploma in Accounting & Business is a Foundations
              level-qualifications focussed on applied knowledge This
              International Certification is part of the total 13 exams of ACCA.
              A Student need to appear and pass additional 10 exams to get
              qualified as ACCA member (with required Practical Experience of 3
              years and complete the Ethics and Professional Skills module)
            </p>
          </div>
        </div>
        <div class="row student-progression-img pt-lg-5">
          <div class="col-lg-9 pt-lg-0 content">
            <div class="row">
              <!--<div class="col-lg-12 pt-4 pt-lg-0 content">
                <h4>Applied Knowledge</h4>
                <p>
                  The Applied Knowledge exams provides students with a broad
                  introduction to the world of finance and develop your
                  essential understanding and techniques in accounting.  The
                  three Subject Papers are:
                </p>
                <ul>
                  <li>
                    <i class="bx bxs-hand-right"></i
                    ><a
                      href="javascript:void(0)"
                      ng-click="showStudentProgress()"
                      >Business and Technology (BT)</a
                    >
                  </li>
                  <li>
                    <i class="bx bxs-hand-right"></i
                    ><a
                      href="javascript:void(0)"
                      ng-click="showStudentProgress
                      ()"
                      >Management Accounting (MA)</a
                    >
                  </li>
                  <li>
                    <i class="bx bxs-hand-right"></i
                    ><a
                      href="javascript:void(0)"
                      ng-click="showStudentProgress()"
                      >Financial Accounting (FA)</a
                    >
                  </li>
                </ul>
              </div>-->
              <div class="col-lg-12 pt-4 pt-lg-0 content">
                <p>
                  ACCA Diploma in Accountancy & Business covers the entire
                  Applied Knowledge Level subjects / exam papers of ACCA
                  qualification. It gives a broad introduction to the world of
                  finance and develop student’s essential understanding and
                  techniques in accounting. The three Subject Papers are:
                </p>
                <ul>
                  <li>
                    <i class="bx bxs-hand-right"></i
                    ><a
                      href="javascript:void(0)"
                      ng-click="showStudentProgress()"
                      >Business and Technology (BT)</a
                    >
                  </li>
                  <li>
                    <i class="bx bxs-hand-right"></i
                    ><a
                      href="javascript:void(0)"
                      ng-click="showStudentProgress
                      ()"
                      >Management Accounting (MA)</a
                    >
                  </li>
                  <li>
                    <i class="bx bxs-hand-right"></i
                    ><a
                      href="javascript:void(0)"
                      ng-click="showStudentProgress()"
                      >Financial Accounting (FA)</a
                    >
                  </li>
                </ul>
                <div class="table-responsive">
                  <table class="table table-md table-bordered table-striped">
                    <tbody>
                      <tr>
                        <td style="width: 33%; text-align: center">
                          <strong>Business and Technology (BT)</strong>
                        </td>
                        <td style="width: 33%">
                          <p style="text-align: center">
                            <strong>Financial Accounting (FA)</strong>
                          </p>
                        </td>
                        <td style="width: 33%; text-align: center">
                          <strong>Management Accounting(MA)</strong>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 33%; text-align: left">
                          The business organisation, its stakeholders and the
                          external environment
                        </td>
                        <td style="width: 33%">
                          The context and purpose of financial reporting
                        </td>
                        <td style="width: 33%">
                          The nature, source and purpose of management
                          information
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Business organisational structure, functions and
                          governance
                        </td>
                        <td style="width: 33%">
                          The qualitative characteristics of financial
                          information
                        </td>
                        <td style="width: 33%">Cost accounting techniques</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Accounting and reporting systems, compliance, control,
                          technology and security
                        </td>
                        <td style="width: 33%">
                          The use of double-entry and accounting systems
                        </td>
                        <td style="width: 33%">Budgeting</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Leading and managing individuals and teams
                        </td>
                        <td style="width: 33%">
                          Recording transactions and events
                        </td>
                        <td style="width: 33%">Standard costing</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Personal effectiveness and communication
                        </td>
                        <td style="width: 33%">Preparing a trial balance</td>
                        <td style="width: 33%">Performance measurement</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Professional ethics in accounting and business
                        </td>
                        <td style="width: 33%">
                          Preparing basic financial statements
                        </td>
                        <td style="width: 33%">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">&nbsp;</td>
                        <td style="width: 33%">
                          Preparing simple consolidated financial statements
                        </td>
                        <td style="width: 33%">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">&nbsp;</td>
                        <td style="width: 33%">
                          Interpretation of financial statements
                        </td>
                        <td style="width: 33%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--<div class="col-lg-12 pt-4 pt-lg-0 content">
                <h4>Module - Foundations in Professionalism</h4>
                <p>
                  For the qualification to be awarded, students must show their
                  knowledge and skills relating to:
                </p>
                <ul>
                  <li>
                    <i class="ri-check-double-line"></i>the wider accountancy
                    profession
                  </li>
                  <li>
                    <i class="ri-check-double-line"></i>the legal and
                    professional obligations and responsibilities of
                    accountants, including the professional and ethical
                    principles and values which apply to accountancy.
                  </li>
                </ul>
                <p>
                  This is done by taking the Foundations in Professionalism
                  module.
                  <b
                    >Foundations in Professionalism is an online interactive
                    module</b
                  >, designed to help students understand and demonstrate what
                  it means to act professionally and ethically in the work they
                  carry out. The module is an interactive learning system
                  allowing students to learn about professionalism and is
                  designed as follows:
                </p>
                <ul>
                  <li>
                    <i class="ri-check-double-line"></i>Introduction to ethics
                    and professionalism
                  </li>
                  <li>
                    <i class="ri-check-double-line"></i>Professionalism 3 Law
                    and regulation
                  </li>
                  <li>
                    <i class="ri-check-double-line"></i>Professional ethics
                  </li>
                  <li>
                    <i class="ri-check-double-line"></i>Personal effectiveness
                    at work
                  </li>
                  <li><i class="ri-check-double-line"></i>Personal values</li>
                  <li><i class="ri-check-double-line"></i>Case study</li>
                  <li><i class="ri-check-double-line"></i>Objective test</li>
                </ul>
              </div>-->
            </div>
          </div>
          <div class="col-lg-3 pt-4 pt-lg-0 text-center">
            <!--<img
              ng-if="showStudentProgress == 1"
              src="./common/assets/images/studentprogress1.png"
              class="img-fluid"
              alt=""
            />
            <img
              ng-if="showStudentProgress == 2"
              src="./common/assets/images/studentprogress2.png"
              class="img-fluid"
              alt=""
            />
            <img
              ng-if="showStudentProgress == 3"
              src="./common/assets/images/studentprogress3.png"
              class="img-fluid"
              alt=""
            />-->
            <img
              src="./common/assets/images/studentprogress1.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <!--row-->

          <div class="col-lg-12 pt-4 pt-lg-0 split-ul-3 content">
            <p>
              ACCA Diploma in Accounting & Business also consists of Foundation
              in Professionalism, an online interactive module, designed to help
              students understand and demonstrate what it means to act
              professionally and ethically in the work they carry out. The
              module is an interactive learning system with series of Self-Test.
              It allows the students to reflect what they had learn. It consists
              of
            </p>
            <ul>
              <li>
                <i class="ri-check-double-line"></i>Introduction to ethics and
                professionalism
              </li>
              <li><i class="ri-check-double-line"></i>Professionalism</li>
              <li><i class="ri-check-double-line"></i>Professional ethics</li>
              <li><i class="ri-check-double-line"></i>Law and regulation</li>
              <li><i class="ri-check-double-line"></i>Professional ethics</li>
              <li>
                <i class="ri-check-double-line"></i>Personal effectiveness at
                work
              </li>
              <li><i class="ri-check-double-line"></i>Personal values</li>
              <li><i class="ri-check-double-line"></i>Case study</li>
              <li><i class="ri-check-double-line"></i>Objective test</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End ACCA Diploma in Accounting & Business-->
  <!-- ======= student-progress-chart ======= -->
  <section
    id="student-progress-chart"
    class="student-progress-chart pt-2 pt-lg-5"
  >
    <div class="container">
      <div class="section-title">
        <h2>Student - Career Progression Chart</h2>
        <!--<p>
          Begin Global Finance & Accountancy Qualification Right @ School Level
        </p>-->
      </div>
      <div class="row">
        <div class="col-lg-12 mt-2 w-100 text-center">
          <img
            src="./common/assets/images/road_map_banner1_final.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <!--<div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1"
                >Cardiology</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">Neurology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">Hepatology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-4">Pediatrics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-5">Eye Care</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Cardiology</h3>
                  <p class="font-italic">
                    Qui laudantium consequatur laborum sit qui ad sapiente dila
                    parde sonata raqer a videna mareta paulona marka
                  </p>
                  <p>
                    Et nobis maiores eius. Voluptatibus ut enim blanditiis atque
                    harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic
                    ut molestiae aut qui. Est repellat minima eveniet eius et
                    quis magni nihil. Consequatur dolorem quaerat quos qui
                    similique accusamus nostrum rem vero
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/img/departments-1.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Et blanditiis nemo veritatis excepturi</h3>
                  <p class="font-italic">
                    Qui laudantium consequatur laborum sit qui ad sapiente dila
                    parde sonata raqer a videna mareta paulona marka
                  </p>
                  <p>
                    Ea ipsum voluptatem consequatur quis est. Illum error ullam
                    omnis quia et reiciendis sunt sunt est. Non aliquid
                    repellendus itaque accusamus eius et velit ipsa voluptates.
                    Optio nesciunt eaque beatae accusamus lerode pakto madirna
                    desera vafle de nideran pal
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/img/departments-2.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                  <p class="font-italic">
                    Eos voluptatibus quo. Odio similique illum id quidem non
                    enim fuga. Qui natus non sunt dicta dolor et. In asperiores
                    velit quaerat perferendis aut
                  </p>
                  <p>
                    Iure officiis odit rerum. Harum sequi eum illum corrupti
                    culpa veritatis quisquam. Neque necessitatibus illo rerum
                    eum ut. Commodi ipsam minima molestiae sed laboriosam a iste
                    odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum
                    voluptatem optio quae
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/img/departments-3.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>
                    Fuga dolores inventore laboriosam ut est accusamus
                    laboriosam dolore
                  </h3>
                  <p class="font-italic">
                    Totam aperiam accusamus. Repellat consequuntur iure voluptas
                    iure porro quis delectus
                  </p>
                  <p>
                    Eaque consequuntur consequuntur libero expedita in voluptas.
                    Nostrum ipsam necessitatibus aliquam fugiat debitis quis
                    velit. Eum ex maxime error in consequatur corporis atque.
                    Eligendi asperiores sed qui veritatis aperiam quia a laborum
                    inventore
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/img/departments-4.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>
                    Est eveniet ipsam sindera pad rone matrelat sando reda
                  </h3>
                  <p class="font-italic">
                    Omnis blanditiis saepe eos autem qui sunt debitis porro
                    quia.
                  </p>
                  <p>
                    Exercitationem nostrum omnis. Ut reiciendis repudiandae
                    minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum
                    quia odit vero atque qui quibusdam amet. Occaecati sed est
                    sint aut vitae molestiae voluptate vel
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/img/departments-5.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </section>
  <!-- End student-progress-chart Section -->
  <!-- ======= ACCA Offering-chart ======= -->
  <section id="acca-course-offering" class="acca-course-offering">
    <div class="container">
      <!--<div class="section-title">
       <h2>ACCA Course Offering</h2>
        <p>ACCA Course offering from Microconnect-ExP</p>
       
      </div>-->
      <div class="container">
        <div class="section-title">
          <h2>Comprehensive Course Offering from Microconnect-Exp</h2>
        </div>
        <div class="row">
          <div class="col-xl-3">
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOCompleteCourse.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">A Complete Course</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOLearningTutorials.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Learning Tutorials</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOEnergizer.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Energiser and Webinar</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOPracticeTutorials.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Practice Tutorials</h5>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOStudyText.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Study Text</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ExamKit.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Exam Kit</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOTutorAccess.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Expert Tutors</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOMockExam.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Mock Exam</h5>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOPassGuarantee.webp"
                alt=""
              />
              <div class="media-body my-3">
                <!--<h5 class="mt-0">Pass Guarantee</h5>-->
                <h5 class="mt-0">Local tutor support</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOPersonalStudyPlan.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Personal Study Plan</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOBenchmarkStatistics.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Benchmark Statistics</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOProgressTest.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Progress Tests</h5>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOACCACIMAApproved.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">ACCA Approved</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOOutstandingPassrates.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Outstanding Pass Rates</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOPCTabletPhone.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">PC,Tablet & Phone Compatible</h5>
              </div>
            </div>
            <div class="media">
              <img
                class="mr-3"
                src="./common/assets/images/completeoffering/ICOAppleAndroid.webp"
                alt=""
              />
              <div class="media-body my-3">
                <h5 class="mt-0">Apple/Android Compatible</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-5">
          <h4 class="text-justify">
            Program includes all that a student needs to gain knowledge and
            <br />
            pass the Global Certification Program of ACCA.
          </h4>
          <div class="col-lg-4 order-1 order-lg-2">
            <div class="row justify-content-center">
              <div class="col-lg-7">
                <img
                  src="./common/assets/images/kaplan.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="col-lg-6 mt-5 mt-lg-3 text-center">
                <img
                  src="./common/assets/images/accaApproved.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <ul>
              <li>
                <i class="ri-check-double-line"></i>Fully integrated Kaplan
                Publisher’s Study Material & Exam kit with online courses to
                enhance student’s pass percentage
              </li>
              <li>
                <i class="ri-check-double-line"></i>Visual mind maps and
                overview summaries of each chapter
              </li>
              <li>
                <i class="ri-check-double-line"></i>ACCA Registration with
                myACCA account
              </li>
              <li>
                <i class="ri-check-double-line"></i>Spl ACCA Subscription
                package
              </li>
              <li>
                <i class="ri-check-double-line"></i>For the three papers - BT,
                FA & MA
              </li>
              <li><i class="ri-check-double-line"></i>ACCA Exam Fee</li>
              <li>
                <i class="ri-check-double-line"></i>ACCA Approved Platinum
                eLearning Content
              </li>
              <li>
                <i class="ri-check-double-line"></i>ACCA approved online Study
                Text + Exam Kits
              </li>
              <li>
                <i class="ri-check-double-line"></i>Local Tutoring Support
              </li>
              <li>
                <i class="ri-check-double-line"></i>Access to Microconnect Test
                Portal
              </li>
            </ul>
          </div>
        </div>

        <div class="row pt-0 pt-lg-5">
          <h4>
            Knowledge Level Papers – Certification Diploma in Accounting &
            Business from ACCA, UK
          </h4>
          <p>
            Subjects Covered (each and every subject must be clickable and when
            clicked subtitles of the subject to appear on the side
          </p>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <ul>
              <li>
                <i class="ri-check-double-line"></i>F1 – BT – Business &
                Technology
              </li>
              <li>
                <i class="ri-check-double-line"></i>F2 – MA – Management
                Accounting
              </li>
              <li>
                <i class="ri-check-double-line"></i>F3 – FA – Financial
                Accounting account
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <h4>Cutting Edge Educational Technology platform</h4>
          <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <ul>
              <li>
                <i class="ri-check-double-line"></i>Microconnect (MC)-ExP
                offering Unrivalled eLearning technology Platform
              </li>
              <li>
                <i class="ri-check-double-line"></i>MC-ExP platforms are tailor
                designed by experienced instructional design team to maximise
                the impact of ACCA learning flow and ultimately ensure student’s
                exam success.
              </li>
              <li>
                <i class="ri-check-double-line"></i>F3 – FA – Mc-ExP’s own
                in-house technology team purpose code our ePlatforms resulting
                in exam effective, flexible and cost effective solutions
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 order-1 order-lg-2 img-sm-fluid">
            <img
              src="./common/assets/images/footerimages/knowledgepartner.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <!--<h3>
            Our course materials includes all that you need to pass your exams
          </h3>-->
            <h4>
              Our course materials includes all that a student need to pass the
              exams
            </h4>
            <ul>
              <li>
                <i class="ri-check-double-line"></i>Complete tuition stage video
                tutorials covering the entire syllabus
              </li>
              <li>
                <i class="ri-check-double-line"></i>Complete practice stage
                video tutorials covering exam standard questions to ensure you
                are 100% ready for exam
              </li>
              <li>
                <i class="ri-check-double-line"></i>Focussed energisers and
                webinars to keep on track for exam success
              </li>
              <li>
                <i class="ri-check-double-line"></i>Learning reinforcement
                exercises for to track how well students are doing
              </li>
              <li>
                <i class="ri-check-double-line"></i>Exam simulation matching the
                ACCA Computer Based Examination (CBE) format
              </li>
              <li>
                <i class="ri-check-double-line"></i>Each Student’s own unique
                personalised study plan
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End student-progress-chart Section -->
  <!--partner-->
  <!--<section id="clients" class="clients">
    <div class="container aos-init aos-animate" data-aos="zoom-in">
      <div class="row justify-content-center">
        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="./common/assets/images/footerimages/knowledgepartner.png"
            class="img-fluid"
            alt=""
          />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="./common/assets/images/Kaplan_with_text.jpg"
            class="img-fluid"
            alt=""
          />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="./common/assets/images/oxforduniversity.png"
            class="img-fluid"
            alt=""
          />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img
            src="./common/assets/images/University-of-london-logo.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>-->
  <!--parnter-->
  <!-- ======= syllabus Section ======= -->
  <section id="syllabus" class="syllabus-section2">
    <div class="section-title">
      <h2>ACCA Syllabus</h2>
      <p>
        The 13 subjects and exams of ACCA are divided into three levels:
        Knowledge, Skills & Professional.
      </p>
    </div>
    <div class="container">
      <div class="mc-exam mc-exam-tabs">
        <div class="row">
          <div class="col-3">
            <div
              class="nav flex-column nav-pills w-100"
              id="exams-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                ng-repeat="tab in examtabData"
                class="nav-link"
                ng-class="{'active':$index == 0 }"
                id="exams-{{$index}}"
                data-toggle="pill"
                href="#exams-tab-{{$index}}"
                role="tab"
                aria-controls="exams-{{$index}}"
                aria-selected="false"
                >{{tab.title}}</a
              >
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content w-100" id="v-pills-tabContent">
              <div
                ng-repeat="tab in examtabData"
                class="tab-pane"
                ng-class="{'active':$index == 0 ,'show':$index == 0}"
                id="exams-tab-{{$index}}"
                role="tabpanel"
                aria-labelledby="exams-{{$index}}"
              >
                <p class="" ng-bind-html="encodeData(tab.subtitle)"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End syllabus Section -->
  <!--ACCA Subject Details-->
  <section id="syllabus-subject" class="syllabus-section2 pt-0 pt-lg-5">
    <div class="section-title">
      <h2>ACCA Subjects - Details</h2>
    </div>
    <div class="container">
      <div class="mc-exam mc-exam-tabs">
        <div class="row">
          <div class="col-3">
            <div
              class="nav flex-column nav-pills w-100"
              id="syllabus-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                ng-repeat="tab in syllabustabdata"
                class="nav-link"
                ng-class="{'active':$index == 0 }"
                id="syllabus-{{$index}}"
                data-toggle="pill"
                href="#syllabus-tab-{{$index}}"
                role="tab"
                aria-controls="syllabus-{{$index}}"
                aria-selected="false"
                >{{tab.title}}</a
              >
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content w-100" id="v-pills-tabContent">
              <div
                ng-repeat="tab in syllabustabdata"
                class="tab-pane"
                ng-class="{'active':$index == 0 ,'show':$index == 0}"
                id="syllabus-tab-{{$index}}"
                role="tabpanel"
                aria-labelledby="syllabus-{{$index}}"
              >
                <p class="" ng-bind-html="encodeData(tab.subtitle)"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End ACCA Subject Details-->

  <!-- ======= exam Section ======= -->
  <!--<section id="exams" class="exams-section">
    <div class="container">
      <div class="section-title">
        <h2>Exams</h2>
        <p>
          The 13 or 14 subjects and exams of ACCA are divided into three levels:
          Knowledge, Skills & Professional.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item" ng-repeat="tab in examtabData">
              <a
                class="nav-link"
                ng-class="{'active':$index == 0 ,'show':$index == 0}"
                data-toggle="tab"
                data-target="#examtab-{{$index}}"
                >{{tab.title}}</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div
              class="tab-pane"
              ng-repeat="tab in examtabData"
              ng-class="{'active':$index == 0 ,'show':$index == 0}"
              id="examtab-{{$index}}"
            >
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{tab.title}}</h3>
                  <div
                    class="font-italic"
                    ng-bind-html="encodeData(tab.subtitle)"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!-- End exam Section -->
  <!--<section id="exam-eligibility" class="">
    <div class="section-title">
      <h2>Are You Eligible ?</h2>
    </div>

    <div class="container">
      <div class="globally_recognised">
        <div class="row">
          <div class="col-lg-4 order-1 order-lg-2">
            <img
              src="./common/assets/images/eligibility.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1 content">
           
            <h3>
              Our course materials includes all that a student need to pass the
              exams
            </h3>

            <ul>
              <li>
                <i class="ri-check-double-line"></i>Students who have passed
                10th standard are eligible to enrol and appear for ACCA exams
                and register as a member.
              </li>
              <li>
                <i class="ri-check-double-line"></i>Students willing to pursue
                their career path in Finance & Accounts. Commerce, Economics can
                enroll after completing 10thSTD.
              </li>
              <li>
                <i class="ri-check-double-line"></i>11th & 12th STD Science &
                Math students can enroll for the Diploma program for basic
                understanding of Finance.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!-- End exam elegible Section -->
  <!-- ======= Testimonials Section ======= -->
  <!-- ======= Testimonials Section ======= -->
  <div class="section-title">
    <!--<h2>Hear what some of our successful students have to say</h2>-->
    <h2>Hear what some of ExP's successful students have to say</h2>
  </div>
  <section id="studenttestimonials" class="studenttestimonials">
    <div class="container">
      <div class="owl-carousel testimonials-carousel">
        <div class="testimonial-item">
          <!-- <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> -->
          <h3>Sam H.</h3>
          <h4>London, United Kingdom</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            The ExP courses were excellent. The key areas were summarised
            perfectly and the exam approach techniques presented during the
            practice stage were exactly what I needed. I watched the majority of
            the course on my iPhone during my commute to work on the train and
            the technology was spot on and never let me down. I’d highly
            recommend the ExP courses. 5 stars as far as I’m concerned!
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>

        <div class="testimonial-item">
          <!-- <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
          <h3>Nour A.</h3>
          <h4>Damascus, Syria</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            I was impressed by the advanced learning solution provided by The
            ExP group. It was very simple, clear, rich and straight to the
            point. The practice lectures were amazing, supported by very strong
            and helpful exam techniques which contributes in helping students to
            pass the exams in a quite easy way. Very special thanks to the ExP
            staff, without your amazing efforts I wasn’t able to achieve such
            success.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>

        <div class="testimonial-item">
          <!-- <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt=""> -->
          <h3>Nataliya R.</h3>
          <h4>Amsterdam, The Netherlands</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            I enjoyed the ExP courses a lot. The Tutors used great techniques
            allowing students to absorb as much information as possible in a
            limited time. I appreciated the business awareness and real
            practical examples that the ExP tutors presented during the course.
            The lectures were always fun and even difficult subjects were not
            that scary after a few lessons :). Thanks a lot to the ExP team for
            great job.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>

        <div class="testimonial-item">
          <!-- <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt=""> -->
          <h3>Yaw O.</h3>
          <h4>Accra, Ghana</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Thanks to ExP, my dream of becoming a Chartered Accountant has been
            fulfilled. I’m now fully qualified and the ExP group made it easy
            with their lectures, notes and tips. I’m eternally indebted to the
            ExP team. They made complex subjects understandable and really
            helped me pass my exams. It was ExP’s support and guidance that
            enabled me to succeed in the exams.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>

        <div class="testimonial-item">
          <!-- <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt=""> -->
          <h3>Jan S</h3>
          <h4>Pretoria, South Africa</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Excellent and thoroughly recommended. Have used the ExP courses for
            a number of papers now and passed all of them first time. The
            courses are great and easy to follow and cover all the key areas.
            Very thorough and at a good pace. Nothing more for me to add apart
            from “Thank you ExP and keep up the good work” : )
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
        <div class="testimonial-item">
          <!-- <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt=""> -->
          <h3>Fiona P</h3>
          <h4>Singapore</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            This was the first time I’d used online courses following a friend’s
            recommendation about ExP and I loved it. Passed F3 first time : )
            The whole experience was very smooth from the registration through
            to the study and the mock exam. No complaints at all and loved the
            approach of the course. Thank you ExP : )
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Student Placement section-->
  <section id="student_placement">
    <div class="section-title">
      <!--<h2>Our Students Work in Companies</h2>-->
      <h2>ACCA Students are in much need in companies like</h2>
    </div>

    <div class="container-fluid">
      <div
        id="studentPlacementcarouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#studentPlacementcarouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li
            data-target="#studentPlacementcarouselExampleIndicators"
            data-slide-to="1"
          ></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="./common/assets/images/studentplacement/Companies-Enroll-with-us-1.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="./common/assets/images/studentplacement/Companies-Enroll-with-us-2.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          data-target="#studentPlacementcarouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span
            class="carousel-control-prev-icon icofont-simple-left"
            aria-hidden="true"
          ></span>
        </a>
        <a
          class="carousel-control-next"
          data-target="#studentPlacementcarouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span
            class="carousel-control-next-icon icofont-simple-right"
            aria-hidden="true"
          ></span>
        </a>
      </div>
    </div>
  </section>
  <!--End Student Placement Section-->
</main>
<!-- End #main -->
<div
  class="modal fade"
  id="popupmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div ng-click="goToUrl()">
          <img
            src="./common/assets/images/BFAT-2020.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div>
