

<main id="main">
  <!-- ======= slide Section ======= -->
  <section id="slidesection" class="slides" ng-if="!isMobile">
    <div
      id="carouselExampleIndicators"
      class="container carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox"></div>
      <a
        class="carousel-control-prev"
        data-target="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span
          class="carousel-control-prev-icon icofont-simple-left"
          aria-hidden="true"
        ></span>
      </a>
      <a
        class="carousel-control-next"
        data-target="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span
          class="carousel-control-next-icon icofont-simple-right"
          aria-hidden="true"
        ></span>
      </a>
    </div>
  </section>

  <div class="mobile-slide-section">
    <div id="myCarousel" class="carousel slide mobileslide" data-ride="carousel" ng-if="isMobile">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item align-middle active">
          <img class="first-slide" src="./common/assets/images/bluebg.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption  mb-10per">
             
              
              <h3 class="text-center">Start Preparing Global Finance  & <br> Accountancy Qualification while studying in School
              </h3>
             
               <div class="ml-5">
                <p class="banner-tagline-p">..foster linear to progressive learning</p>
              </div> 
             
             
              <div class="row justify-content-center my-5">
                <!--<div class="col-12">
                  <img class="img-fluid" src="./common/assets/images/footerimages/exp-bgGary.jpeg" alt="">
                </div>-->
                <div class="col-8">
                  <img class="img-fluid" src="./common/assets/images/silver_learning_partner.png" alt="">
                </div>
              </div>
              <div class="row justify-content-center my-5">
                <div>
                  <!-- <a class="btn btn-md btn-theme-violet" href="student-enroll.html" target="_blank" role="button">Enroll Now</a> -->
                  <a class="btn btn-md btn-theme-violet" href="enroll.html" target="_blank" role="button">Enroll Now</a>
                </div> 
                <div class="pl-2">
                  <a class="btn btn-md btn-theme-yellow" href="index.html#/diploma" target="_blank" role="button">Learn more</a>
                </div> 
            </div>
            </div>
          </div>
        </div>
        <div class="carousel-item align-middle">
          <img class="second-slide" src="./common/assets/images/bluebg.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption  text-center mb-10per">
              
              <h3>ACCA Platinum Level eLearning Courses</h3>
            <!-- <p> with ACCA approved Study Text and Exam Kits from <br>
                <b>The Exp Group ,United Kingdom</b><br />
                with Local Tutor Support at your city<sub>*</sub></p> -->
                
               
              <div class="text-center my-3">
                <div class="mx-auto">
                  <img class="img-fluid" src="./common/assets/images/footerimages/exp-whitebg-white.png" alt="">
                </div>
              </div>
              <div class="row justify-content-center my-5">
                <div>
                  <!-- <a class="btn btn-md btn-theme-violet" href="student-enroll.html" target="_blank" role="button">Enroll Now</a> -->
                  <a class="btn btn-md btn-theme-violet" href="enroll.html" target="_blank" role="button">Enroll Now</a>
                </div> 
                <div class="pl-2">
                  <a class="btn btn-md btn-theme-yellow" href="index.html#/acca-course-offering" target="_blank" role="button">Learn more</a>
                </div> 
            </div>
            </div>
          </div>
        </div>
        <div class="carousel-item align-middle">
          <img class="third-slide" src="./common/assets/images/bluebg.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption  text-center mb-30per">
              <h3>GTM & Consulting</h3>
              <p>Sales & Marketing strategies in sync with business plans</p>
              <p class="mt-30per"><a class="btn btn-md btn-theme-yellow"  href="go-to-market.html"
                target="_blank" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item align-middle ">
          <img class="fourth-slide" src="./common/assets/images/bluebg.png" alt="fourth slide">
          <div class="container">
            <div class="carousel-caption  text-center mb-30per">
              <h3>Augmented Reality <br> AR Book</h3>
              <p>A True Amalgamation of<br> Digital & Print</p>
              <p  class="mt-30per"><a class="btn btn-md btn-theme-yellow"  href="arbook.html"
                target="_blank" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <!-- ======= End slide Section ======= -->
  <!-- ======= video Section ======= -->

  <section id="vimeosection" class="vimeosection">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h4 class="text-center">Unique Offering</h4>
          <div class="card">
            <div class="card-img-top">
              <video
                width="100%"
                height="100%"
                controls
                controlsList="nodownload"
              >
                <source
                  src="./common/assets/videos/WA_MC-ExP_Unique_Offering.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <!--begin-Aswin-20-01-2021-content-changes-->

          <h4 class="text-center">Student’s ePortal Demo</h4>
           <!--end-Aswin-20-01-2021-content-changes-->
          <div class="card">
            <div class="card-img-top">
              <video
                width="100%"
                height="100%"
                controls
                controlsList="nodownload"
              >
                <source
                  src="./common/assets/videos/WA_MC-ExP_Instant Demo.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
          <h4 class="text-center">Try your ACCA Course for free</h4>
          <!--<h3>&nbsp;</h3>-->
          <div class="card">
            <a href="demo.html">
              <img
                class="card-img-top"
                src="./common/assets/images/MC_Sign_in.png"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======End  video Section ======= -->

  <!-- ======= About Section ======= -->
  <section id="aboutacca" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About ACCA</h2>
         <!--begin-Aswin-20-01-2021-content-changes-->
        <!-- <p>
          An ACCA qualification gives a comprehensive finance knowledge and
          skills that open up a wide range of career opportunities across
          industries around the world. With its core values of diversity,
          innovation, accountability and integrity, it makes a student, one of
          the most sought-after finance professionals in the world.
        </p> -->
        <p>
          An ACCA qualification gives the students a comprehensive knowledge in finance and skills that open up a wide range of career opportunities across industries around the world. With its core values of Diversity, Innovation, Accountability and Integrity, an ACCA qualified accountant will be one of the most sought-after finance professionals in the world
        </p>
         <!--end-Aswin-20-01-2021-content-changes-->
      </div>
      <div class="row">
        <div
          class="col-xl-12 col-lg-12 d-flex flex-column align-items-stretch justify-content-center"
        >
          <img
            src="./common/assets/images/ACCA_India_Overview.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-book-reader"></i></div>
             <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <p class="description">
              ACCA (Association of Chartered Certiﬁed Accountants) , founded in
              1904 is UK headquartered global professional accounting body
              offering the "Chartered Certiﬁed Accountant" qualiﬁcation.
              Recognised in over 180+ countries, it’s a great way to start a
              career in Finance, Accountancy & Management. There is nearly
              7,00,000+ Members and students in 180+ counties
            </p> -->
            <p>
              ACCA (Association of Chartered Certiﬁed Accountants) founded in 1904 is a global professional accounting body, headquartered in the UK and  offering the "Chartered Certiﬁed Accountant" qualiﬁcation.Recognised in over 180+ countries, it’s a great way to start a
              career in Finance, Accountancy & Management. There is nearly
              7,00,000+ Members and students in 180+ counties
            </p>
             <!--end-Aswin-20-01-2021-content-changes-->

          </div>
          <div class="icon-box">
            <div class="icon"><i class="bx bx-atom"></i></div>
             <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <p class="description">
              With a network of 107 offices and active centres around the world,
              the ACCA also have 57 global accountancy partnerships. ACCA’s
              having 300+ Approved Learning Partners (ALP) and more than 7,300
              Approved Employers worldwide, who provide employee development for
              its students / affiliates / members.
            </p> -->
            <p>
              With a network of 107 offices and active centres around the world, the ACCA also has 57 global accountancy partnerships. ACCA  has 300+ Approved Learning Partners (ALP) and more than 7,300 Approved Employers worldwide, who provide employee development for
              its students / affiliates / members.
            </p>
            <!--end-Aswin-20-01-2021-content-changes-->
          </div>
          <div class="icon-box">
            <div class="icon"><i class="bx bx-medal"></i></div>
             <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <p class="description">
              Amongst other key areas, the ACCA Qualification has a strong focus
              on professional values, ethics and governance. These are skills
              which are considered to be essential for today’s accountants as
              the accountancy profession generally moves towards an increased
              focus on professionalism and ethics.
            </p> -->
            <p class="description">
              Amongst other key areas, the ACCA Qualification has a strong focus
              on professional values, ethics and governance. These are skills which are considered to be essential for today's accountants, as Professionalism and Ethics have been the focus of the ACCA profession
            </p>
            <!--end-Aswin-20-01-2021-content-changes-->
          </div>
          <!--<div class="icon-box content">
            <div class="icon"><i class="bx bxs-bookmark-star"></i></div>
            <p class="description">
              In order to qualify as an ACCA member has to complete:
            </p>
            <ul class="description">
              <li><i class="ri-check-double-line"></i>13 exams</li>
              <li>
                <i class="ri-check-double-line"></i>Relevant practical
                experience.
              </li>
              <li>
                <i class="ri-check-double-line"></i>An online ethics module
              </li>
            </ul>
          </div>-->
        </div>
      </div>
    </div>
    <div class="container mt-5 mt-lg-2">
      <div class="row">
        <div class="col-lg-12 pt-4 content">
          <p><b>Advantages</b></p>
          <ul>
            <li>
              ACCA is a Globally Recognized Qualiﬁcation in 180+ Countries
            </li>
            <li>
              ACCA's ﬂexible examination scheme makes this qualiﬁcation more
              attractive
            </li>
            <li>
              Option to take individual papers to clear the exams comfortably,
              helping students to acquire in-depth<br />
              knowledge of the subjects.
            </li>
            <li>
              Since individual papers can be attempted, it is comparatively
              easier to pass.
            </li>
            <li>
              The exams are computer based and the results are known immediately
              enabling students to move ahead faster.
            </li>
            <li>Exposure to UK GAAP Laws and IFRS.</li>
          </ul>
        </div>
        <div class="col-lg-12 pt-4 pt-lg-0 content">
          <p>
            <b>In order to qualify as an ACCA member one needs to complete:</b>
          </p>
          <ul>
            <li>
              13 exams – split into three levels Viz – knowledge, Skill &
              Professional
            </li>
            <li>Relevant practical experience.</li>
            <li>An online ethics module</li>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="container mt-5 mt-lg-2">
      <div class="section-title">
        <h2>Globally Recognized</h2>
      </div>
      <div class="row">
        <div class="col-xl-12 content">
          <ul>
            <li>
              <i class="ri-check-double-line"></i>ACCA is a globally recognized
              qualiﬁcation in 180+ countries
            </li>
            <li>
              <i class="ri-check-double-line"></i>ACCA's ﬂexible examination
              process makes this qualiﬁcation more attractive
            </li>
            <li>
              <i class="ri-check-double-line"></i>Option to take individual
              papers to clear the exams comfortably, helping students to acquire
              in-depth knowledge of the subjects
            </li>
            <li>
              <i class="ri-check-double-line"></i>Since individual papers can be
              attempted, it is comparatively easier to pass
            </li>
            <li>
              <i class="ri-check-double-line"></i>The exams are computer based
              and the results are known immediately enabling students to move
              ahead faster
            </li>
            <li>
              <i class="ri-check-double-line"></i>Exposure to UK GAAP Laws and
              IFRS
            </li>
          </ul>
        </div>
      </div>
    </div>-->
    <div class="container mt-5 mt-lg-2">
      <div class="section-title">
        <h2>Benefits of ACCA</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 text-center">
          <img
            src="./common/assets/images/scale_up_succees.jpg"
            class="img-fluid img-h-95per"
            alt=""
          />
        </div>
        <div class="col-xl-6 col-lg-6 text-center pt-4 pt-lg-0">
          <div class="card" style="border: 1px solid #1977cc">
            <div class="card-body">
              <video class="w-100" id="v1" controls controlsList="nodownload">
                <source
                  src="./common/assets/videos/BenifitsofACCADec2020.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======end  About Section ======= -->

  <!-- ======= ACCA Diploma in Accounting & Business Section ======= -->

  <section id="diploma" class="diploma-accounting-scetion py-2">
    <div class="container">
      <div class="globally_recognised">
        <div class="section-title">
          <h2>ACCA Diploma in Accounting & Business</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 order-1 order-lg-2 text-center">
            <img
              src="./common/assets/images/finace-accounting-image.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-9 pt-4 pt-lg-0 order-2 order-lg-1 content">
             <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <p>
              ACCA Diploma in Accounting & Business is a Foundations
              level-qualifications focussed on applied knowledge This
              International Certification is part of the total 13 exams of ACCA.
              A Student need to appear and pass additional 10 exams to get
              qualified as ACCA member (with required Practical Experience of 3
              years and complete the Ethics and Professional Skills module)
            </p> -->
            <p>
              ACCA Diploma in Accounting & Business is a Foundation-level qualification focussed on applied knowledge This
              International Certification is part of the total 13 exams of ACCA.
              A Student need to appear and pass additional 10 exams to get
              qualified as ACCA member (with required Practical Experience of 3
              years and complete the Ethics and Professional Skills module)
            </p>
             <!--end-Aswin-20-01-2021-content-changes-->
            <p>
              ACCA Diploma in Accountancy & Business covers the entire Applied
              Knowledge Level subjects / exam papers of ACCA qualification. It
              gives a broad introduction to the world of finance and develop
              student’s essential understanding and techniques in accounting.
              The three Subject Papers are:
            </p>
          </div>
        </div>
        <div class="row student-progression-img pt-lg-2">
          <div class="col-lg-9 pt-lg-0 content">
            <div class="row">
              <div class="col-lg-12 pt-4 pt-lg-0 content">
                <!--<ul class="pl-lg-5">
                  <li>
                    <i class="bx bxs-hand-right"></i
                    ><a
                      href="javascript:void(0)"
                      ng-click="showStudentProgress()"
                      >Business and Technology (BT)</a
                    >
                  </li>
                  <li>
                    <i class="bx bxs-hand-right"></i
                    ><a
                      href="javascript:void(0)"
                      ng-click="showStudentProgress
                      ()"
                      >Management Accounting (MA)</a
                    >
                  </li>
                  <li>
                    <i class="bx bxs-hand-right"></i
                    ><a
                      href="javascript:void(0)"
                      ng-click="showStudentProgress()"
                      >Financial Accounting (FA)</a
                    >
                  </li>
                </ul>-->
                <div class="table-responsive">
                  <table class="table table-md table-bordered table-striped">
                    <tbody>
                      <tr>
                        <td style="width: 33%; text-align: center">
                          <strong>Business and Technology (BT)</strong>
                        </td>
                        <td style="width: 33%">
                          <p style="text-align: center">
                            <strong>Financial Accounting (FA)</strong>
                          </p>
                        </td>
                        <td style="width: 33%; text-align: center">
                          <strong>Management Accounting(MA)</strong>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 33%; text-align: left">
                          The business organisation, its stakeholders and the
                          external environment
                        </td>
                        <td style="width: 33%">
                          The context and purpose of financial reporting
                        </td>
                        <td style="width: 33%">
                          The nature, source and purpose of management
                          information
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Business organisational structure, functions and
                          governance
                        </td>
                        <td style="width: 33%">
                          The qualitative characteristics of financial
                          information
                        </td>
                        <td style="width: 33%">Cost accounting techniques</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Accounting and reporting systems, compliance, control,
                          technology and security
                        </td>
                        <td style="width: 33%">
                          The use of double-entry and accounting systems
                        </td>
                        <td style="width: 33%">Budgeting</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Leading and managing individuals and teams
                        </td>
                        <td style="width: 33%">
                          Recording transactions and events
                        </td>
                        <td style="width: 33%">Standard costing</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Personal effectiveness and communication
                        </td>
                        <td style="width: 33%">Preparing a trial balance</td>
                        <td style="width: 33%">Performance measurement</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">
                          Professional ethics in accounting and business
                        </td>
                        <td style="width: 33%">
                          Preparing basic financial statements
                        </td>
                        <td style="width: 33%">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">&nbsp;</td>
                        <td style="width: 33%">
                          Preparing simple consolidated financial statements
                        </td>
                        <td style="width: 33%">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="width: 33%">&nbsp;</td>
                        <td style="width: 33%">
                          Interpretation of financial statements
                        </td>
                        <td style="width: 33%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 pt-4 pt-lg-0 text-center">
            <img
              src="./common/assets/images/studentprogress1.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <!--row-->

          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <p><b>Foundation in Professionalism</b></p>
             <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <p>
              ACCA Diploma in Accounting & Business also consists of Foundation
              in Professionalism, an online interactive module, designed to help
              students understand and demonstrate what it means to act
              professionally and ethically in the work they carry out. The
              module is an interactive learning system with series of Self-Test.
              It allows the students to reflect what they had learn. It consists
              of
            </p> -->
            <p>
              ACCA Diploma in Accounting & Business also consists of Foundation
              in Professionalism, an online interactive module, designed to help
              students understand and demonstrate what it means to act
              professionally and ethically in the work they carry out. The
              module is an interactive learning system with series of Self-Test.
              It allows the students to reflect what they have learnt. It consists
              of
            </p>
            <!--end-Aswin-20-01-2021-content-changes-->
            <div class="row">
              <div class="col-lg-5">
                <ul>
                  <li>
                    <i class="ri-check-double-line"></i>Introduction to ethics
                    and professionalism
                  </li>
                   <!--begin-Aswin-20-01-2021-content-changes-->
                  <!-- <li><i class="ri-check-double-line"></i>Professionalism</li>
                  <li>
                    <i class="ri-check-double-line"></i>Professional ethics
                  </li> -->
                   <!--end-Aswin-20-01-2021-content-changes-->
                  <li>
                    <i class="ri-check-double-line"></i>Law and regulation
                  </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                   <!--begin-Aswin-20-01-2021-content-changes-->
                  <!-- <li>
                    <i class="ri-check-double-line"></i>Law and regulation
                  </li> -->
                  <!-- <li>
                    <i class="ri-check-double-line"></i>Professional ethics
                  </li> -->
                   <!--end-Aswin-20-01-2021-content-changes-->
                  <li>
                    <i class="ri-check-double-line"></i>Personal effectiveness
                    at work
                  </li>
                  <li><i class="ri-check-double-line"></i>Personal values</li>
                </ul>
              </div>
              <div class="col-lg-3">
                <ul>
                   <!--begin-Aswin-20-01-2021-content-changes-->
                  <!-- <li><i class="ri-check-double-line"></i>Personal values</li> -->
                   <!--end-Aswin-20-01-2021-content-changes-->
                  <li><i class="ri-check-double-line"></i>Case study</li>
                  <li><i class="ri-check-double-line"></i>Objective test</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- =======End  ACCA Diploma in Accounting & Business Section ======= -->

  <!-- ======= Student-Progress-Chart ======= -->
  <section
    id="student-progress-chart"
    class="student-progress-chart pt-2 pt-lg-5"
  >
    <div class="container">
      <div class="section-title">
        <h2>Student - Career Progression Chart</h2>
      </div>
      <div class="row">
        <div class="col-lg-12 mt-2 w-100 text-center">
          <!-- <img
            src="./common/assets/images/road_map_banner1_final.png"
            class="img-fluid"
            alt=""
          /> -->
          <!-- <img
            src="./common/assets/images/studnet_Roadmap.jpg"
            class="img-fluid"
            alt=""
          /> -->
          <img
          src="./common/assets/images/studnet_Roadmap2.png"
          class="img-fluid"
          alt=""
        />
          
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End Student-Progress-Chart ======= -->

  <!-- ======= ACCA Course Offering ======= -->

  <section id="acca-course-offering" class="acca-course-offering">
    <div class="container">
      <div class="section-title">
        <h2>
          Comprehensive Course offering <br />
          From Microconnect – ExP Group, UK
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-8 order-2 order-lg-1 mt-lg-5">
          <p>
            Microconnect has tied up with The Exp Group, UK as its Knowledge
            Partner. The ExP Group has the highest level of ACCA accreditation –
            Platinum Partner for ACCA eLearning courses. 
          </p>
          <p>
            Microconnect-ExP offering includes all that a student needs to gain
            knowledge and qualify for Global Professional Qualification of ACCA
          </p>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 text-center mt-0 mt-lg-5">
          <img
            src="./common/assets/images/footerimages/exproundlogo.jpg"
            class="img-fluid-50"
            alt=""
          />
        </div>

        <!--<p>
          Program includes all that a student needs to gain knowledge and pass
          the Global Certification Program of ACCA.
        </p>
        <div class="col-9 content order-2 order-lg-1">
          <ul>
            <li>
              <i class="ri-check-double-line"></i>ACCA Approved Platinum
              eLearning Content
            </li>
            <li>
              <i class="ri-check-double-line"></i>ACCA approved online Study
              Text + Exam Kits
            </li>
            <li><i class="ri-check-double-line"></i>Local Tutoring Support</li>
            <li>
              <i class="ri-check-double-line"></i>Access to Microconnect Test
              Portal
            </li>
          </ul>
        </div>
        <div class="col-3 order-1 order-lg-2">
          <img
            src="./common/assets/images/footerimages/knowledgepartnerTrans.png"
            class="img-fluid"
            alt=""
          />
        </div>-->
      </div>
      <div class="content">
        <p><b>Cutting Edge Educational Technology platform</b></p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>Microconnect (MC)-ExP offering
            Unrivalled eLearning technology Platform
          </li>
          <li>
            <i class="ri-check-double-line"></i>MC-ExP platforms are tailor
            designed by experienced instructional design team to maximise the
            impact of ACCA learning flow and ultimately ensure student’s success
            in their examinations
          </li>
           <!--begin-Aswin-20-01-2021-content-changes-->
          <!-- <li>
            <i class="ri-check-double-line"></i>ExP’s in-house technology team
            purpose code our ePlatforms resulting in exam effective, flexible
            and cost-effective solutions
          </li> -->
          <li>
            <i class="ri-check-double-line"></i> ExP's in-house technology team purpose codes our ePlatforms resulting in exam effective, flexible
            and cost-effective solutions
          </li>
         
          <!-- <li>
            <i class="ri-check-double-line"></i>Microconnect – ExP elearning
            platform provides the very latest management information which will
            enable us to monitor the progress & performance of each student in
            real time and take informed decision to support them with local
            tutor support across India
          </li> -->
          <li>
            <i class="ri-check-double-line"></i>  Microconnect – ExP elearning platform provides the very latest management information which will enable us to monitor the progress & performance of each student in real time and take informed decisions to support them with local tutor support across India
          </li>
         <!--end-Aswin-20-01-2021-content-changes-->
        </ul>
      </div>
      <div class="content">
        <p><b>Complete Offering</b></p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>ACCA Approved Platinum eLearning
            Content
          </li>
          <li>
            <i class="ri-check-double-line"></i>ACCA approved online Study Text
            + Exam Kits
          </li>
          <li>
            <i class="ri-check-double-line"></i>Local Tutoring Support in India
          </li>
          <li>
            <i class="ri-check-double-line"></i>Access to Microconnect Test
            Portal
          </li>
          <li>
            <i class="ri-check-double-line"></i>Each Student’s own unique
            personalised study plan
          </li>
          <li>
            <i class="ri-check-double-line"></i>Complete tuition stage video
            tutorials covering the entire syllabus
          </li>
          <li>
            <i class="ri-check-double-line"></i>Complete practice stage video
            tutorials covering exam standard <br />questions to ensure students
            are 100% ready for exam
          </li>
          <li>
            <i class="ri-check-double-line"></i>Focussed energisers and webinars
            to keep on track for exam success
          </li>
           <!--begin-Aswin-20-01-2021-content-changes-->
          <!-- <li>
            <i class="ri-check-double-line"></i>Learning reinforcement exercises
            for to track how well students are doing
          </li> -->
          <li>
            <i class="ri-check-double-line"></i>Learning reinforcement exercises to track how well students are doing
          </li>
           <!--end-Aswin-20-01-2021-content-changes-->
          <li>
            <i class="ri-check-double-line"></i>Exam simulation matching the
            ACCA Computer Based Examination (CBE) format
          </li>
        </ul>
      </div>
      <div class="row mt-2 mt-lg-4">
        <div class="col-xl-3">
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOCompleteCourse.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">A Complete Course</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOLearningTutorials.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Learning Tutorials</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOEnergizer.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Energiser and Webinar</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOPracticeTutorials.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Practice Tutorials</h5>
            </div>
          </div>
        </div>
        <div class="col-xl-2">
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOStudyText.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Study Text</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ExamKit.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Exam Kit</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOTutorAccess.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Expert Tutors</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOMockExam.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Mock Exam</h5>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOPassGuarantee.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Local tutor support</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOPersonalStudyPlan.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Personal Study Plan</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOBenchmarkStatistics.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Benchmark Statistics</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOProgressTest.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Progress Tests</h5>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOACCACIMAApproved.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">ACCA Approved</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOOutstandingPassrates.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Outstanding Pass Rates</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOPCTabletPhone.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">PC,Tablet & Phone Compatible</h5>
            </div>
          </div>
          <div class="media">
            <img
              class="mr-3"
              src="./common/assets/images/completeoffering/ICOAppleAndroid.webp"
              alt=""
            />
            <div class="media-body my-3">
              <h5 class="mt-0">Apple/Android Compatible</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-2 mt-lg-5 kaplan-container">
      <h4 class="text-center">
        Fully integrated Online Study Text & Exam kit – INCLUDED
      </h4>
      <div class="row">
        <div class="col-md-2 text-center">
          <img
            src="./common/assets/images/kaplan.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-md-8 content mt-2 mt-lg-0">
          <ul>
            <li>
              <b>Study kit</b>– Written by experienced tutors who know what
              works for students and how to deliver it. Offering full syllabus
              coverage and reviewed by ACCA's examining team.
            </li>
            <li>
              <b>Exam Kit </b>– A wealth of real past exam questions, our ACCA
              exam kits also feature practical advice on exam technique,
              enhanced answers and tutorial notes.
            </li>
          </ul>
        </div>
        <div class="col-md-2 text-center">
          <img
            src="./common/assets/images/accaApproved.jpeg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- ======= ACCA Course Offering ======= -->

  <!-- ======= ACCA Syllabus ======= -->
  <section id="syllabus" class="syllabus-section2">
    <div class="section-title">
      <h2>ACCA Syllabus</h2>
      <p>
        The 13 subjects and exams of ACCA are divided into three levels:
        Knowledge, Skills & Professional.
      </p>
    </div>
    <div class="container">
      <div class="mc-exam mc-exam-tabs">
        <div class="row">
          <div class="col-3">
            <div
              class="nav flex-column nav-pills w-100"
              id="exams-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                ng-repeat="tab in examtabData"
                class="nav-link"
                ng-class="{'active':$index == 0 }"
                id="exams-{{$index}}"
                data-toggle="pill"
                href="#exams-tab-{{$index}}"
                role="tab"
                aria-controls="exams-{{$index}}"
                aria-selected="false"
                >{{tab.title}}</a
              >
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content w-100 content" id="v-pills-tabContent">
              <div
                ng-repeat="tab in examtabData"
                class="tab-pane"
                ng-class="{'active':$index == 0 ,'show':$index == 0}"
                id="exams-tab-{{$index}}"
                role="tabpanel"
                aria-labelledby="exams-{{$index}}"
              >
                <p class="content" ng-bind-html="encodeData(tab.subtitle)"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="syllabus-subject" class="syllabus-section2 pt-0 pt-lg-5">
    <div class="section-title">
      <h2>ACCA Subjects - Details</h2>
    </div>
    <div class="container">
      <div class="mc-exam mc-exam-tabs">
        <div class="row">
          <div class="col-3">
            <div
              class="nav flex-column nav-pills w-100"
              id="syllabus-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                ng-repeat="tab in syllabustabdata"
                class="nav-link"
                ng-class="{'active':$index == 0 }"
                id="syllabus-{{$index}}"
                data-toggle="pill"
                href="#syllabus-tab-{{$index}}"
                role="tab"
                aria-controls="syllabus-{{$index}}"
                aria-selected="false"
                >{{tab.title}}</a
              >
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content w-100" id="syllabus-pills-tabContent">
              <div
                ng-repeat="tab in syllabustabdata"
                class="tab-pane"
                ng-class="{'active':$index == 0 ,'show':$index == 0}"
                id="syllabus-tab-{{$index}}"
                role="tabpanel"
                aria-labelledby="syllabus-{{$index}}"
              >
                <div
                  class="content"
                  ng-bind-html="encodeData(tab.subtitle)"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======End ACCA Syllabus ======= -->

  <!-- ======= Student Testimonials Section ======= -->

  <div id="stTestimonial" class="container">
    <div class="section-title">
      <h2>Hear what some of ExP's successful students have to say</h2>
    </div>
    <section id="studenttestimonials" class="studenttestimonials">
      <div class="container">
        <div class="owl-carousel testimonials-carousel">
          <div class="testimonial-item">
            <h3>Sam H.</h3>
            <h4>London, United Kingdom</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              The ExP courses were excellent. The key areas were summarised
              perfectly and the exam approach techniques presented during the
              practice stage were exactly what I needed. I watched the majority
              of the course on my iPhone during my commute to work on the train
              and the technology was spot on and never let me down. I’d highly
              recommend the ExP courses. 5 stars as far as I’m concerned!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h3>Nour A.</h3>
            <h4>Damascus, Syria</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I was impressed by the advanced learning solution provided by The
              ExP group. It was very simple, clear, rich and straight to the
              point. The practice lectures were amazing, supported by very
              strong and helpful exam techniques which contributes in helping
              students to pass the exams in a quite easy way. Very special
              thanks to the ExP staff, without your amazing efforts I wasn’t
              able to achieve such success.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h3>Nataliya R.</h3>
            <h4>Amsterdam, The Netherlands</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I enjoyed the ExP courses a lot. The Tutors used great techniques
              allowing students to absorb as much information as possible in a
              limited time. I appreciated the business awareness and real
              practical examples that the ExP tutors presented during the
              course. The lectures were always fun and even difficult subjects
              were not that scary after a few lessons :). Thanks a lot to the
              ExP team for great job.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h3>Yaw O.</h3>
            <h4>Accra, Ghana</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Thanks to ExP, my dream of becoming a Chartered Accountant has
              been fulfilled. I’m now fully qualified and the ExP group made it
              easy with their lectures, notes and tips. I’m eternally indebted
              to the ExP team. They made complex subjects understandable and
              really helped me pass my exams. It was ExP’s support and guidance
              that enabled me to succeed in the exams.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h3>Jan S</h3>
            <h4>Pretoria, South Africa</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Excellent and thoroughly recommended. Have used the ExP courses
              for a number of papers now and passed all of them first time. The
              courses are great and easy to follow and cover all the key areas.
              Very thorough and at a good pace. Nothing more for me to add apart
              from “Thank you ExP and keep up the good work” : )
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
          <div class="testimonial-item">
            <h3>Fiona P</h3>
            <h4>Singapore</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              This was the first time I’d used online courses following a
              friend’s recommendation about ExP and I loved it. Passed F3 first
              time : ) The whole experience was very smooth from the
              registration through to the study and the mock exam. No complaints
              at all and loved the approach of the course. Thank you ExP : )
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- ======= End Student Testimonials Section ======= -->

  <!-- ======= Student Placement carousel Section ======= -->
  <!-- <section id="student_placement" >
    <div class="section-title">
      <h2>ACCA Students are in much need in companies like</h2>
    </div>

    <div class="container">
      <div
        id="studentPlacementcarouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#studentPlacementcarouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li
            data-target="#studentPlacementcarouselExampleIndicators"
            data-slide-to="1"
          ></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="./common/assets/images/studentplacement/Companies-Enroll-with-us-1.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="./common/assets/images/studentplacement/Companies-Enroll-with-us-2.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          data-target="#studentPlacementcarouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span
            class="carousel-control-prev-icon icofont-simple-left"
            aria-hidden="true"
          ></span>
        </a>
        <a
          class="carousel-control-next"
          data-target="#studentPlacementcarouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span
            class="carousel-control-next-icon icofont-simple-right"
            aria-hidden="true"
          ></span>
        </a>
      </div>
    </div>
  </section> -->
  <!-- ======= End Student Placement carousel Section ======= -->
</main>


<div
  class="modal fade"
  id="popupmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
  data-backdrop="static"
>
  <div class="modal-dialog custom-widget-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <div ng-click="goToUrl()" >
          <img
            src="./common/assets/images/BFAT-2020.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div> -->
        <div
          class="popviewcontent"
          ng-click="goToUrl(popupRedirectUrl)"
          ng-bind-html="encodeData(popupcontent)"
        ></div>
      </div>
    </div>
  </div>
</div>