<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.13
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="https://admin-mc.io">admin-mc</a>.</strong> All rights
    reserved.
  </footer>