#accaqualification .services .icon {
    display: flex;
    justify-content: center;
}
#accaqualification  .services .icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    font-size: 40px;
    overflow: hidden;
    padding-top: 20px;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}
#accaqualification .services .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
}
#accaqualification .services .description {
    line-height: 24px;
    font-size: 14px;
}