<main role="main">
  <section
    id="accaqualification"
    class="mt-8rem"
    ng-if="currenShowPage == 'accaqualification'"
  >
    <div class="container">
      <div class="globally_recognised">
        <div class="section-title">
          <h2>ACCA - Qualifications</h2>
        </div>
        <div class="container services">
          <div class="row">
            <p><b>ACCA Diploma in Accounting and Business</b></p>

            <p>
              Students are awarded the <span class="text-blue">ACCA Diploma in Accounting and Business
              (RQF Level 4)</span> when they have successfully completed the 3 Exam
              papers – Viz Business and Technology (BT), Management Accounting
              (MA) and Financial Accounting (FA) exams, plus completion of
              Foundations in Professionalism. 
               <a href="index.html#/diploma" class="btn btn-link float-right" target="_blank"><i class="ri-arrow-left-s-line "></i>To know more Click here<i class="ri-arrow-right-s-line "></i></a>
            </p>
           

            <p><b>Certificate of Achievement from ACCA</b></p>
            <p>
              Students are awarded a <span class="text-blue">Certificate of Achievement</span> if they achieve
              a pass mark of 85% or above for individual passes in the Business
              and Technology (BT), Management Accounting (MA), or Financial
              Accounting (FA) for paper based or computer-based exams.  The
              certificate of achievement is also available for Corporate and
              Business Law (LW) for 85% or above.
              
            </p>
            <p><b>Advanced Diploma in Accounting and Business</b></p>
            <p>
              Students are awarded the <span class="text-blue">Advanced Diploma in Accounting and
              Business </span> when they have successfully completed the Applied
              Knowledge 3 Exams and Applied Skills – 6 exams. Should complete
              the Ethics and Professional Skills module
               <a href="index.html#/student-progress-chart" class="btn btn-link float-right" target="_blank"><i class="ri-arrow-left-s-line "></i>To know more Click here<i class="ri-arrow-right-s-line "></i></a>
            </p>
            <p><b>ACCA Qualification</b></p>
            <p>
              The ACCA Qualification develops the strategic, forward-thinking
              professional accountants the world needs. We’ve built a
              market-leading blend of technical, ethical and professional skills
              into our world-class accountancy qualification.
            </p>
            <p>
              This journey will take you through a combination of exams,
              experience and ethics. Our exams integrate the most relevant
              technical, ethical and professional skills. The Practical
              Experience Requirement allows you to prove your effectiveness in
              the workplace. And our Ethics and Professional Skills
              module develops the full range of advanced ethical and
              professional skills that employers tell us they need.
            </p>
            <p>
              The result - you'll enter the workplace as a forward-thinking
              professional accountant, equipped with the unique blend of skills
              needed to add immediate value in today's fast-paced business
              world.
            </p>
          </div>

          <div class="row text-center">
            <div class="col-lg-4">
              <img
                class="rounded-circle"
                src="./common/assets/images/accaQualification/monitor.png"
                alt="exam"
                width="100"
                height="100"
              />
              <h2>Exams</h2>
              <b>ACCA</b>  exam design and content integrates the most relevant
              technical, ethical and professional skills – 13 papers divided
              into three Levels – Knowledge, Skill & Professional Levels
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img
                class="rounded-circle"
                src="./common/assets/images/accaQualification/badge.png"
                alt="experience"
                width="100"
                height="100"
              />
              <h2>Experience</h2>
              <p>
                Experience (PER) is an integral part of the ACCA Qualification
                journey. Through experience you can prove your effectiveness in
                the workplace.
              </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img
                class="rounded-circle"
                src="./common/assets/images/accaQualification/settings.png"
                alt="ethics"
                width="100"
                height="100"
              />
              <h2>Ethics</h2>
              <p>
                The Ethics and Professional Skills module develops advanced
                ethical and professional awareness and competence.
              </p>
               <a href="index.html#/aboutacca" class="btn btn-link float-right" target="_blank"><i class="ri-arrow-left-s-line "></i>To know more Click here<i class="ri-arrow-right-s-line "></i></a>
            </div>
            <!-- /.col-lg-4 -->
            
          </div>
          <div class="row justify-content-between mt-2 mt-lg-5">
            <div class="col-5 text-md-left">
             <a href="qualification.html#/bsc-applied-accounting" target="_blank" class="btn btn-mc-theme border-radius-30px"

                ><i class="ri-arrow-left-s-line pt-1"></i><u>BSc (Hons) in Applied
                Accounting</u></a
              ></u>
            </div>
            <div class="col-5 text-md-right">
             <a href="qualification.html#/msc-professional-accounting" target="_blank" class="btn btn-mc-theme border-radius-30px"

                ><u>Masters in Professional Accounting </u><i
                  class="ri-arrow-right-s-line"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="bsc-aa" class="mt-8rem" ng-if="currenShowPage == 'bsc-aa'">
     <div class="container">
      <div class="globally_recognised">
        <div class="section-title">
          <h2>BSc (Hons) in Applied Accounting</h2>
        </div>
        <div class="container services content">
          <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
             <p>
              <span class="text-blue">ACCA</span> students have the option to earn a BSc (Hons) Degree Qualification in Applied Accounting from <b>Oxford Brookes University </b>while studying towards the <span class="text-blue">ACCA</span> Qualification
            </p>
            <p>
             <span class="text-blue">ACCA</span> and Oxford Brookes University have worked together to develop a <b>BSc (Hons) Degree in Applied Accounting </b>, which is available exclusively to <span class="text-blue">ACCA</span> students who wish to obtain a degree while studying towards the <span class="text-blue">ACCA</span> Qualification.

            </p>
            </div>
            <div class="col-lg-4 order-1 order-lg-2">
               <img
                class="img-fluid"
                src="./common/assets/images/accaQualification/oxford.png"
                alt="exam"
              />
            </div>
           </div>
           <div class="row">
           <div class="col-lg-12">
            <p>
              <!--begin-Aswin-20-01-2021-content-changes-->
             <!-- To be awarded the BSc (Hons) in Applied Accounting a student must: -->
             To be awarded the BSc (Hons) in Applied Accounting, a student must
             <!--end-Aswin-20-01-2021-content-changes-->
              <ul>
            <li>
               <!--begin-Aswin-20-01-2021-content-changes-->
              <!-- successfully completed all 9 papers Viz Applied Knowledge – (3 Subjects) and Applied Skills (6 Subjects) Papers -->
              Have successfully completed all 9 papers Viz Applied Knowledge – (3 Subjects) and Applied Skills (6 Subjects) Papers.
               <!--end-Aswin-20-01-2021-content-changes-->
            </li>
            <li>
            <!-- Need to submit a Research & Analysis Project. -->
            Submit a Research & Analysis Project
             <!--end-Aswin-20-01-2021-content-changes-->
            </li>
            <li>be registered with Oxford Brookes University ie have opted in to the BSc degree scheme before starting work on the Research and Analysis project
</li>
            <li>
             complete the ACCA Ethics and Professional Skills module

            </li>
            <li>
complete and pass the Oxford Brookes University Research and Analysis Project.
            </li>
          </ul>
            </p>
            <p>
             The degree must be completed within 10 years of the earliest date of your first examination pass otherwise your eligibility will be withdrawn.

            </p>
            <p>
            Find further information click - <u> <a href="https://www.accaglobal.com/hk/en/student/exam-entry-and-administration/oxford-brookes-bsc-hons-in-applied-accounting.html" target="_blank">Oxford Brookes University BSc degree.</a></u>
          </p>
          </div>
          </div>

       
          <div class="row justify-content-between mt-2 mt-lg-5">
            <div class="col-5 text-md-left">
           <a href="qualification.html#/acca-qualification" target="_blank" class="btn btn-mc-theme border-radius-30px"

                ><i class="ri-arrow-left-s-line pt-1"></i><u>ACCA Qualification</u></a
              >
            </div>
            <div class="col-5 text-md-right">
             <a href="qualification.html#/msc-professional-accounting" target="_blank" class="btn btn-mc-theme border-radius-30px"

                ><u>Masters in Professional Accounting</u><i
                  class="ri-arrow-right-s-line"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="msc-pa"  class="mt-8rem" ng-if="currenShowPage == 'msc-pa'">
    <div class="container">
      <div class="globally_recognised">
        <div class="section-title">
           <!--begin-Aswin-20-01-2021-content-changes-->
          <!-- <h2>Master Degree MSc  in Professional Accounting</h2> -->
          <h2> Masters Degree MSc in Professional Accounting</h2>
          <!--end-Aswin-20-01-2021-content-changes-->
        </div>
        <div class="container services content">
          <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
               <p>
             <b>Breaking new ground by combining our world leading <span class="text-blue">ACCA</span> Qualification with a Masters degree</b>.  <span class="text-blue">ACCA </span>is the only professional accountancy body that gives you the opportunity to gain an MSc from the University of London. And just as impressively, you can study the course from anywhere in the world
            </p>
           
            </div>
           
           <div class="col-lg-4 order-1 order-lg-2">
               <img
                class="img-fluid"
                src="./common/assets/images/accaQualification/universitylondon.png"
                alt="exam"
              />
            </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
             <p>
             Accountancy students can place themselves at the forefront of ground-breaking change by studying for the world’s first integrated master’s programme with the University of London at the same time as taking their professional qualification with ACCA.

            </p>
             <!--begin-Aswin-20-01-2021-content-changes-->
            <!-- <p>
           Taking both qualifications at the same time has been made possible through an innovative partnership between ACCA and the University of London. The MSc in Professional Accountancy is the only integrated master’s programme with an accountancy body at a professional level. 
           </p> -->
           <p>
            Taking both qualifications at the same time has been made possible through an innovative partnership between ACCA and the University of London.The MSc in Professional Accountancy is the only integrated masters programme with an accountancy body at a professional level. 
            </p>
          <!--end-Aswin-20-01-2021-content-changes-->
           <p>The design of the MSc in Professional Accountancy has been customised with pathways for ACCA students, affiliates and members, providing them with a unique opportunity for career advancement.
</p>
<p>University of London has more than 50,000 students in 180 countries. <b>So no need to relocate as you can study where you live</b>
</p>
           <p>
             <!--begin-Aswin-20-01-2021-content-changes-->
             <!-- To qualify for MSc- Professional accounting a Student must: -->
             To qualify for MSc- Professional accounting, a Student must:
              <ul>
            <li>
             <!-- must already have passed ACCA’s Applied Knowledge & Skills exams  -->
             Have already passed ACCA's Applied Knowledge & Skills exams
             <!--end-Aswin-20-01-2021-content-changes-->
            </li>
            <li>
           Cleared ACCA’s Strategic Professional Essentials exams.


            </li>
           
          </ul>
            </p>
            <p>
             The degree must be completed within 10 years of the earliest date of your first examination pass otherwise your eligibility will be withdrawn.

            </p>
            <p>
            Find further information click - <u> <a href="https://www.accaglobal.com/in/en/qualifications/glance/university-of-london-uol-msc-in-professional-accountancy/uol-msc-professional-accountancy-overview.html" target="_blank">University of London – Masters in Professional Accounting</a></u>
          </p>
          </div>
          </div>

       
          <div class="row justify-content-between mt-2 mt-lg-5">
            <div class="col-5 text-md-left">
             <a href="qualification.html#/bsc-applied-accounting" target="_blank" class="btn btn-mc-theme border-radius-30px"

                ><i class="ri-arrow-left-s-line pt-1"></i><u>BSc (Hons) in Applied
                Accounting</u></a
              >
             
            </div>
            <div class="col-5 text-md-right">
             <a href="qualification.html#/acca-qualification" target="_blank" class="btn btn-mc-theme border-radius-30px"

                ><u>ACCA Qualification</u><i class="ri-arrow-right-s-line pt-1"></i></a
              >
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
