<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <a href="index.html" class="logo mr-auto align-items-left"
            ><img
              src="./common/assets/images/icons/MC_Logo_Transparent.png"
              alt=""
              class="img-fluid"
          /></a>

          <p>
            Sai Anugragh, <br />
            16 Ashtalakshmi Street, <br />
            Muthulakshmi Nagar <br />
            Chitlapakkam<br />
            Chennai 600064<br />
            <strong>Phone:</strong
            ><a href="tel:+919677096011">&nbsp; +91 96770 96011</a><br />
            <strong>Email:</strong
            ><a href="mailto:info@microconnect.co.in">
              &nbsp; info@microconnect.co.in</a
            ><br />
          </p>
          <div class="social-links text-center text-md-center pt-3 pt-md-2">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/microconnect.co.in" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/microconnect.co.in" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>

            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links mt-lg-6 content">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="index.html" target="_blank">ACCA</a>
            </li>
            <li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="go-to-market.html" target="_blank">GTM</a>
            </li>
            <li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="arbook.html" target="_blank">AR Book</a>
            </li>
            <li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="qualification.html#/acca-qualification" target="_blank"
                >Qualification</a
              >
            </li>
            <li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="bfat.html" target="_blank">BFAT Scholarship</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links mt-lg-6 content">
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <i class="ri-arrow-right-s-line"></i>
              <!-- <a href="student-enroll.html" target="_blank">Enroll</a> -->
              <a href="enroll.html" target="_blank">Enroll</a>
            </li>
            <li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="http://www.microconnect.org/" target="_blank">Login</a>
            </li>
            <!-- <li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="https://www.theexpgroup.com/exp-blog/" target="_blank"
                >Blog</a
              >
            </li> -->

            <li>
              <i class="ri-arrow-right-s-line"></i> <a href="faq.html">FAQ</a>
            </li>

            <li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="about.html" target="_blank">About Us</a>
            </li>
            <!--<li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="privacypolicy.html">PRIVACY & POLICY</a>
            </li>
            <li>
              <i class="ri-arrow-right-s-line"></i>
              <a href="TermsofServices.html">TERMS OF SERVICES</a>
            </li>-->
          </ul>
        </div>

        <div class="col-lg-5 col-md-6">
          <div class="row no-gutters">
            <div class="col-md-6 text-center" style="margin: 1.7rem auto">
              <figure class="ar">
                <a href="index.html#aboutacca" target="_blank">
                  <img
                    class="img-fluid"
                    src="./common/assets/images/silver_learning_partner.png"
                    alt=""
                  />
                </a>
              </figure>
            </div>

            <div class="col-md-6 text-center">
              <figure class="ar">
                <a href="index.html#acca-course-offering" target="_blank">
                  <img
                    class="img-fluid"
                    src="./common/assets/images/footerimages/knowledgepartnerTrans.png"
                    alt=""
                  />
                </a>
              </figure>
            </div>

            <div class="col-md-6 text-center">
              <figure class="ar">
                <a href="arbook.html" target="_blank">
                  <!--//begin-Aswin-17-12-2020-issues-change-->
                  <!--<img
                    class="img-fluid h-10rem"
                    src="./common/assets/images/footerimages/book3.png"
                   
                    alt=""
                  />-->
                  <img
                  class="img-fluid h-10rem"
                  src="./common/assets/images/footerimages/MC-FFARBook.png"
                 
                  alt=""
                />
                <!--//end-Aswin-17-12-2020-issues-change-->
                </a>
              </figure>
            </div>

            <div class="col-md-6 text-center">
              <figure class="ar">
                <a
                  href="https://play.google.com/store/apps/details?id=com.PixCraft.FireFlyAR"
                  target="_blank"
                >
                  <img
                    class="img-fluid h-10rem"
                    src="./common/assets/images/footerimages/fireplayimage.png"
                    alt=""
                  />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-3">
    <div class="mr-md-auto text-center text-md-left my-auto">
      <div class="copyright">
        ©2021 <a href="https://www.microconnect.co.in/">Microconnect</a> All
        Rights Reserved &nbsp; &nbsp;
        <!--<a href="privacypolicy.html" id="privacypolicy" target="_blank"
          >Privacy Policy</a
        >
        ,
        <a href="TermsofServices.html" id="termsofservices" target="_blank"
          >Terms Of Use</a
        >-->
      </div>
    </div>
    <div class="mr-md-auto text-center text-md-center my-auto">
      <div class="copyright">
        <a href="privacypolicy.html" id="privacypolicy" target="_blank"
          >Privacy Policy</a
        >
        ,
        <a href="termofconditions.html" id="termsofservices" target="_blank"
          >Terms Of Conditions</a
        >
        <br>
        <!-- <a href="javascript:void(0)"  ng-click="openPopup('cancellation_policy')" 
          >Cancellation policy</a
        >,
        <a href="javascript:void(0)"  ng-click="openPopup('refund_policy')" 
          >Refund policy</a
        >,
        <a href="javascript:void(0)"  ng-click="openPopup('rejoinder_to_refund_policy')"  
          >Rejoinder to Refund Policy</a
        > -->
      </div>
    </div>

    <div class="text-center text-md-right pt-3 pt-md-0 my-auto">
      Designed by
      <a href="https://nainatechnologies.com/" target="_blank"
        >Naina Technology Solutions</a
      >
    </div>
  </div>
</footer>
<div class="modal fade" id="footerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{footer_modal_header}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{footer_modal_body_text}}
      </div>
    </div>
  </div>
</div>
<style>
  .h-10rem {
    height: 10rem;
  }
</style>

