<section id="payment" class="payment section-bg mt-8rem">
    <div class="container">
        <div class="globally_recognised">
          <div class="section-title">
            <h2>Payment Form</h2>
          </div>
          <form    id="contact"  name="paymentForm" class="enrollForm" role="form"   method="POST"  action="ccavRequestHandler.php" novalidate>
        
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label id="enrollnumber">Enrollment Number<span class="required">*</span></label>
                    <input class="form-control"  type="text" id="enrollnumber" name="enrollnumber" ng-model="paymentData.enrollmentnumber" placeholder="Enrollement Number" ng-readonly="true"
                        />
                        <div class="help-block" 
                        ng-messages="paymentForm.enrollnumber.$touched && paymentForm.enrollnumber.$error ">
                        <small id="passwordHelpBlock" class="form-text " ng-message="required">
                       Enrollment number is required
                        </small>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label id="emailid">Email<span class="required">*</span></label>
                    <input class="form-control"  type="text" id="billing_email" name="billing_email" ng-model="paymentData.email" placeholder="Email" ng-readonly="true"
                        />
                        <div class="help-block" 
                        ng-messages="paymentForm.billing_email.$touched && paymentForm.billing_email.$error ">
                        <small id="passwordHelpBlock" class="form-text " ng-message="required">
                        Email is required
                        </small>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label id="amount">Amount<span class="required">*</span></label>
                    <!-- <input class="form-control"  type="number" id="amount" name="amount" ng-model="amount" placeholder="xxxxx"   minlength="1" 
                    ng-minlength="1" 
                    allow-only-numbers   required/> -->
                    <input class="form-control"  type="number" id="amount" name="amount" ng-model="amount" placeholder="xxxxx"   minlength="1" 
                    ng-minlength="1" 
                    allow-only-numbers    required disabled/>
                        <div class="help-block" 
                        ng-messages="paymentForm.payamount.$touched && paymentForm.payamount.$error ">
                        <small id="passwordHelpBlock" class="form-text " ng-message="required">
                       Please enter amount 
                        </small>
                        <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                           Minimum  10000 only
                             </small>
                        </div>
                </div>
            </div>
            <!--<div class="col-md-6">
                <div class="form-group">
                    
                    <div class="g-recaptcha" vc-recaptcha key="publicKey"></div>
                </div>
            </div>-->
        </div>
        <div class="row justify-content-center">
            
        </div>
        <div id="subm">
            <button type="submit"  ng-disabled="paymentForm.$invalid" class="btn btn-primary"  >Pay now</button>
            <!-- <button type="submit" id="submit" onClick="paynow()" form="" value="Submit">Pay Now</button> -->

        </div>
        <input type="text" name="tid" ng-model="paymentDetails.tid" hidden/>
        <input type="text" name="merchant_id" ng-model="paymentDetails.merchant_id" hidden/>
        <input type="text" name="order_id" ng-model="paymentDetails.order_id" hidden/>
        <input type="text" name="amount" ng-model="amount" hidden/>
        <input type="text" name="currency" ng-model="paymentDetails.currency" hidden/>
        <input type="text" name="redirect_url" ng-model="paymentDetails.redirect_url" hidden/>
        <input type="text" name="cancel_url" ng-model="paymentDetails.cancel_url" hidden/>
        <input type="text" name="language" ng-model="paymentDetails.language" hidden/>
        <input type="text" name="billing_name" ng-model="paymentDetails.billing_name" hidden/>
        <input type="text" name="billing_email" ng-model="paymentDetails.billing_email" hidden/>
        <input type="text" name="billing_address" ng-model="paymentDetails.billing_address" hidden/>
        <input type="text" name="billing_city" ng-model="paymentDetails.billing_city" hidden/>
        <input type="text" name="billing_state" ng-model="paymentDetails.billing_state" hidden/>
        <input type="text" name="billing_zip" ng-model="paymentDetails.billing_zip" hidden/>
        <input type="text" name="billing_country" ng-model="paymentDetails.billing_country" hidden/>
        <input type="text" name="billing_tel" ng-model="paymentDetails.billing_tel" hidden/>

        </form>
       
      </div>
   </div>
</section><!-- End student enroll  Section -->



