<!DOCTYPE html>
<html ng-app="microconnectAdmin" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta
      http-equiv="Cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />

    <title>MC-Admin | {{pagetitle}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <!-- Bootstrap 3.3.7 -->
    <link
      rel="stylesheet"
      href="./assets/vendor/bootstrap/v3/bootstrap.min.css"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="./assets/vendor/font-awesome/css/font-awesome.min.css"
    />
    <!-- Data-table -->
    <link
      rel="stylesheet"
      href="./assets/vendor/data-table/dataTables.bootstrap.min.css"
    />

    <link
    rel="stylesheet"
    href="./assets/vendor/data-table/export/buttons.dataTables.min.css"
  />

    <!-- Toast -->
    <link rel="stylesheet" href="./assets/vendor/jquery-toast/toast.min.css" />

    <!-- ng-tag input -->
    <link
      rel="stylesheet"
      href="./assets/vendor/ng-tags-input/ng-tags-input.min.css"
    />
    <!-- Favicons -->
    <link href="./assets/images/icons/favicon.png" rel="icon" />
    <!-- Theme style -->
    <link rel="stylesheet" href="./dist/css/Admin.min.css" />
    <!-- admin-mc Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="./assets/css/_all-skins.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
  
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
    />
  </head>
  <body class="sidebar-mini skin-black fixed layout-boxed">
    <div class="wrapper">
      <ui-view></ui-view>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="./assets/vendor/jquery/v3/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="./assets/vendor/bootstrap/v3/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="./assets/vendor/fastclick/fastclick.js"></script>

    <!-- SlimScroll -->
    <script src="./assets/vendor/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- angularjs -->
    <script src="./assets/vendor/angular/angular.min.js"></script>
    <script src="./assets/vendor/angular/angular-ui-router.min.js"></script>
    <script src="./assets/vendor/angular/angular-sanitize.min.js"></script>
    <script src="./assets/vendor/angular/angular-messages.min.js"></script>
    <script src="./assets/vendor/angular/ng-file-upload-all.min.js"></script>
    <!--data table-->
    <script src="./assets/vendor/data-table/jquery.dataTables.min.js"></script>
    <script src="./assets/vendor/data-table/dataTables.bootstrap.min.js"></script>

   <!--data table export-->

   <script src="./assets/vendor/data-table/export/dataTables.buttons.min.js"></script>
   <script src="./assets/vendor/data-table/export/buttons.flash.min.js"></script>
   <script src="./assets/vendor/data-table/export/jszip.min.js"></script>
   <script src="./assets/vendor/data-table/export/pdfmake.min.js"></script>
   <script src="./assets/vendor/data-table/export/vfs_fonts.js"></script>
   <script src="./assets/vendor/data-table/export/buttons.html5.min.js"></script>
   <script src="./assets/vendor/data-table/export/buttons.print.min.js"></script>
    <!-- toast-->
    <script src="./assets/vendor/jquery-toast/toast.min.js"></script>

    <!--Ckeditor-->

    <!-- <script src="https://cdn.ckeditor.com/4.13.1/standard-all/ckeditor.js"></script> -->
    <!-- <script src="./assets/vendor/ckeditor/ckeditor.js"></script> -->
    <!-- <script src="//cdn.ckeditor.com/4.15.1/full/ckeditor.js"></script> -->
    <!-- <script src="//cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script> -->
   
    <script src="./assets/vendor/ckeditor/ckeditor.js"></script>
    <!-- <script src="./assets/vendor/ckeditor/samples/js/sample.js"></script>
    <script >
      initSample();
    </script> -->
    <!-- <script src="hhttps://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>-->

    <script src="./assets/vendor/angular/angular-ckeditor.js"></script>

    <script src="./assets/vendor/excelexport/ng-csv.min.js"></script>

    <script src="./assets/vendor/ng-tags-input/ng-tags-input.min.js"></script>
 
     <!--sortable-->
    <script src="./assets/vendor/jquery/jquery-ui.js"></script>
    <script src="./assets/vendor/ui-reorder/sortable.js"></script>

    <script src="./assets/vendor/moment/moment.min.js"></script>

    <!-- admin-mc -->
    <!-- admin-mc App -->
    <script src="./env.js"></script>

    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/adminmc.js"></script>
  
    <script src="./dist/microconnectAdmin.js?v=1"></script>
    <!-- <script src="./dist/microconnectAdmin.min.js?v=2020"></script> -->

  </body>
</html>
