<main role="main">
  <section id="bfat" class="mt-8rem">
    <div class="container">
      <div class="globally_recognised">
        <div class="section-title">
          <h2>Business & Finance Aptitude Test (BFAT)</h2>
        </div>
        <div class="container services">
          <div class="row justify-content-between">
            <div class="col-lg-12 text-center">
              <!--<img
                class="img-fluid"
                src="./common/assets/images/bfat/BFAT-2020.png"
                alt=""
              />-->
              <!--begin-Aswin-20-01-2021-content-changes-->
              <!-- <img
                class="img-fluid w-100"
                src="./common/assets/images/bfat/microconnectBFATnew.png"
                alt=""
              /> -->
              <!-- <img class="img-fluid w-100" src="./common/assets/images/bfat/microconnectBFATnew2021.png" alt="" /> -->
              <!-- <img class="img-fluid" src="./common/assets/images/bfat/BFAT-2021.png" alt="" /> -->
           <!--begin-Aswin-20-01-2021-content-changes-->
              <!-- <div class="row">
                <div class="col-3">
                  <img class="img-fluid" src="./common/assets/images/bfat/BFAT2021_Eligibility.png" alt="" />
                </div>
                <div class="col-6">
                  <a href="https://bit.ly/3yYdEcm" target="_blank">
                    <img class="img-fluid" src="./common/assets/images/bfat/BFAT-2021.png" alt="" />
                  </a>
                  
                </div>
                <div class="col-3">
                  <img class="img-fluid" src="./common/assets/images/bfat/BFAT-2021_SelfRegister.png" alt="" />
                </div>
              </div> -->
              <a href="https://bit.ly/3yYdEcm" target="_blank">
                <img
                class="img-fluid "
                src="./common/assets/images/bfat/bfat-header.png"
                alt=""
              />
              </a>
              <div class="content text-center">
                <p style="color: #ff0000;"><b><i>Open from 1st September 2021 :  6AM onwards</i>
                </b></p>
                <div class="col-lg-12 text-center">
                  <img
                    class="img-fluid"
                    src="./common/assets/images/bfat/bfat-features.jpg"
                    alt=""
                  />
                </div>
                </div>
              <!--end-Aswin-27-08-2021-content-changes-->
              <!--end-Aswin-20-01-2021-content-changes-->

            </div>
            <!--<div class="col-lg-6 text-center">
              <img
                class="img-fluid mt-0 mt-lg-5"
                src="./common/assets/images/bfat/bfatQr.png"
                alt=""
              />
            </div>-->
          </div>
          <div class="row mt-lg-4">
             <div class="col-12">
              <div class="row mt-lg-4">
                <p><b>What is BFAT?</b></p>
    
                <!-- <p>
                  <span class="text-blue"
                    >Business & Finance Aptitude Test (BFAT)
                  </span>
                  is an online entrance cum scholarship test to qualify for
                  Professional International Diploma in Accounting & Business from
                  ACCA Global, UK. The BFAT scholarship test is conducted for Class
                  X, XI and XII students.
                </p> -->
                <p>
                  <b>B</b>usiness & <b>F</b>inance <b>A</b>ptitude <b>T</b>est (BFAT). It’s an online test for students who
                  aspire to get professional qualification in Finance and Business
                </p>
    
                <p><b>Why BFAT?</b></p>
                <p>
                  Enable students andparents to make individual, independent and informed decision on students’ career
                  choice.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
    
                <!-- <p><b>BFAT Fee & Scholarship</b></p>
                <p>
                  BFAT fee is Rs.1000/-. However, it is waived off for school
                  Students. You also have a chance to win a scholarship of a maximum
                  of Rs.10,000/-* The amount of scholarship to be redeemed while
                  enrolling for ,
                  <span class="text-blue">
                    Professional Diploma in Accounting & Business from ACCA Global,
                    UK.
                  </span>
                </p> -->
              </div>
             </div>
             <!-- <div class="col-3">
              <img class="img-fluid mt-lg-img-35" src="./common/assets/images/bfat/BFAT-2021_WIN.png" alt="" />
             </div> -->
          </div>
         
          <div class="row mt-lg-4">
            <p><b>Who can take BFAT?</b></p>
            <div class="table-responsive">
              <table class="table table-md table-bordered table-striped">
                <tbody>
                  <tr>
                    <td style="width: 10%; text-align: center">
                      <strong>S.No</strong>
                    </td>
                    <td style="width: 30%">
                      <p style="text-align: center">
                        <strong>Students of</strong>
                      </p>
                    </td>
                    <td style="width: 60%; text-align: center">
                      <strong>Benefits</strong>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 10%; text-align: left">
                      1
                    </td>
                    <td style="width: 30%">
                      Grade 10
                    </td>
                    <td style="width: 60%">
                      To help themselves on group selection in class 11 / Jr. college
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Grade 11
                    </td>
                    <td>
                      Enable them to begin their professional career while studying in school.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Grade 12
                    </td>
                    <td>
                      To fast-track education & professional growth path.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Under graduation (BCom, BBA & BA Economics)
                    </td>
                    <td>
                      To know more about various flexible learning options to become a finance professional and be
                      recognised across Globe
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-lg-4">
            <p><b>BFAT-2021 Subject details</b></p>
            <div class="table-responsive">
              <table class="table table-md table-bordered table-striped">
                <tbody>
                  <tr>
                    <td style="width: 20%; text-align: center">
                      <strong>Subject</strong>
                    </td>
                    <td style="width: 20%">
                      <p style="text-align: center">
                        <strong>Grade 10</strong>
                      </p>
                    </td>
                    <td style="width: 20%; text-align: center">
                      <strong>Grade 11</strong>
                    </td>
                    <td style="width: 20%; text-align: center">
                      <strong>Grade 12</strong>
                    </td>
                    <td style="width: 20%; text-align: center">
                      <strong>Undergraduate</strong>
                    </td>
                  </tr>
                  <tr class="text-center">
                    <td style="width: 20%; text-align: left">
                      Numerical Aptitude
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                  </tr>
                  <tr class="text-center">
                    <td style="width: 20%; text-align: left">
                      English
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                  </tr>
                  <tr class="text-center">
                    <td style="width: 20%; text-align: left">
                      Business GK
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                  </tr>
                  <tr class="text-center">
                    <td style="width: 20%; text-align: left">
                      Economics
                    </td>
                    <td style="width: 20%">
                      -
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                  </tr>
                  <tr class="text-center">
                    <td style="width: 20%; text-align: left">
                      Business Studies
                    </td>
                    <td style="width: 20%">
                      -
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                  </tr>
                  <tr class="text-center">
                    <td style="width: 20%; text-align: left">
                      Accountancy
                    </td>
                    <td style="width: 20%">
                      -
                    </td>
                    <td style="width: 20%">
                      -
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                    <td style="width: 20%">
                      Yes
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="row content">
              <div class="col-lg-12 text-center">
                <img
                  class="img-fluid"
                  src="./common/assets/images/bfat/bfat-features.jpg"
                  alt=""
                />
              </div>

              <ul>
                <li>Duration of test-60 Mins with 50 questions.</li>
                <li>
                  The test is on basic skills (separate questions for each
                  grade)
                </li>
                <li>All will get the participation certificate.</li>
                <li>
                  Be in a silent place and take the test without any break /
                  disturbance
                </li>
                <li>Can take the test on your mobile or desktop or laptop</li>
                <li>
                  Test is enabled with online proctoring security features
                  -don't use <b>ctrl + c </b>,screen print, closing and opening
                  windows etc.,
                </li>
                <li>
                  Before taking the test read all security related instructions
                  carefully & adhere to it
                </li>
              </ul>
            </div> -->
          <div class="row content">
            <p><b>BFAT-2021 Test Details</b></p>
            <ul>
              <li> BFAT Registration is FREE <a href="https://candidate.speedexam.net/register.aspx?site=bfat">click &
                  self-register</a>&nbsp;
                  (Create your own
                login &password)</li>
              <li>
                Take the <u><b>Free practice test</b></u> & familiarize with the test pattern / platform
              </li>
              <li> BFAT-2021 will open from <b>1st Sep 2021</b></li>
              <li>
                Two attempts are given to all students to maximise their score and win rewards and recognitions
              </li>
              <li> BFAT-2021 fee is Rs.225/- (rupees two hundred and twenty-five only) – students can take the test
                their respective login / dashboard</li>
              <li>
                Duration of BFAT-2021 is 60 Mins with 50 questions with no <u><b>negative marks</b></u>
              </li>
              <li>
                Can take the test from any device &OS – tablet or mobile or desktop or laptop
              </li>
              <li> BFAT-2021 is enabled with online proctoring security features -don't use <b>ctrl+c</b> ,screen print,
                closing and opening windows /screens, etc</li>
              <li> Before taking the test read all security related instructions carefully & adhere to it – else the
                BFAT-2021 will auto terminate</li>
            </ul>

            <p><strong>BFAT-2021 Rewards &amp; Awards for Students</strong></p>
            <div class="row">
              <div class="col-sm-8">
                <ul>
                  <li>Rewards &amp; Awards worth 10Lacs are on the Grab</li>
                  <li>Participation certificate for all</li>
                  <li>Topper in each grade will get 10.4&rdquo; Samsung Galaxy Tablet</li>
                  <li>Next Nine in each grade (other top 9) will get Bluetooth headset / speakers</li>
                  <li>Students scoring above 75% will get merit certificates &amp; Scholarship<span
                      style="color: #ff0000;"><strong>*</strong></span></li>
                  <li>Students scoring above 60% will be eligible for scholarships<span
                      style="color: #ff0000;"><strong>*</strong></span></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-6">
                    <img class="img-fluid " src="./common/assets/images/bfat/tab.png" alt="" />
                  </div>
                  <div class="col-6">
                    <img class="img-fluid " src="./common/assets/images/bfat/headphone.png" alt="" />
                  </div>
                  <div class="col-6">
                    <img class="img-fluid " src="./common/assets/images/bfat/earbuds.png" alt="" />
                  </div>
                  <div class="col-6">
                    <img class="img-fluid " src="./common/assets/images/bfat/batch.png" alt="" />
                  </div>
                </div>
               
               
               
                
              </div>
            </div>
            
            <p><strong>BFAT-2021 Rewards &amp; Recognition to Institutions</strong></p>
            <div class="row flex-column-reverse flex-lg-row">
              <div class="col-sm-9 ">
                <ul>
                  <li>Top 3 institutions with over 100 students taking the BFAT 2021 exam will receive special citation and
                    rewards.</li>
                  <li>Rewards include 2 high quality reference books for the library.</li>
                  <li>2 * teachers will be sponsored to qualify for an internationalstudy program in tune with current
                    trends in finance &amp; accountancy</li>
                  <li>Certificates to all commerce faculty members if &gt;40 students take the BFAT-2021 from respective
                    institutions.</li>
                  <li>Top institution will win BFAT 2021 trophy</li>
                </ul>
              </div>
              <div class="col-sm-3 text-center">
                <img class="img-fluid mt-lg-img-35" src="./common/assets/images/bfat/award.png" alt="" />
              </div>
            </div>
          
          </div>
          <!-- <p>
            <b><a href="index.html#/aboutacca">What is ACCA?</a></b>
          </p>
          <p>
            ACCA- Association of Chartered Certiﬁed Accountants, founded in
            1904 is UK headquartered global professional accounting body
            offering the "Chartered Certiﬁed Accountant" qualiﬁcation.
            Recognized in over 180 countries, it’s a great way to a career in
            Finance, Accountancy & Management. It’s a true Global CA
            qualification.
          </p>

          <p>
            To know more about ACCA Qualification details Visit -<a href="https://www.accaglobal.com/uk/en.html"
              target="_blank">
              https://www.accaglobal.com/uk/en.html
            </a>
          </p> -->
        </div>

        <!-- <p>
          SCAN the QR code or
          <a href="https://candidate.speedexam.net/signin.aspx?site=bfat2020" traget="_blank">click & self-register
          </a>
          for BFAT-2020 and take the test. It is a first step towards securing
          Global Professional qualification. 
        </p>-->
        <div class="col-lg-12 text-center">
          <div class="row">
            <div class="col-md-6">
              <a href="https://bit.ly/3yYdEcm" target="_blank">
                <img
                class="img-fluid"
                src="./common/assets/images/bfat/bfat-footer-qr.png"
                alt=""
              />
              </a>
            </div>
            <div class="col-md-6">
              <a href="https://bit.ly/3yYdEcm" target="_blank">
                <img
                class="img-fluid"
                src="./common/assets/images/bfat/reward.png"
                alt=""
              />
              </a>
            </div>
          </div>
         
         
        </div>
        <!-- <small class="text-center mt-lg-3"><span
          style="color: #ff0000;"><strong>*</strong></span><strong>Scholarships</strong> to be redeemed while enrolling for ACCA&rsquo;s Global Professional Finance Qualification. ACCA &ndash; Associated Charted Certified Accountant, UK. For more details on ACCA &ndash; Visit - <a href="https://microconnect.co.in/index.html#/aboutacca">https://microconnect.co.in/index.html#/aboutacca</a></small> -->
          <small class="text-center mt-lg-3"><span
            style="color: #ff0000;"><strong>*</strong></span><strong>Scholarships</strong> details will be shared to eligible individual students and it is purely based on the marks obtained in BFAT-2021. No cash prizes in lieu of scholarship will be awarded. .  <strong>Scholarships</strong> to be redeemed while enrolling for ACCA’s Global Professional Finance Qualification. ACCA – Associated Charted Certified Accountant, UK. For more details on ACCA – Visit - <a href="https://microconnect.co.in/index.html#/aboutacca">https://microconnect.co.in/index.html#/aboutacca</a></small>
      </div>
    </div>
    </div>
  </section>
</main>