<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <!--<img src="./assets/images/founder2.jpg" class="img-circle" alt="User Image">-->
        <img ng-src="{{userImage}}" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>{{userDetails.username}}</p>
        <a href="#"
          ><i class="fa fa-circle text-success"></i> {{userDetails.rolename}}</a
        >
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active">
        <a ui-sref="home.dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="treeview active menu-open">
        <a href="javascript:void(0);" data-toggle="treeview">
          <i class="fa fa-th"></i>
          <span>Maintenance</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li
            class=""
            ng-repeat="item in allowedMenus"
            ng-class="{'active' : getCurrentActivePath(item.path)}"
          >
            <a ui-sref="{{item.path}}" ng-click="setMenu(item)"
              ><i class="fa fa-circle-o"></i> {{item.menuname}}</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
