<section id="getintouch" class="contact mt-8rem">
  <div class="container">
    <div class="section-title">
      <h2>Get in Touch</h2>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="icofont-google-map"></i>
            <h4>Location:</h4>
            <p>
              Sai Anugragh,<br />
              16-Ashtalakshmi Street,<br />
              Muthulakshmi Nagar,<br />
              Chitlapakkam,Chennai-600064,<br />
              Tamilnadu,India
            </p>
          </div>

          <div class="email">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>
              <a href="mailto:info@microconnect.co.in"
                >info@microconnect.co.in</a
              >
            </p>
          </div>

          <div class="phone">
            <i class="icofont-phone"></i>
            <h4>Call:</h4>
            <p><a href="tel:+91 9871512225">+91 9871512225</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">
        <form
          name="getintouchForm"
          method="post"
          role="form"
          class="php-email-form"
          id="getintouchform"
        >
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                ng-model="contact.name"
                id="name"
                placeholder=" Name"
                ng-minlength="4"
                mg-maxlength="25"
                minlength="4"
                maxlength="25"
                required
              />
              <div
                class="help-block"
                ng-messages="getintouchForm.name.$touched && getintouchForm.name.$error "
              >
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="required"
                >
                  Name is required
                </small>
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="maxlength"
                >
                  you exceeded maximum characters
                </small>
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="minlength"
                >
                  Enter minimum 4 characters
                </small>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <input
                type="text"
                class="form-control"
                ng-model="contact.institution"
                name="organization"
                id="organization"
                placeholder=" Organization / Institution"
                required
              />
              <div
                class="help-block"
                ng-messages="getintouchForm.organization.$touched && getintouchForm.organization.$error "
              >
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="required"
                >
                  Orgainization / Institution is required
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input
                type="tel"
                name="mobile"
                ng-model="contact.mobilenumber"
                class="form-control"
                id="mobile"
                placeholder=" Mobile Number"
                ng-minlength="10"
                ng-maxlength="10"
                minlength="10"
                maxlength="10"
                allow-only-numbers
                required
              />
              <div
                class="help-block"
                ng-messages="getintouchForm.mobile.$touched && getintouchForm.mobile.$error "
              >
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="required"
                >
                  Mobile number is required
                </small>
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="minlength"
                >
                  Please enter valid mobile number
                </small>
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="maxlength"
                >
                  Please enter valid mobile number
                </small>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <input
                type="email"
                class="form-control"
                ng-model="contact.email"
                name="email"
                id="email"
                ng-pattern="/^.+@.+\..+$/"
                placeholder="Email"
                required
              />
              <div
                class="help-block"
                ng-messages="getintouchForm.email.$touched && getintouchForm.email.$error "
              >
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="required"
                >
                  Email is required
                </small>
                <small
                  id="passwordHelpBlock"
                  class="form-text"
                  ng-message="pattern"
                >
                  Please enter valid email
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              ng-model="contact.subject"
              name="subject"
              id="subject"
              placeholder="Subject"
              minlength="4"
              ng-minlength="4"
              required
            />
            <div
              class="help-block"
              ng-messages="getintouchForm.subject.$touched && getintouchForm.subject.$error "
            >
              <small
                id="passwordHelpBlock"
                class="form-text"
                ng-message="required"
              >
                Please enter at least 8 chars of subject
              </small>
              <small
                id="passwordHelpBlock"
                class="form-text"
                ng-message="minlength"
              >
                Please enter at least 8 chars of subject
              </small>
            </div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="message"
              ng-model="contact.message"
              rows="5"
              data-msg="Please write something for us"
              placeholder="Message"
              required
            ></textarea>
            <div
              class="help-block"
              ng-messages="getintouchForm.message.$touched && getintouchForm.message.$error "
            >
              <small
                id="passwordHelpBlock"
                class="form-text"
                ng-message="required"
              >
                Please write something for us
              </small>
            </div>
          </div>

          <div class="form-group">
            <!--Recaptcha Widget-->
            <div class="g-recaptcha" vc-recaptcha key="publicKey"></div>
            <!--<div
              class="g-recaptcha"
              data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"
              data-callback="verifyRecaptchaCallback"
              data-expired-callback="expiredRecaptchaCallback"
            ></div>
            <input
              class="form-control d-none"
              data-recaptcha="true"
              required
              data-error="Please complete the Captcha"
            />
            <div class="help-block with-errors"></div>-->
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
