#student .globally_recognised {
    margin-top: 7%;
}
.enrollForm .form-group label{
   font-weight: 600;
   font-size: 1rem;
}
.enrollForm .form-control{
      border: none;
      background-color: #fff;
      color: #000000;
      box-shadow: rgba(117, 138, 172, 0.12) -1px 1px 4px 0px;
    
  }
.enrollForm #parentno , 
.enrollForm #studentno{
      padding: 5% !important;
      display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
   
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  .enrollForm .required{
  
    color: rgb(248, 50, 50);
  
}
  [type=file] + label:hover {
    background: #3399ff;
  }
  [type=file] + label {
    text-align: center;
    background: #6f6f6f;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  input[type=file] {
    display: block;
  }
  [type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  [type=file] + label {
    border: 1px solid #CCC;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 150px;
    margin: 0;
    left: 0;
    position: relative;
  }
  sup {
    vertical-align: super;
    font-size: smaller;
}