<section id="student" class="student section-bg mt-8rem">
    <div class="container">
        <div class="globally_recognised">
          <div class="section-title">
            <h2>Student Enrollment Form</h2>
          </div>
          <form id="contact"  name="enrollForm" class="enrollForm" role="form" ng-submit="submitEnrollData()" novalidate>
          <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12 form-group">
                        <label id="formlabel">Name as in Aadhar Card<span class="required">*</span></label>
                        <input class="form-control"  type="text" id="name" name="name" ng-model="studentenrolldata.se_name" placeholder="First Name Second Name"
                            required/>
                            <div class="help-block" 
                            ng-messages="enrollForm.name.$touched && enrollForm.name.$error ">
                            <small id="passwordHelpBlock" class="form-text " ng-message="required">
                            Name is required
                            </small>
                            </div>
                    </div>
                    <!-- <div class="col-xs-12 col-md-12 form-group">
                        <label id="formlabel">Aadhar Card Number<span class="required">*</span></label>
                        <input name="aadharno"  type="tel"
                            
                            data-type="adhaar-number"
                            ng-model="studentenrolldata.se_aadharno"
                             minlength="14" 
                             maxlength="14"
                             ng-minlength="14" 
                             ng-maxlength="14"
                             ng-pattern='/^\d{4}-\d{4}-\d{4}$/'
                             allow-only-numbers
                             
                            placeholder="0123-4567-8999" class="form-control" required/>

                            <div class="help-block" 
                            ng-messages="enrollForm.aadharno.$touched && enrollForm.aadharno.$error ">
                            <small id="passwordHelpBlock" class="form-text " ng-message="required">
                            Aadhar Number  is required
                            </small>
                             <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                            Enter valid Aadhar Number  
                            </small>
                               <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                            Enter valid Aadhar Number  
                            </small>
                             <small id="passwordHelpBlock" class="form-text " ng-message="pattern">
                            Enter valid Aadhar Number  
                            </small>
                            </div>
                    </div> -->
                    <div class="col-xs-12 col-md-12 form-group">
                        <label id="formlabel">Aadhar Card Number<span class="required">*</span></label>
                        <input name="aadharno"  type="text"
                            ng-model="studentenrolldata.se_aadharno"
                              minlength="14" 
                             maxlength="14"
                             aadhar-check
                            placeholder="0123-4567-8999" class="form-control" required/>

                            <div class="help-block" 
                            ng-messages="enrollForm.aadharno.$touched && enrollForm.aadharno.$error ">
                            <small id="passwordHelpBlock" class="form-text " ng-message="required">
                            Aadhar Number  is required
                            </small>
                             <small id="passwordHelpBlock" class="form-text " ng-message="aadharcard">
                            Enter valid Aadhar Number  
                            </small>
                            </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-12 form-group">
                        <label id="formlabel">Date of Birth<span class="required">*</span></label>
                        <input class="form-control" id="date" name="dob" 
                       ng-model="dateofbirth" 
                        placeholder="1" type="date" required/>
                         <div class="help-block" 
                            ng-messages="enrollForm.dob.$touched && enrollForm.dob.$error ">
                            <small id="passwordHelpBlock" class="form-text " ng-message="required">
                            Date Of Birth is required
                            </small>
                           
                            </div>
                    </div>
                     <div class="col-xs-12 col-md-12 form-group">
                             <label id="formlabel">Gender<span class="required">*</span></label>
                            <select class="form-control" 
                            ng-model="studentenrolldata.se_gender
                            "
                            name="gender" required>
                                <option value="" hidden selected>select</option>
                                 <option value="m" >Male</option>
                                <option value="f" >Female</option>
                                <option value="t" >Transgender</option>
                            </select>
                             <div class="help-block" 
                                ng-messages="enrollForm.gender.$touched && enrollForm.gender.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                               Gender is required
                                </small>
                                </div>
                        </div>
                    <div class="col-xs-12 col-md-12 form-group">
                        <label id="formlabel"> Parent Mobile No <span class="required">*</span></label>
                        <div class="row">
                            <div class="col-lg-2">
                                <!--<select class="form-control" id="parentno" name="parentno" style=" padding: 5%">
                                    <option value="+91" selected="">+91</option>
                                </select>-->
                                 <select
                                id="parentno"
                                    name="parentno" 
                                    class="form-control"
                                   style=" padding: 5%"
                                     ng-model="parentnum_dialcode" ng-options="countrydialcode.dial_code as countrydialcode.dial_code for countrydialcode in commonJsonData.country_dial_code"  >
                                      <option value="" hidden></option>
                                    </select>
                            </div>
                            <div class="col-lg-10">
                                <input  
                              
                              
                                 type="tel"
                                name="parentMobNo"
                                ng-model="parentmobileno"
                                   
                                    minlength="10" maxlength="10"
                                    ng-minlength="10" ng-maxlength="10"
                                    placeholder="999 888 7777"
                                    allow-only-numbers
                                     class="form-control" required/>
                                <div class="help-block" 
                                ng-messages="enrollForm.parentMobNo.$touched && enrollForm.parentMobNo.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                Parent mobile number is required
                                </small>
                                 <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                                Enter valid mobile number
                                </small>
                                  <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                               Enter valid mobile number
                                </small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-12 form-group">
                        <label id="formlabel"> Student Mobile No <span class="required">*</span></label>
                        <div class="row">
                            <div class="col-lg-2">
                                <!--<select id="studentno" class="form-control" 
                                  
                                 name="studentnum" style=" padding: 5%">
                                    <option value="+91" selected="">+91</option>
                                </select>-->
                                <select
                                id="studentno"
                                    name="studentnum" 
                                    class="form-control"
                                   style=" padding: 5%"
                                     ng-model="studentnum_dialcode" ng-options="countrydialcode.dial_code as countrydialcode.dial_code for countrydialcode in commonJsonData.country_dial_code"  >
                                      <option value="" hidden></option>
                                    </select>
                            </div>
                            <div class="col-lg-10">
                                <input 
                                 type="tel"
                                 name="studentMobNo" 
                               
                                ng-model="studentmobileno"
                                   minlength="10" maxlength="10"
                                    ng-minlength="10" ng-maxlength="10"
                                    placeholder="999 888 7777" 
                                    class="form-control" 
                                    allow-only-numbers
                                    required />
                            <div class="help-block" 
                                ng-messages="enrollForm.studentMobNo.$touched && enrollForm.studentMobNo.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                Student mobile number is required
                                </small>
                                 <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                                Enter valid mobile number
                                </small>
                                  <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                               Enter valid mobile number
                                </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-group">
                        <label id="formlabel">Parent Email<span class="required">*</span></label>
                        <input class="form-control" 
                        ng-model="studentenrolldata.se_parentemail"
                          ng-pattern="/^.+@.+\..+$/"
                           name="parentEmail" placeholder="Parent email" type="email" required/>
                        <div class="help-block" 
                                ng-messages="enrollForm.parentEmail.$touched && enrollForm.parentEmail.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                Certificate will be sent on parent email id only!
                                </small>
                                 <small id="passwordHelpBlock" class="form-text " ng-message="pattern">
                                Enter valid email 
                                </small>
                                 
                                </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-group">
                        <label id="formlabel">Student Email<span class="required">*</span></label>
                        <input class="form-control" 
                        ng-model="studentenrolldata.se_studentemail" 
                        name="studentEmail" placeholder="Student email" type="email"
                         ng-pattern="/^.+@.+\..+$/" required/>
                        <div class="help-block" 
                                ng-messages="enrollForm.studentEmail.$touched && enrollForm.studentEmail.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                               Email  is required
                                </small>
                                 <small id="passwordHelpBlock" class="form-text " ng-message="pattern">
                                Enter valid email 
                                </small>
                                 
                                </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <label id="formlabel">School<span class="required">*</span></label>
                            <input class="form-control"  
                            ng-model="studentenrolldata.se_school"
                            name="schoolname" placeholder="School Name"
                                type="text" required/>
                                <div class="help-block" 
                                ng-messages="enrollForm.schoolname.$touched && enrollForm.schoolname.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                               School name  is required
                                </small>
                                </div>
                        </div>
                        <div class="col-xs-12 col-md-12 ">
                            <div class="row">
                            <div class="col-lg-6 form-group">
                                <label id="formlabel " style="
                                font-weight: 700;
                            ">School Code<sup><span class="animate-rotating">New</span></sup></label>
                                   <input name="schoolcode" 
                                   type="text"
                                   ng-model="se_schoolcode"
                                       placeholder="School Code" 
                                        class="form-control"  >
                                       <div class="help-block" 
                                       ng-messages="enrollForm.schoolcode.$touched && enrollForm.schoolcode.$error ">
                                       <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                   School code  is required
                                       </small>
                                       </div>
                            </div>
                              <div class="col-lg-6 form-group">
                                <label id="formlabel">School's City<span class="required">*</span></label>
                                <input class="form-control" id="City"
                                ng-model="studentenrolldata.se_schoolcity"
                                 name="City" placeholder="City Name" type="text"
                                    maxlength="19" required/>
                                     <div class="help-block" 
                                    ng-messages="enrollForm.City.$touched && enrollForm.City.$error ">
                                    <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                   School city  is required
                                    </small>
                                    </div>
                            </div>
                            
                            </div>
                         </div>
                        <!-- <div class="col-xs-12 col-md-12 form-group">
                            <label id="formlabel">School's City<span class="required">*</span></label>
                            <input class="form-control" id="City"
                            ng-model="studentenrolldata.se_schoolcity"
                             name="City" placeholder="City Name" type="text"
                                maxlength="19" required/>
                                 <div class="help-block" 
                                ng-messages="enrollForm.City.$touched && enrollForm.City.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                               School city  is required
                                </small>
                                </div>
                                
                        </div> -->
                        <div class="col-xs-12 col-md-12 form-group">
                            <label id="formlabel">School PIN Code / Postal Code<span class="required">*</span></label>
                            <input  
                             type="text"
                            ng-model="studentenrolldata.se_schoolpincode"
                            name="schoolpincode"
                            minlength="6" maxlength="6"
                                 ng-minlength="6" ng-maxlength="6"
                                placeholder="xxx xxx" class="form-control"
                                allow-only-numbers required/>
                                <div class="help-block" 
                                ng-messages="enrollForm.schoolpincode.$touched && enrollForm.schoolpincode.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                               School pincode  is required
                                </small>
                                 <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                               School pincode  is required
                                </small>
                                 <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                               School pincode  is required
                                </small>
                                 <small id="passwordHelpBlock" class="form-text " ng-message="pattern">
                               Enter number only 
                                </small>
                                </div>
                        </div>
                        <div class="col-xs-12 col-md-12 form-group">
                            <!--<label id="formlabel">Class/Std<span class="required">*</span></label>-->
                             <label id="formlabel">Studying<span class="required">*</span></label>
                            <select class="form-control" 
                            ng-model="studentenrolldata.se_class"
                            name="studentclass" required/>
                                <option value="" hidden selected>select</option>
                                 <option value="11" >11&#x1D57;&#x02B0;</option>
                                <option value="12" >12&#x1D57;&#x02B0;</option>
                                 <option value="others" >Others</option>
                                
                            </select>
                             <div class="help-block" 
                                ng-messages="enrollForm.studentclass.$touched && enrollForm.studentclass.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                               Student class  is required
                                </small>
                                </div>
                        </div>
                        <div class="col-xs-12 col-md-12 form-group">
                            <label id="formlabel">Year of Pass(10th Class)<span class="required">*</span></label>
                            <input class="form-control" 
                            type="text" 
                             ng-model="studentenrolldata.se_yearofpass"
                             name="passedyear" placeholder="1991" 
                               minlength="4" maxlength="4"
                             ng-minlength="4" ng-maxlength="4"
                              allow-only-numbers
                             required/>
                              <div class="help-block" 
                                ng-messages="enrollForm.passedyear.$touched && enrollForm.passedyear.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                               10th passed year  is required
                                </small>
                                  <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                               Enter valid year  
                                </small>
                                  <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                               Enter valid year  
                                </small>
                                </div>
                        </div>
                        <div class="col-xs-12 col-md-12 form-group">
                            <label id="formlabel"> Address <span class="required"></span></label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input class="form-control" id="address1"
                                    ng-model="studentenrolldata.se_address.line1"
                                     name="line1" placeholder="Line 1" type="text" />
                                     
                                </div>
                                <div class="col-lg-6">
                                    <input class="form-control" id="address2"
                                     ng-model="studentenrolldata.se_address.line2"
                                     name="line2" placeholder="Line 2" type="text" />
                                </div>
                                <!--<div class="col-lg-4">
                                    <input class="form-control" id="address3"
                                     ng-model="studentenrolldata.se_address.city"
                                      name="city" placeholder="City" type="text" />
                                </div>-->
                               
                            </div>
                        </div>
                          <div class="col-xs-12 col-md-12 ">
                             <div class="row">
                             <div class="col-lg-4 form-group">
                                    <label id="formlabel">Country</label>
                                    <select
                                    name="country" 
                                    class="form-control"
                                     ng-model="country" ng-options="country.code as country.name for country in commonJsonData.countrylist" 
                                     ng-change="setCountry(country)">
                                      <option value="" hidden>Select Country</option>
                                    </select>
                                        <div class="help-block" 
                                        ng-messages="enrollForm.country.$touched && enrollForm.country.$error ">
                                        <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                    Country  is required
                                        </small>
                                        </div>
                             </div>
                               <div class="col-lg-4 form-group">
                                    <label id="formlabel">State</label>
                                    <input name="state" 
                                    type="text"
                                    ng-if="country != 'IN'"
                                    ng-disabled="country == ''"
                                    ng-model="studentenrolldata.se_state"
                                        minlength="1" 
                                        ng-minlength="1" 
                                        placeholder="State" class="form-control"  >
                                        <div class="help-block" 
                                        ng-messages="enrollForm.state.$touched && enrollForm.state.$error ">
                                    <!--select-->
                                        <select
                                    name="state" 
                                    class="form-control"
                                    ng-if="country == 'IN'"
                                     ng-model="state" ng-options=" states.state as states.state for states in commonJsonData.indianStates.states" 
                                     ng-change="setState(state)">
                                      <option value="" hidden>Select State</option>
                                    </select>
                                    <!--select-->
                                        <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                    State  is required
                                        </small>
                                        <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                    Enter valid state name  
                                        </small>
                                        
                                        </div>
                             </div>
                              <div class="col-lg-4 form-group">
                                    <label id="formlabel">City</label>
                                    <input name="city" 
                                    type="text"
                                    ng-if="country != 'IN'"
                                    ng-disabled="country =='' && state == '' "
                                    ng-model="studentenrolldata.se_city"
                                        minlength="1" 
                                        ng-minlength="1" 
                                        placeholder="City" class="form-control">
                                         <!--select-->
                                        <select
                                    name="city" 
                                    class="form-control"
                                    ng-if="country == 'IN'"
                                     ng-model="city" ng-options="district as district for district in districts" 
                                     ng-change="setDistrict(city)">
                                      <option value="" hidden>Select City</option>
                                    </select>
                                    <!--select-->
                                        <div class="help-block" 
                                        ng-messages="enrollForm.city.$touched && enrollForm.city.$error ">
                                        <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                    City  is required
                                        </small>
                                        <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                    Enter valid city name  
                                        </small>
                                        
                                        </div>
                             </div>
                             </div>
                             
                              
                            
                          </div>
                        <div class="col-xs-12 col-md-12 form-group">
                            <label id="formlabel">PIN Code/ Postal Code<span class="required">*</span></label>
                            <input name="pincode" 
                             type="text"
                               ng-model="studentenrolldata.pincode"
                                minlength="6" maxlength="6"
                                ng-minlength="6" ng-maxlength="6"
                                placeholder="xxx xxx" class="form-control" allow-only-numbers required>
                                <div class="help-block" 
                                ng-messages="enrollForm.pincode.$touched && enrollForm.pincode.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                              Pincode  is required
                                </small>
                                  <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                               Enter valid pincode  
                                </small>
                                  <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                               Enter valid pincode  
                                </small>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                <div class="col-xs-12 col-md-12 form-group">
                        <div class="row">
                        
                            <div class="col-md-3">
                                <input type="hidden" id="bonofide_cert" placeholder="Attach School Bonofide  Letter"
                                    class="form-control">
                                <label id="formlabel">School Bonafide Letter<span class="required">*</span></label><br>
                                <small>JPEG/PDF Maximum Size 5MB</small>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input id="f04" type="file" name="bonofidecert" ng-model="bonofideSrc" placeholder="Attach" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this,'bonofide')" required>
                                <!--<label for="f01">Attach </label>-->
                            </div>
                            <div class="col-md-4">
                              <img ng-show="bonofideSrc !=null" ng-src="{{bonofide}}" style="width:100px;height:100px">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-group">
                        <div class="row">
                        
                            <div class="col-md-3">
                                <input type="hidden" id="marksheet_10" placeholder="Attach TC/Mark Sheet"
                                    class="form-control">
                                <label id="formlabel">10th Mark Sheet<span class="required">*</span></label><br>
                                <small>JPEG/PDF Maximum Size 5MB</small>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input id="f01" type="file" name="attachmarksheet" ng-model="marksheetSrc" placeholder="Attach" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this,'marksheet')" required>
                                <!--<label for="f01">Attach </label>-->
                            </div>
                            <div class="col-md-4">
                              <img ng-show="marksheet !=null" ng-src="{{marksheet}}" style="width:100px;height:100px">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="hidden" id="adhar_img" placeholder="Attach TC/Mark Sheet"
                                    class="form-control">
                                <label id="formlabel">Aadhar Card<span class="required">*</span></label><br>
                                <small>JPEG/PDF Maximum Size 5MB</small>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input id="f02" type="file" accept="image/*" name="attachaadhar" 
                                ng-model="aadharcardSrc" 
                                placeholder="Attach"  onchange="angular.element(this).scope().uploadedFile(this,'aadharcard')" required>
                                <!--<label for="f02">Attach </label>-->
                            </div>
                             <div class="col-md-4">
                              <img ng-show="aadharcard !=null" ng-src="{{aadharcard}}" style="width:100px;height:100px">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="hidden" id="student_photo" placeholder="Attach TC/Mark Sheet"
                                    class="form-control">
                                <label id="formlabel"> Student Recent Photo<span
                                        class="required">*</span></label><br>
                                <small>JPEG/PDF Maximum Size 5MB</small>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input id="f03" type="file" accept="image/*"  name="attachstudentphoto" 
                                  ng-model="studentphotoImgSrc" 
                                placeholder="Attach" onchange="angular.element(this).scope().uploadedFile(this,'studentphoto')" required>
                                <!--<label for="f03">Attach </label>-->
                            </div>
                             <div class="col-md-4">
                              <img ng-show="studentphoto !=null" ng-src="{{studentphoto}}" style="width:100px;height:100px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 form-group">
                <label id="declar"><input type="checkbox" ng-model="studentenrolldata.agree" id="decalare"> I hereby declare that all the
                    informtion given by me in this application is true and correct to the best of my
                    knowledge and belief</label>
            <div class="form-group">
            <!--Recaptcha Widget-->
               <div class="g-recaptcha" vc-recaptcha key="publicKey"></div>
            </div>
                <div id="subm">
                    <button type="submit" id="submit" ng-disabled="enrollForm.$invalid" class="btn btn-primary" 
                        value="Submit" >Submit</button>
                    <!-- <button type="submit" id="submit" onClick="paynow()" form="" value="Submit">Pay Now</button> -->

                </div>
            </div>
        </div>
        </form>
      </div>
   </div>
</section><!-- End student enroll  Section -->



