<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>ACCA Subjects List</h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li><a ui-sref="home.accasubjectlistctrl">ACCA Subject Entry</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header">
          <div class="pull-right">
            <a
              class="btn btn-success"
              href="JavaScript:void(0);"
              ng-click="subjectModal(0)"
              ng-if="enableNewBtn"
            >
              <i class="fa fa-plus-circle"></i>&nbsp;New</a
            >
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="subjectlist" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Title</th>
                <th>Content</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in subjectData">
                <td>{{$index + 1}}</td>
                <td>{{data.title}}</td>
                <td ng-bind-html="encodeData(data.subtitle)"></td>
                <td>{{data.status == true ? 'Active' : 'Inactive'}}</td>
                <td>
                  <div class="row">
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableEditBtn"
                        ng-click="subjectModal(data._id,'edit')"
                      >
                        <span class="fa fa-edit"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableViewBtn"
                        ng-click="subjectModal(data._id,'view')"
                      >
                        <span class="fa fa-eye"></span>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<div
  class="modal fade"
  id="subjectsentryModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <form
          id="contact"
          name="subjectEntryForm"
          class="form-horizontal"
          role="form"
          novalidate
        >
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Title<span class="required">*</span></label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="title"
                      name="title"
                      ng-model="subjectEntryData.title"
                      placeholder="Title"
                      ng-disabled="disableEdit"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="subjectEntryForm.name.$touched && subjectEntryForm.name.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Title is required
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Content<span class="required">*</span></label
                    >

                    <textarea
                      class="form-control"
                      ckeditor="data.options"
                      ng-if="enableBtn"
                      ng-model="data.textInput"
                      id="insBoxid_syllabuscontent"
                      required
                    >
                    </textarea>
                    <div
                      class="card content-notedit"
                      ng-bind-html="encodeData(data.textInput)"
                      ng-if="disableEdit"
                    ></div>

                    <div
                      class="help-block"
                      ng-messages="subjectEntryForm.syllabuscontent.$touched && subjectEntryForm.syllabuscontent.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Content is required
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Status<span class="required">*</span></label
                    >
                    <select
                      class="form-control"
                      ng-options="status.value as status.name for status in commonJsonData.statusTypeBoolen"
                      ng-model="subjectEntryData.status"
                      name="status"
                      ng-disabled="disableEdit"
                      ng-required="true"
                    >
                      <option value="" hidden>Select</option>
                    </select>
                    <div
                      class="help-block"
                      ng-messages="subjectEntryForm.status.$touched && subjectEntryForm.status.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Status is required
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          ng-click="hideSubjectModal()"
        >
          Close
        </button>
        <button
          ng-if="enableBtn"
          type="button"
          class="btn btn-primary"
          ng-click="saveACCASubject(subject_id)"
        >
          {{buttonText}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
