<form
          id="passwordchangeform"
          name="passwordchangeform"
          class="form-horizontal"
          role="form"
          novalidate
        >
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Username<span class="required">*</span></label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="username"
                      name="username"
                      ng-model="passwordChangedata.username"
                      placeholder="Username"
                      ng-disabled="true"
                      
                    />
                   
                  </div>

                  <div class="col-md-12" >
                    <label id="formlabel"
                      >Password<span class="required">*</span></label
                    >
                    <div class="input-group">
                      <input
                        class="form-control"
                        type="password"
                        ng-attr-type="{{ showPassword ? 'text':'password'}}"
                        id="pwd"
                        name="pwd"
                        ng-model="passwordChangedata.password"
                        placeholder="Password"
                        minlength="6"
                        ng-minlength="6"
                        required
                      />
                      <span class="input-group-addon"
                        ><i
                          class=""
                          ng-click="toggleShowPassword()"
                          ng-class="{'fa fa-eye': showPassword,'fa fa-eye-slash': !showPassword}"
                          style="cursor: pointer"
                        ></i
                      ></span>
                    </div>

                    <div
                      class="help-block"
                      ng-messages="passwordchangeform.pwd.$touched && passwordchangeform.pwd.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Password is required
                      </small>
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="minlength"
                      >
                        Please enter minimum 6 characters
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12" >
                    <label id="formlabel"
                      >Confirm Password<span class="required">*</span></label
                    >
                    <div class="input-group">
                      <input
                        class="form-control"
                        type="password"
                        ng-attr-type="{{ showPassword ? 'text':'password'}}"
                        id="cpwd"
                        name="cpwd"
                        ng-model="passwordChangedata.confirmpassword"
                        placeholder="Password"
                        minlength="6"
                        ng-minlength="6"
                        compare-to="passwordChangedata.password"
                       
                        required
                      />
                      <span class="input-group-addon"
                        ><i
                          class=""
                          ng-click="toggleShowPassword()"
                          ng-class="{'fa fa-eye': showPassword,'fa fa-eye-slash': !showPassword}"
                          style="cursor: pointer"
                        ></i
                      ></span>
                    </div>

                    <div
                      class="help-block"
                      ng-messages="passwordchangeform.cpwd.$touched && passwordchangeform.cpwd.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                      Confirm   Password is required
                      </small>
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="minlength"
                      >
                        Please enter minimum 6 characters
                      </small>
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="compareTo"
                      >
                        Password mismatch
                      </small>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <div class="pull-right">
              <button
                type="submit"
                class="btn btn-primary"
                ng-disabled="passwordchangeform.$invalid"
                ng-click="changePassword()"
              >
                <i class="fa fa-envelope-o"></i> Save
              </button>
           
            </div>
            <div class="pull-left">
             
              <button
              type="reset"
              class="btn btn-default"
              ng-click="closePasswordModal()"
            >
              <i class="fa fa-times"></i> Close
            </button>
            </div>
            
          </div>
        </form>