<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Get In Touch Customers List</h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li>
      <a ui-sref="home.getintouchuserlist">Get In Touch Customers List</a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header"></div>
        <!-- /.box-header -->
        <div class="box-body">
          <table
            id="getintouchuserlist"
            class="table table-bordered table-striped"
          >
            <thead>
              <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Organization / Institution</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Request Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in getintouchUserData">
                <td>{{$index + 1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.institution}}</td>
                <td>{{data.email}}</td>
                <td>{{data.mobilenumber}}</td>
                <td>{{data.subject}}</td>
                <td>{{data.message}}</td>
                <td>{{data.createddate | date :"dd-MMM-yyyy"}}</td>
                <td>
                  <div class="row">
                    <div class="col-sm-2">
                      <a href="JavaScript:void(0);" ng-click="sendMail(data)">
                        <span class="fa fa-envelope"></span>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<div
  class="modal fade"
  id="mailEntryModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="box box-primary">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Compose New Message</h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class=" ">
                <!-- <div class="box-header with-border">
                          <h3 class="box-title"></h3>
                        </div> -->
                <!-- /.box-header -->
                <div class="box-body">
                  <form
                    id="mailbox"
                    name="mailForm"
                    class="form-horizontal"
                    role="form"
                    ng-submit="sendMail()"
                    novalidate
                  >
                    <div class="form-group">
                      <label id="toAddress"
                        >To <span class="required">*</span>:</label
                      >
                      <input
                        class="form-control"
                        type="email"
                        name="toAddress"
                        ng-model="mailSendData.email"
                        placeholder="To:"
                        readonly
                      />
                      <div
                        class="help-block"
                        ng-messages="mailForm.toAddress.$touched && mailForm.toAddress.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="required"
                        >
                          To address is required
                        </small>
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="email"
                        >
                          Enter valid email address
                        </small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="mailcc">Cc :</label>
                      <!--<input class="form-control" type="email" name="mailcc" ng-model="mailSendData.email" placeholder="Cc:" >-->
                      <tags-input
                        ng-model="mailSendData.mailcc"
                        display-property="email"
                        placeholder="Add Email Address"
                        allowed-tags-pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                      >
                      </tags-input>
                      <div
                        class="help-block"
                        ng-messages="mailForm.mailcc.$touched && mailForm.mailcc.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="email"
                        >
                          Enter valid email address
                        </small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="toAddress"
                        >Subject <span class="required">*</span>:</label
                      >
                      <input
                        class="form-control"
                        name="mailSubject"
                        placeholder="Subject:"
                        ng-model="mailSendData.subject"
                        required
                      />
                      <div
                        class="help-block"
                        ng-messages="mailForm.mailSubject.$touched && mailForm.mailSubject.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="required"
                        >
                          Subject is required
                        </small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="toAddress"
                        >Message <span class="required">*</span>:</label
                      >
                      <textarea
                        id="compose-textarea"
                        name="mailMessageContent"
                        class="form-control"
                        style="height: 300px"
                        ckeditor="data.options"
                        ng-model="data.textInput"
                        required
                      >
                      </textarea>
                      <div
                        class="help-block"
                        ng-messages="mailForm.mailMessageContent.$touched && mailForm.mailMessageContent.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="required"
                        >
                          Message is required
                        </small>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <div class="pull-right">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      ng-disabled="mailForm.$invalid"
                      ng-click="mailSend()"
                    >
                      <i class="fa fa-envelope-o"></i> Send
                    </button>
                  </div>
                  <button
                    type="reset"
                    class="btn btn-default"
                    ng-click="hideMailEntryModal()"
                  >
                    <i class="fa fa-times"></i> Discard
                  </button>
                </div>
                <!-- /.box-footer -->
              </div>
              <!-- /. box -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
