    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          {{title}}
          
        </h1>
        <ol class="breadcrumb">
          <li><a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a ui-sref="home.paymentschedulelist">Proforma Creation</a></li>
          <li class="active"><a ui-sref="home.student({studentid: studentid})">{{title}}</a></li>
         
        </ol>
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="font-size-medium">Enrollment No - {{studentInvoiceData.se_studentid}}</span>&nbsp;|<span>Name - {{studentInvoiceData.se_name}}</span></h3>
      
                    <div class="box-tools pull-right">
                        <a ui-sref="home.paymentschedulelist" class="btn btn-danger" >Back</a>
                    </div>
                  </div>
          
              <div class="box-body">
                <div class="" ng-if="studentInvoiceData.invoices.length != 0">
                   <div class="row">
                       <div class="col-md-3" ng-repeat="invoice in studentInvoiceData.invoices">
                           
                           <div class="card text-center mb-2">
                               <div class="card-header ">
                                <h4>Invoice No : {{invoice.invoiceno}}</h6>
                                <h4>Created Date : {{invoice.createddate | date :'mediumDate'}}</h6>
                               </div>
                              <div class="card-body">
                                <a ng-href="{{addImgDefUrl(invoice.path)}}" class="btn btn-link" download="{{addImgDefUrl(invoice.path)}}" target="_blank">  <img src="./assets/images/pdf.png" class="img-fluid-50per"></a>
                             

                              </div>
                              <div class="card-footer text-center">
                                  <!-- <a href="javascript:void(0);" class="btn btn-link">View</a> -->
                                  <a ng-href="{{addImgDefUrl(invoice.path)}}" class="btn btn-link" download="{{addImgDefUrl(invoice.path)}}" target="_blank">View</a>
                              </div>
                           </div>
                       </div>
                   </div>
                </div>
                  <div class="" ng-if="studentInvoiceData.invoices.length == 0">
                    <div class="error-page">
                
                        <div class="error-content">
                            <img class="img-fluid-50per" src="./assets/images/Norecordfound.png">

                          <h3><i class="fa fa-warning text-red"></i>No Invoice generated</h3>
                        </div>
                      </div>
                  </div>
              </div>
             
            </div>
          </div>
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
  
   