<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      {{title}}
      
    </h1>
    <ol class="breadcrumb">
      <li><a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a ui-sref="home.paymentschedulelist">Payment Schedule list</a></li>
      <li class="active"><a ui-sref="home.paymentshedule({studentid: studentid})">{{title}}</a></li>
     
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
           
          </div>
          <div class="row">
            <div class="col-md-6">
              <form id="paymentsheduleForm"  name="paymentsheduleForm" class="form-horizontal" role="form"  novalidate>
                <div class="box-body">
                  
                  <div class="form-group">
                    <label for="studentid" class="col-sm-4 control-label">Student Enrollment No<span class="required">*</span></label>
    
                    <div class="col-sm-8">
                      <!-- <select class="form-control" 
                      id="studentid"
                      ng-model="studentPaymentSheduleData.se_studentid"
                      ng-options="studentdata.se_studentid as studentdata.se_studentid for studentdata in studentList"ng-if="userViewType == 'new'"
                      name="studentid" ng-disabled="{{selectDisable}}" required>
                    
                          <option value="" hidden selected>Select Enrollement No</option>
                          
                         
                      </select> -->
                      <select class="form-control" 
                      id="studentid"
                      ng-model="studentPaymentSheduleData.se_studentid"
                      ng-options="studentdata.se_studentid as studentdata.se_studentid + ' - ' + studentdata.se_name for studentdata in studentList" ng-if="userViewType == 'new'"
                      name="studentid" ng-disabled="{{selectDisable}}" required>
                    
                          <option value="" hidden selected>Select Enrollement No</option>
                          
                         
                      </select>
                     <p class="form-control" style="background-color: darkgrey;" ng-if="userViewType == 'edit' || userViewType == 'view'" ng-disabled>{{studentPaymentSheduleData.se_studentid}} -  {{studentPaymentSheduleData.se_name}}</p>
                      <input class="form-control"  type="text" id="studentid" name="studentid" ng-model="studentPaymentSheduleData.se_studentid" ng-if
                        disabled/>
                       <div class="help-block" 
                          ng-messages="paymentsheduleForm.studentid.$touched && paymentsheduleForm.studentid.$error ">
                          <small id="passwordHelpBlock" class="form-text " ng-message="required">
                         Student enrollment number is required
                          </small>
                          </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="studentid" class="col-sm-4 control-label">Total Amount<span class="required">*</span></label>
    
                    <div class="col-sm-8">
                      <input class="form-control"  type="number" id="tot_amount" name="tot_amount" ng-model="studentPaymentSheduleData.totalamount"  placeholder="Total Amount"
                                    ng-disabled="{{disableEdit}}" ng-keyup="setPayableAmount()" ng-keydown="setPayableAmount()" min="0"  required />
                                <div class="help-block" 
                                ng-messages="paymentsheduleForm.tot_amount.$touched && paymentsheduleForm.tot_amount.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                               Total amount is required
                                </small>
                                </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="studentid" class="col-sm-4 control-label">Scholarship Amount<span class="required">*</span></label>
    
                    <div class="col-sm-8">
                      <input class="form-control"  type="number" id="shc_amount" name="shc_amount" ng-model="studentPaymentSheduleData.scholaramount" ng-keyup="setPayableAmount()" ng-keydown="setPayableAmount()" min="0"  max="{{studentPaymentSheduleData.totalamount}}" placeholder="Scholarship Amount"
                      ng-disabled="{{disableEdit}}"  required />
                  <div class="help-block" 
                  ng-messages="paymentsheduleForm.shc_amount.$touched && paymentsheduleForm.shc_amount.$error ">
                  <small id="passwordHelpBlock" class="form-text " ng-message="required">
                    Scholarship amount is required
                  </small>
                  <small id="passwordHelpBlock" class="form-text" ng-if="paymentsheduleForm.shc_amount.$error.max">
                    Scholarship amount is not greater than to totalamount
                       </small>
                  </div>
                    </div>
                  </div>
                  
                  <div class="form-group" ng-if="userViewType == 'view'">
                    <label for="studentid" class="col-sm-4 control-label">Amount to EXP<span class="required"></span></label>
    
                    <div class="col-sm-8">
                      <input class="form-control"  type="text" id="exp_Amount" name="exp_Amount" ng-model="studentPaymentSheduleData.exp_amount" placeholder="EXP Amount"
                      ng-disabled="{{disableEdit}}" allow-only-numbers    />
                          <div class="help-block" 
                          ng-messages="paymentsheduleForm.exp_Amount.$touched && paymentsheduleForm.exp_Amount.$error ">
                          <small id="passwordHelpBlock" class="form-text " ng-message="required">
                            EXP Amount is required
                          </small>
                          </div>
                    </div>
                  </div>
                  <div class="form-group" ng-if="userViewType == 'view'">
                    <label for="studentid" class="col-sm-4 control-label">Amount to ACCA<span class="required"></span></label>
    
                    <div class="col-sm-8">
                      <input class="form-control"  type="text" id="acc_amount" name="acc_amount" ng-model="studentPaymentSheduleData.acc_amount" placeholder="ACCA Amount"
                            allow-only-numbers    ng-disabled="{{disableEdit}}"  />
                                <div class="help-block" 
                                ng-messages="paymentsheduleForm.acc_amount.$touched && paymentsheduleForm.acc_amount.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                ACCA Amount is required
                                </small>
                                </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="gst_amount" class="col-sm-4 control-label">GST<span class="required">*</span></label>
    
                    <div class="col-sm-8">
                      <input class="form-control"  type="number" id="gst_amount" name="gst_amount" ng-model="studentPaymentSheduleData.gst_amount" placeholder="GST Amount" ng-keyup="setPayableAmount()" ng-keydown="setPayableAmount()" min="0"
                                ng-disabled="{{disableEdit}}" required />
                                <div class="help-block" 
                                ng-messages="paymentsheduleForm.gst_amount.$touched && paymentsheduleForm.gst_amount.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                GST Amount is required
                                </small>
                                </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="studentid" class="col-sm-4 control-label">Payable Amount<span class="required">*</span></label>
    
                    <div class="col-sm-8">
                      <input class="form-control"  type="text" id="pay_Amount" name="pay_Amount" ng-model="studentPaymentSheduleData.payableamount" placeholder="Payable Amount"
                      allow-only-numbers     disabled/>
                      <small class="text-danger">Note : Payable amount is (total amount - scholarship amount) +  GST Amount</small>
                          <div class="help-block" 
                          ng-messages="paymentsheduleForm.pay_Amount.$touched && paymentsheduleForm.pay_Amount.$error ">
                         
                          </div>
                    </div>
                  </div>
                  <div class="form-group" ng-if="userViewType != 'new'">
                    <label for="overdue" class="col-sm-4 control-label">Overdue Amount<span class="required"></span></label>
    
                    <div class="col-sm-8">
                      <input class="form-control"  type="text" id="overdue" name="overdue" ng-model="studentPaymentSheduleData.overdueamount" placeholder="Payable Amount"
                      allow-only-numbers     disabled/>
                      <!--<small class="text-danger">Note : Overdue amount is current due + previous due amount</small>-->
                          <div class="help-block" 
                          ng-messages="paymentsheduleForm.overdue.$touched && paymentsheduleForm.overdue.$error ">
                         
                          </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="studentid" class="col-sm-4 control-label">Schedule<span class="required">*</span></label>
    
                    <div class="col-sm-8">
                      <div class="table-responsive">
                        <table class="table table-stripped">
                           <thead>
                               <tr>
                                  <th>Schedule Date<span class="required">*</span></th>
                                   <th>Amount<span class="required">*</span></th>
                                   
                               </tr>
                           </thead>
                           <tbody>
                               <tr ng-repeat="schedule in sheduledata">
                                <td>
                                   
                                  <input class="form-control" 
                                  type="date"
                                   
                                  ng-model="schedule.duedate"
                                  min="{{minDateSet($index)}}" 
                                     name="schedule_date_{{$index}}"
                                      placeholder=""  
                                     ng-disabled="{{disableEdit}}" required/>
                           
                             </td>
                                   <td>
                                   
                                        <input class="form-control" 
                                        ng-model="schedule.amount"
                                           name="schedule_amount_{{$index}}" placeholder="Amount" type="number"  ng-disabled="{{disableEdit}}" ng-change="setShedulePayment($index,schedule.amount)"  required/>
                                   
                                   </td>
                                  
                                   <td>
                                       <button class="btn btn-danger" ng-if="enableBtn" ng-click="removeShedule($index)"><i class="fa fa-trash"></i></button>
                                   </td>
                               </tr>
                           </tbody>
                        </table>
                        <button class="btn btn-info" ng-if="enableBtn" ng-click="addShedule()" ng-disabled="studentPaymentSheduleData.payableamount == 0"><i class="fa fa-plus"></i>&nbsp;Add</button>
                       
                    </div>
                    </div>
                  </div>
                  
               
                  <!--<div class="row">
                    <div class="col-md-6">
                    
                        <div class="row">
                            <div class="col-md-12 ">
                                <label id="formlabel">Student Enrollment No<span class="required">*</span></label>
                               <select class="form-control" 
                               ng-model="studentPaymentSheduleData.se_studentid"
                               ng-options="studentdata.se_studentid as studentdata.se_studentid for studentdata in studentList"ng-if="userViewType == 'new'"
                               name="studentid" ng-disabled="{{selectDisable}}" required>
                               
                                   <option value="" hidden selected>Select Enrollement No</option>
                                   
                                  
                               </select>
                               <input class="form-control"  type="text" id="studentid" name="studentid" ng-model="studentPaymentSheduleData.se_studentid" ng-if="userViewType == 'edit' || userViewType == 'view'"
                                 disabled/>
                                <div class="help-block" 
                                   ng-messages="paymentsheduleForm.studentid.$touched && paymentsheduleForm.studentid.$error ">
                                   <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                  Student enrollment number is required
                                   </small>
                                   </div>
                           </div>
                           <div class="col-md-12">
                            <label id="formlabel">Total Amount<span class="required">*</span></label>
                            <input class="form-control"  type="number" id="tot_amount" name="tot_amount" ng-model="studentPaymentSheduleData.totalamount"  placeholder="Total Amount"
                                    ng-disabled="{{disableEdit}}" ng-keyup="setPayableAmount()" ng-keydown="setPayableAmount()" min="0"  required />
                                <div class="help-block" 
                                ng-messages="paymentsheduleForm.tot_amount.$touched && paymentsheduleForm.tot_amount.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                               Total amount is required
                                </small>
                                </div>
                        </div>
                        <div class="col-md-12">
                            <label id="formlabel">Scholarship Amount<span class="required">*</span></label>
                            <input class="form-control"  type="number" id="shc_amount" name="shc_amount" ng-model="studentPaymentSheduleData.scholaramount" ng-keyup="setPayableAmount()" ng-keydown="setPayableAmount()" min="0"  max="{{studentPaymentSheduleData.totalamount}}" placeholder="Scholarship Amount"
                                    ng-disabled="{{disableEdit}}"  required />
                                <div class="help-block" 
                                ng-messages="paymentsheduleForm.shc_amount.$touched && paymentsheduleForm.shc_amount.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                  Scholarship amount is required
                                </small>
                                <small id="passwordHelpBlock" class="form-text" ng-if="paymentsheduleForm.shc_amount.$error.max">
                                  Scholarship amount is not greater than to totalamount
                                     </small>
                                </div>
                        </div>
                        <div class="col-md-12">
                            <label id="formlabel">Payable Amount<span class="required">*</span></label>
                            <input class="form-control"  type="text" id="pay_Amount" name="pay_Amount" ng-model="studentPaymentSheduleData.payableamount" placeholder="Payable Amount"
                            allow-only-numbers    required disabled/>
                                <div class="help-block" 
                                ng-messages="paymentsheduleForm.pay_Amount.$touched && paymentsheduleForm.pay_Amount.$error ">
                               
                                </div>
                        </div>
                        <div class="col-md-12">
                          <label id="formlabel">Amount to EXP<span class="required">*</span></label>
                          <input class="form-control"  type="text" id="exp_Amount" name="exp_Amount" ng-model="studentPaymentSheduleData.exp_amount" placeholder="EXP Amount"
                          ng-disabled="{{disableEdit}}" allow-only-numbers    required/>
                              <div class="help-block" 
                              ng-messages="paymentsheduleForm.exp_Amount.$touched && paymentsheduleForm.exp_Amount.$error ">
                              <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                EXP Amount is required
                              </small>
                              </div>
                      </div>
                          <div class="col-md-12">
                            <label id="formlabel">Amount to ACCA<span class="required">*</span></label>
                            <input class="form-control"  type="text" id="acc_amount" name="acc_amount" ng-model="studentPaymentSheduleData.acc_amount" placeholder="ACCA Amount"
                            allow-only-numbers    ng-disabled="{{disableEdit}}" required />
                                <div class="help-block" 
                                ng-messages="paymentsheduleForm.acc_amount.$touched && paymentsheduleForm.acc_amount.$error ">
                                <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                ACCA Amount is required
                                </small>
                                </div>
                        </div>
                         <div class="col-md-12">
                          <label id="formlabel">Shedule<span class="required">*</span></label>
                          <div class="table-responsive">
                              <table class="table table-stripped">
                                 <thead>
                                     <tr>
                                        <th>Shedule Date<span class="required">*</span></th>
                                         <th>Amount<span class="required">*</span></th>
                                         
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr ng-repeat="shedule in sheduledata">
                                      <td>
                                         
                                        <input class="form-control" 
                                        type="date"
                                       
                                        ng-model="shedule.duedate"
                                           name="shedule_date_{{$index}}" placeholder="Parent email"  ng-disabled="{{disableEdit}}" required/>
                                 
                                   </td>
                                         <td>
                                         
                                              <input class="form-control" 
                                              ng-model="shedule.amount"\
                                                 name="shedule_amount_{{$index}}" placeholder="Amount" type="text" allow-only-numbers ng-disabled="{{disableEdit}}" required/>
                                         
                                         </td>
                                        
                                         <td>
                                             <button class="btn btn-danger" ng-if="enableBtn" ng-click="removeShedule($index)"><i class="fa fa-trash"></i></button>
                                         </td>
                                     </tr>
                                 </tbody>
                              </table>
                              <button class="btn btn-info" ng-if="enableBtn" ng-click="addShedule()"><i class="fa fa-plus"></i>&nbsp;Add</button>
                          </div>
                         </div>
                        </div>
                    </div>
                    <div class="col-md-12 " ng-if="userViewType == 'view'">
                      <label id="formlabel">Payment Details<span class="required">*</span></label>
                      <div class="table-responsive" ng-if="paymentdata.length != 0">
                          <table class="table table-stripped table-bordered">
                             <thead>
                                 <tr>
                                     <th>Order Id</th>
                                     <th>Amount</th>
                                     <th>Payment Date</th>
                                     <th>Payment Status</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr ng-repeat="payment in paymentdata ">
                                     <td>
                                        {{payment.orderid}}
                                      
                                     </td>
                                     <td>
                                     
                                      {{payment.amount}}
                                   
                                     </td>
                                     <td>
                                      {{payment.trans_date}}
                                     </td>
                                     <td>
                                      {{payment.status}}
                                     </td>
                                     <td>
                                      {{payment.amount}}
                                     </td>
                                 </tr>
                             </tbody>
                          </table>
                        
                      </div>
                      <div class="" ng-if="paymentdata.length == 0">
                          <p>No Payments records</p>
                      </div>
                </div>
                  
                </div>-->
                </div>
                <div class="box-footer">
                  <button type="submit" ng-if="enableBtn" ng-click="savePaymentData()"  ng-disabled="paymentsheduleForm.$invalid" class="btn btn-primary">
                      {{buttonText}}</button>
                  
                  <button type="button"  class="btn btn-danger" ng-click=" backbtnPress()">{{buttonCancel}}</button>
                </div>
              </form>
            </div>
            <div class="col-md-5" ng-if="userViewType == 'view'">
              <div class="form-group" >
                <label for="studentid" class="control-label">Payment Details</label>
                <select
                id="studentno"
                    name="paymentstats" 
                    class="form-control"
                     ng-model="paymentstatusfilter" ng-options="paymentstatuslist.name as paymentstatuslist.name for paymentstatuslist in commonJsonData.paymentstatus" ng-change="tableFilter(paymentstatusfilter)"  >
                      <option value="" hidden>Select Status</option>
                    </select>
                  </div>
                <div class="">
                  <div class="table-responsive" ng-if="paymentdata.length != 0">
                    <table id="paymentList" class="table table-stripped table-bordered table-fixed">
                       <thead >
                           <tr>
                               <th >Order Id</th>
                               <th>Amount</th>
                               <th>Payment Date</th>
                               <th>Payment Status</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="payment in paymentdata ">
                               <td>{{payment.orderid}}</td>
                               <!-- <td>{{payment.amount}} </td> -->
                               <td>{{payment.paidamount}} </td>
                               <td>{{payment.trans_date}}</td>
                               <td>{{payment.status}}</td>
                           </tr>
                       </tbody>
                    </table>
                </div>
                <div class="" ng-if="paymentdata.length == 0">
                    <p>No Payments records</p>
                </div>
                </div>
            
            </div>
          </div>
       
          <!--<pre>{{paymentsheduleForm | json}}</pre>-->
        </div>
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
  <style>
    /* .table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
} */
.table-fixed-height{
  height: 80vh;
  overflow-y: auto;
  width: 100%;
}
.thead-whitesmoke{
  background-color: darkgrey;
}
.header { 
            position: sticky; 
            top:0; 
        } 
  </style>