<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Proforma Creation </h1>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">
        <a ui-sref="home.paymentschedulelist">Proforma Creation</a>
      </li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-info">
          <div class="box-header">
            <div class="pull-right">
              <a
                class="btn btn-success"
                href="JavaScript:void(0);"
                ng-if="enableNewBtn"
                ng-click="createPaymentShedule(0,'new')"
              >
                <i class="fa fa-plus-circle"></i>&nbsp;New</a
              >
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="paymentschedulelist" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>S.no</th>
                  <th>Enrollment No</th>
                  <th>Student Name</th>
                  <th>Total Amount</th>
                  <th>Scholarship Amount</th>
                  <th>Payable Amount</th>
                  <th> Amount to EXP</th>
                  <th> Amount to ACCA</th>
                  <th>GST Amount</th>
                  <th>Schedule</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in PaymentSheduleData">
                  <td>{{$index + 1}}</td>
                  <td>{{data.se_studentid}}</td>
                  <td>{{data.se_name}}</td>
                  <td>{{data.totalamount}}</td>
                  <td>{{data.scholaramount}}</td>
                  <td>{{data.payableamount}}</td>
                  <td>{{data.exp_amount}}</td>
                  <td>{{data.acc_amount}}</td>
                  <td>{{data.gst_amount}}</td>
                  <td>{{data.schedule.length}}</td>
                  <td>
                    <div class="row">
                      <!-- <div class="col-sm-2">
                        <a
                          href="JavaScript:void(0);"
                          ng-if="enableEditBtn"
                          ng-click="createPaymentShedule(data.se_studentid,'edit')"
                        >
                          <span class="fa fa-edit"></span>
                        </a>
                      </div> -->
                      <div class="col-sm-2">
                        <a
                          href="JavaScript:void(0);"
                          ng-if="enableViewBtn"
                          ng-click="createPaymentShedule(data.se_studentid,'view')"
                        >
                          <span class="fa fa-eye"></span>
                        </a>
                      </div>
                      <div class="col-sm-2">
                        <a
                          ui-sref="home.invoicemaintaion({'studentid':data.se_studentid})"
                          ng-if="enableViewBtn"
                        >
                          <span class="fa fa-file-pdf-o"></span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->