    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Payment  Details
        </h1>
        <ol class="breadcrumb">
          <li><a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active"><a ui-sref="home.paymentdetail">Payment  Details</a></li>
        </ol>
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
       
  
            <div class="box box-info">
                <div class="box-header">
                  
                    <div class="pull-right">
                      <div class="form-group">
                        <label for="studentid" class="col-sm-3 control-label">Filter:</label>
        
                        <div class="col-sm-9">
                          <select
                          id="studentno"
                              name="paymentstats" 
                              class="form-control"
                               ng-model="paymentstatusfilter" ng-options="paymentstatuslist.name as paymentstatuslist.name for paymentstatuslist in commonJsonData.paymentstatus" ng-change="tableFilter(paymentstatusfilter)"  >
                                <option value="" hidden>Select Status</option>
                              </select>
                        </div>
                      </div>
                      
                     
                            <button type="button" class="btn btn-success" ng-csv="studentExportData" ng-if="datatrue" filename="{{excelfilename}}" csv-header="excelheaders" charset="utf-8"><span class="fa fa-download">&nbsp;</span>Export</button>
      
                  </div>
                  </div>
              <!-- /.box-header -->
              <div class="box-body">
                  <table id="paymentuserlist" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>Order Id</th>
                        <th>Enrollment No</th>
                        <th>Name </th>
                        <!-- <th>Amount</th> -->
                        <th>Created Date</th>
                        <!-- <th>Payment Status</th>
                        <th>Payment Date</th> -->
                        <th>Amount</th>
                        <th>Paid Amount</th>
                        <th>Overdue Amount</th>
                        <th>Payment Status</th>
                        <th>Payment Date</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="data in PaymentUserData | orderBy : '-createddate'">
                        <td>{{data.orderid}}</td>
                        <td>{{data.se_studentid}}</td>
                        <td>{{data.se_name}}</td>
                        <!-- <td>{{data.amount}}</td> -->
                        <!-- <td>{{data.createddate | date :"dd-MMM-yyyy"}}</td>
                        <td>{{data.status}}</td> -->
                      
                        <td>{{data.createddate | date :"dd-MMM-yyyy"}}</td>
                        <td>{{data.amount}}</td>
                        <td>{{data.paidamount }}</td>
                        <td>{{data.overdue }}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.trans_date | date :"medium"}}</td>
                       
                      </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
  
    