<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Payout Details</h1>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">
        <a ui-sref="home.payoutdetails">Payout Details</a>
      </li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-info">
          <div class="box-header">
            <div class="pull-right">
              <a
                class="btn btn-success"
                href="JavaScript:void(0);"
                ng-if="enableNewBtn"
                ng-click="payoutModal(0,'new')"
              >
                <i class="fa fa-plus-circle"></i>&nbsp;New</a
              >
              <button
              type="button"
              class="btn btn-success"
              ng-csv="payoutExportData"
             
              filename="{{excelfilename}}"
              csv-header="excelheaders"
              charset="utf-8"
            >
              <span class="fa fa-download">&nbsp;</span>Export
            </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-filter">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Filter By</th>
                    <th>Paid</th>
                    <th>Date Range</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select class="form-control" ng-model="filterby"  ng-change="filterbyvalue(filterby)">
                        <option  value="" hidden>Select</option>
                        <option value="ACCA">ACCA Payment</option>
                        <option value="EXP">EXP Payment</option>
                        <option value="GST">GST Payment</option>
                      </select>
                    </td>
                    <td>
                     
                      <select class="form-control" ng-model="paid" ng-disabled="!filterby" >
                        <option value="" hidden>Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </td>
                    <td>
                      <div class="row">
                         <div class="col-sm-5">
                          <input class="form-control" type="date"  ng-model="startDate" ng-change="setStartDate(startDate)" ng-disabled="!filterby && !paid || paid == 'no'" >
                         </div>
                         <div class="col-sm-1 text-center">
                        <p>to</p>
                         </div>
                         <div class="col-sm-5">
                             <input class="form-control" ng-disabled="!startDate" type="date" min="{{dateRangeminDateSet(startDate)}}" ng-model="endDate">
                        </div>
                      </div>
                     
                    </td>
                    <td>
                      <button class="btn btn-success" ng-click="applyFilter(true)" >Apply </button>
                      <button class="btn btn-success" ng-click="applyFilter(false)" >Reset </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table id="payoutlist" class="table table-bordered table-striped">
              <!-- <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Amount to ACCA </th>
                  <th>ACCA Amount Paid Date</th>
                  <th>Amount to EXP</th>
                  <th>EXP Amount Paid Date</th>
                  <th>GST Amount</th>
                  <th>GST Amount Paid Date</th>
                  <th>Action</th>
                </tr>
            </thead> -->
              <thead>
                <tr>
                  <th>S.no</th>
                  <th>Enrollment No</th>
                  <th>Student Name</th>
                  <th>Amount to ACCA </th>
                  <th>ACCA Amount Paid Date</th>
                  <th>Amount to EXP</th>
                  <th>EXP Amount Paid Date</th>
                  <th>GST Amount</th>
                  <th>GST Amount Paid Date</th>
                  <th>Invoice</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in payoutListData">
                  <td>{{$index + 1}}</td>
                  <td>{{data.se_studentid}}</td>
                  <td>{{data.se_name}}</td>
                  <td>{{data.acca_amount}}</td>
                  <td>{{data.acca_paiddate | date : 'mediumDate'}}</td>
                  <td>{{data.exp_amount}}</td>
                  <td>{{data.exp_paiddate | date : 'mediumDate'}}</td>
                  <td>{{data.gst_amount}}</td>
                  <td>{{data.gst_paiddate | date : 'mediumDate'}}</td>
                  <td>{{data.invoiceno}}</td>
                  
                  <td>
                    <div class="row">
                      <div class="col-sm-2">
                        <a
                          href="JavaScript:void(0);"
                          ng-if="enableEditBtn"
                          ng-click="payoutModal(data._id,'edit',data.se_studentid)"
                        >
                          <span class="fa fa-edit"></span>
                        </a>
                      </div>
                      <div class="col-sm-2">
                        <a
                          href="JavaScript:void(0);"
                          ng-if="enableViewBtn"
                          ng-click="payoutModal(data._id,'view',data.se_studentid)"
                        >
                          <span class="fa fa-eye"></span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->



  <div
  class="modal fade"
  id="payoutDetailModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <form
          id="payoutForm"
          name="payoutForm"
          class="form-horizontal"
          role="form"
          novalidate
        >
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Student Enrollment No<span class="required">*</span></label
                    >
                    <select class="form-control" ng-if="userViewType == 'new'"
                      id="studentid"
                      ng-model="payoutDetail.se_studentid"
                      ng-options="studentdata.se_studentid as studentdata.se_studentid + ' - ' + studentdata.se_name for studentdata in studentList" 
                      name="studentid" ng-disabled="{{selectDisable}}"   required>
                    
                          <option value="" hidden selected>Select Enrollement No</option>
                          
                         
                      </select>
                      <p class="form-control" style="background-color: darkgrey;" ng-if="userViewType == 'edit' ||  userViewType == 'view'">{{payoutDetail.se_studentid}} - {{payoutDetail.se_name}}</p>
                    <div
                      class="help-block"
                      ng-messages="payoutForm.studentid.$touched && payoutForm.studentid.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Student Enrollment No is required
                      </small>
                    </div>
                  </div>

                  <div class="col-md-12">
                  
                    <label id="formlabel"
                      >Amount To EXP<span class="required"></span></label
                    >
                    
                    <div class="">
                      <div class="table-responsive">
                        <table class="table table-stripped">
                           <thead>
                               <tr>
                                  <th>Payment Date<span class="required"></span></th>
                                  <th>Amount<span class="required"></span></th>
                                   
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                <td>
                                   
                                  <input class="form-control" 
                                  type="date"
                                   
                                  ng-model="exp_paiddate"
                                  min="{{minDateSet()}}" 
                                     name="accapayment_date"
                                      placeholder=""  
                                     ng-disabled="disableEdit" />
                           
                             </td>
                                   <td>
                                   
                                        <input class="form-control" 
                                        ng-model="exp_amount"
                                           name="exp_amount" placeholder="Amount" type="number" min="0"  ng-disabled="disableEdit"  />
                                   
                                   </td>
                               </tr>
                           </tbody>
                        </table>
                    </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <label id="formlabel"
                      >Amount to ACCA<span class="required"></span></label
                    >
                    <div class="">
                      <div class="table-responsive">
                        <table class="table table-stripped">
                           <thead>
                               <tr>
                                  <th>Payment Date<span class="required"></span></th>
                                   <th>Amount<span class="required"></span></th>
                                   
                               </tr>
                           </thead>
                           <tbody>
                               <tr >
                                <td>
                                   
                                  <input class="form-control" 
                                  type="date"
                                   
                                  ng-model="acca_paiddate"
                                  min="{{minDateSet()}}" 
                                     name="acca_date_"
                                      placeholder=""  
                                     ng-disabled="disableEdit" />
                           
                             </td>
                                   <td>
                                   
                                        <input class="form-control" 
                                        ng-model="acca_amount"
                                           name="acca_amount" placeholder="Amount" type="number"   min="0"  ng-disabled="disableEdit"   />
                                   
                                   </td>
                               </tr>
                           </tbody>
                        </table>
                    </div>
                    </div>
                 
                  </div>
                  <div class="col-md-12" ng-show="userViewType == 'edit' ||  userViewType == 'view'" >
                    <label id="formlabel"
                      >GST Amount<span class="required"></span></label
                    >
                    <div class="">
                      <div class="table-responsive">
                        <table class="table table-stripped">
                           <thead>
                               <tr>
                                  <th>Payment Date<span class="required"></span></th>
                                   <th>Amount<span class="required"></span></th>
                                   
                               </tr>
                           </thead>
                           <tbody>
                               <tr >
                                <td>
                                   
                                  <input class="form-control" 
                                  type="date"
                                   
                                  ng-model="gst_paiddate"
                                  min="{{minDateSet()}}" 
                                     name="gst_date"
                                      placeholder=""  
                                     ng-disabled="disableEdit || gstdata == false" required/>
                           
                             </td>
                                   <td>
                                   
                                        <input class="form-control" 
                                        ng-model="gst_amount"
                                           name="gst_amount" placeholder="Amount" type="number"  ng-disabled="disableEdit || gstdata == false"   min="0"   required/>
                                   </td>
                                 
                               </tr>
                           </tbody>
                        </table>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          ng-click="hidePayoutDetailsModal()"
        >
          Close
        </button>
        <button
          type="button"
          ng-if="enableBtn"
          class="btn btn-primary"
          ng-click="savePayoutData(payout_id)"
        >
          {{buttonText}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>