<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>POPUP Entry</h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li><a ui-sref="home.popupentry"> POPUP Entry</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header">
          <div class="pull-right">
            <a
              class="btn btn-success"
              href="JavaScript:void(0);"
              ng-click="popupModal(0)"
              ng-if="enableNewBtn"
            >
              <i class="fa fa-plus-circle"></i>&nbsp;New</a
            >
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
          <table id="popuplist" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Title</th>
                <!-- <th>Redirect Url</th> -->
                <!--<th>Popup Content</th>-->
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in popupData | orderBy:'-status'">
                <td>{{$index + 1}}</td>
                <td>{{data.title}}</td>
                <!-- <td>{{data.url}}</td> -->
                <!--<td>{{data.content}}</td>-->
                <td>{{data.status == true ? 'Active' : 'Inactive'}}</td>
                <td>
                  <div class="row">
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableEditBtn"
                        ng-click="popupModal(data._id)"
                      >
                        <span class="fa fa-edit"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableViewBtn"
                        ng-click="showPopupViewmodal(data)"
                      >
                        <span class="fa fa-eye"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableViewBtn"
                        ng-click="deletePopup(data._id)"
                      >
                        <span class="fa fa-trash"></span>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<div
  class="modal fade"
  id="popupEntryModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <form
          id="contact"
          name="popupForm"
          class="form-horizontal"
          role="form"
          novalidate
        >
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Title<span class="required">*</span></label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="title"
                      name="title"
                      ng-model="popupEntryData.title"
                      placeholder="Title"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="popupForm.name.$touched && popupForm.name.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Title is required
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Redirect URL<span class="required">*</span></label
                    >
                    <input
                      class="form-control"
                      type="url"
                      id="url"
                      name="url"
                      ng-model="popupEntryData.url"
                      placeholder="Redirect URL"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="popupForm.url.$touched && popupForm.url.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Redirect URL is required
                      </small>
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="url"
                      >
                        Enter valid url
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Content<span class="required">*</span></label
                    >

                    <textarea
                      class="form-control"
                      ckeditor="data.options"
                      ng-model="data.textInput"
                      id="insBoxid_popupcontent"
                    >
                    </textarea>

                    <div
                      class="help-block"
                      ng-messages="popupForm.syllabuscontent.$touched && popupForm.syllabuscontent.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Content is required
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Status<span class="required">*</span></label
                    >
                    <select
                      class="form-control"
                      ng-options="status.value as status.name for status in commonJsonData.statusTypeBoolen"
                      ng-model="popupEntryData.status"
                      name="status"
                      ng-required="true"
                    >
                      <option value="" hidden>Select</option>
                    </select>
                    <div
                      class="help-block"
                      ng-messages="popupForm.status.$touched && popupForm.status.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Status is required
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          ng-click="hidepopupEntryModal()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          ng-disabled="popupForm.$invalid"
          ng-click="savePopup(popup_id)"
        >
          {{buttonText}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
  class="modal fade"
  id="popupViewmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
  data-backdrop="static"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div
          class="popviewcontent"
          ng-click="goToUrl(popupRedirectUrl)"
          ng-bind-html="encodeData(popupcontent)"
        ></div>
      </div>
    </div>
  </div>
</div>



<!--delete modal-->
<div
  class="modal fade"
  id="popupDeleteModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Are you sure want to delete ?</h3>
      </div>
     
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          ng-click="showPopupDeletmodal(false)"
        >
          No
        </button>
        <button
          type="button"
          class="btn btn-primary"
          ng-click="submitFormDelete()"
        >
         Yes
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>