<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Enrolled Student Details</h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active"><a href="home.studentslist">Manage Students</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header">
          <div class="pull-right">
            <a class="btn btn-success" href="JavaScript:void(0);" ng-if>
              <i class="fa fa-plus-circle"></i>&nbsp;New</a
            >

            <button
              type="button"
              class="btn btn-success"
              ng-csv="studentExportData"
              ng-if="datatrue"
              filename="enrolleduser.csv"
              csv-header="excelheaders"
              charset="utf-8"
            >
              <span class="fa fa-download">&nbsp;</span>Export
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="userlist" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Enrollment Id</th>
                <th>Created Date</th><!--//begin-Aswin-17-12-2020-issues-change-->
                <th>Name</th>
                <th>ACCA Id</th>
                <th>EXP Id</th>
                <th>Student Email</th>
                <th>Student Mobile No</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in studentEnrollData">
                <td>{{data.se_studentid}}</td>
                <td>{{data.se_createddate | date :"dd-MMM-yyyy"}}</td><!--//begin-Aswin-17-12-2020-issues-change-->
                <td>{{data.se_name}}</td>
                <td>{{data.acca_id}}</td>
                <td>{{data.exp_id}}</td>
                <td>{{data.se_studentemail}}</td>
                <td>{{data.se_studentmobileno.mobileno}}</td>
                <td>
                  <div class="row">
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableEditBtn"
                        ng-click="viewStudentData(data._id,'edit')"
                      >
                        <span class="fa fa-edit"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableViewBtn"
                        ng-click="viewStudentData(data._id,'view')"
                      >
                        <span class="fa fa-eye"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-click="sendPaymentLink(data)"
                      >
                        <span class="fa fa-envelope"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-click="checkPaymenyShedule(data.se_studentid,11)"
                      >
                        <span class="fa fa-money"></span>
                      </a>
                    </div>
                    
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<div
  class="modal fade"
  id="mailEntryModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="box box-primary">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Compose New Message</h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class=" ">
                <!-- <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                  </div> -->
                <!-- /.box-header -->
                <div class="box-body">
                  <form
                    id="mailbox"
                    name="mailForm"
                    class="form-horizontal"
                    role="form"
                    ng-submit="sendMail()"
                    novalidate
                  >
                    <div class="form-group">
                      <label id="toAddress"
                        >To <span class="required">*</span>:</label
                      >
                      <input
                        class="form-control"
                        type="email"
                        name="toAddress"
                        ng-model="mailSendData.email"
                        placeholder="To:"
                        readonly
                      />
                      <div
                        class="help-block"
                        ng-messages="mailForm.toAddress.$touched && mailForm.toAddress.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="required"
                        >
                          To address is required
                        </small>
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="email"
                        >
                          Enter valid email address
                        </small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="mailcc">Cc :</label>
                      <!--<input class="form-control" type="email" name="mailcc" ng-model="mailSendData.email" placeholder="Cc:" >-->
                      <tags-input
                        ng-model="mailSendData.mailcc"
                        display-property="email"
                        placeholder="Add Email Address"
                        allowed-tags-pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                      >
                      </tags-input>
                      <div
                        class="help-block"
                        ng-messages="mailForm.mailcc.$touched && mailForm.mailcc.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="email"
                        >
                          Enter valid email address
                        </small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="toAddress"
                        >Subject <span class="required">*</span>:</label
                      >
                      <input
                        class="form-control"
                        name="mailSubject"
                        placeholder="Subject:"
                        ng-model="mailSendData.subject"
                        required
                      />
                      <div
                        class="help-block"
                        ng-messages="mailForm.mailSubject.$touched && mailForm.mailSubject.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="required"
                        >
                          Subject is required
                        </small>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <label for="paymentlink" class="control-label">Payment Link<span class="required">*</span></label>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" ng-model="paylink" id="optionsRadios1" value="yes" ng-click="ordercheck(paylink)">
                         Yes
                        </label>&nbsp;
                        <label>
                          <input type="radio" name="optionsRadios" ng-model="paylink" id="optionsRadios2" value="no" ng-click="ordercheck(paylink)">
                        No
                        </label> 
                      </div>
                     
                    </div> -->
                    <!-- <div class="form-group">
                      <label for="paymentlink" class="control-label">Mail Template<span class="required">*</span></label>
                      
                      <select class="form-control" 
                      ng-model="mailtemplate"
                      name="mailtemplate" ng-change="chooseMailTemplate(mailtemplate)" required>
                          <option value="" hidden selected>select</option>
                          <option value="paymentlink" >Payment Link</option>
                          <option value="proformainvoice" >Proforma Invoice</option>
                          <option value="normal" >Normal Mail</option>
                       </select>
                     
                    </div> -->
                    <div class="form-group">
                      <!-- <label for="paymentlink" class="control-label">Payment Link<span class="required">*</span></label> -->
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" ng-model="paylink" id="optionsRadios1" value="pi" ng-click="ordercheck(paylink)">
                         Proforma invoice
                        </label>&nbsp;
                        <label>
                          <input type="radio" name="optionsRadios" ng-model="paylink" id="optionsRadios2" value="fi" ng-click="ordercheck(paylink)">
                        Final invoice
                        </label> 
                        <label>
                          <input type="radio" name="optionsRadios" ng-model="paylink" id="optionsRadios2" value="none" ng-click="ordercheck(paylink)">
                         None
                        </label> 
                      </div>
                     
                    </div>
                    <div class="form-group">
                      <label id="toAddress"
                        >Message <span class="required">*</span>:</label
                      >
                      <textarea
                        id="compose-textarea"
                        name="mailMessageContent"
                        class="form-control"
                        style="height: 300px"
                        ckeditor="data.options"
                        ng-model="data.textInput"
                        required
                      >
                      </textarea>
                      <div
                        class="help-block"
                        ng-messages="mailForm.mailMessageContent.$touched && mailForm.mailMessageContent.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="required"
                        >
                          Message is required
                        </small>
                      </div>
                    </div>
                  
                      <!-- <div class="form-group" ng-if="paylink == 'yes'"> --> <!--06-01-2021-student_payment_invoice_function_change-->
                        <div class="form-group" ng-if="paylink == 'pi' || paylink == 'fi'">
                      <label for="paymentlink" class="control-label">Attachments</label>
                       
                      <div class="" style="border: none;">
                        <a ng-href="{{pdflink}}" target="_blank" download>
                          <img src="./assets/images/pdf.png" width="80" height="80">
                          <p>{{order_id}}.pdf</p>
                        </a>
                          
                      </div>
                      
                    </div>
                  </form>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <div class="pull-right">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      ng-disabled="mailForm.$invalid"
                      ng-click="mailSend()"
                    >
                      <i class="fa fa-envelope-o"></i> Send
                    </button>
                  </div>
                  <button
                    type="reset"
                    class="btn btn-default"
                    ng-click="discard(paylink)"
                  >
                    <i class="fa fa-times"></i> Discard
                  </button>
                </div>
                <!-- /.box-footer -->
              </div>
              <!-- /. box -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
  class="modal fade"
  id="studentDataViewModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="box box-primary">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Student Data</h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class=" ">
                <!-- <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                  </div> -->
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="form-group" ng-repeat="label in excelheaders">
                    <label for="{{$index}}" class="col-sm-4 control-label"
                      >{{label}}</label
                    >

                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control no-border"
                        id="{{$index}}"
                        ng-value="{{studentViewData[label]}}"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /. box -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
