    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{title}}
        
      </h1>
      <ol class="breadcrumb">
        <li><a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="home.studentslist"> Manage Students</a></li>
        <li class="active"><a ui-sref="home.student({studentid: studentid})">{{title}}</a></li>
       
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <div class="">
                <p style="font-size: 18px;"><span class="font-size-medium">Enrollment No - {{enrolementnumber}}</span>&nbsp;|<span>Name - {{studentenrolldata.se_name}}</span></p>
              </div>
            </div>
            <form id="contact"  name="enrollForm" class="form-horizontal" role="form" ng-submit="saveEnrolluser()" novalidate>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12">
                          <label id="formlabel">ACCA Id</label>
                          <input class="form-control"  type="text" id="accaId" name="accaId" ng-model="studentenrolldata.acca_id" placeholder="ACCA Id"
                                  ng-disabled="{{disableEdit}}"  />
                              <div class="help-block" 
                              ng-messages="enrollForm.accaId.$touched && enrollForm.accaId.$error ">
                              <small id="passwordHelpBlock" class="form-text " ng-message="required">
                              ACCA Id is required
                              </small>
                              </div>
                      </div>
                      <div class="col-md-12">
                        <label id="formlabel">EXP Id</label>
                        <input class="form-control"  type="text" id="expId" name="expId" ng-model="studentenrolldata.exp_id" placeholder="EXP Id"
                        ng-disabled="{{disableEdit}}"    />
                            <div class="help-block" 
                            ng-messages="enrollForm.expId.$touched && enrollForm.expId.$error ">
                            <small id="passwordHelpBlock" class="form-text " ng-message="required">
                              EXP Id is required
                            </small>
                            </div>
                    </div>
                          <div class="col-md-12">
                              <label id="formlabel">Name as in Aadhar Card<span class="required">*</span></label>
                              <input class="form-control"  type="text" id="name" name="name" ng-model="studentenrolldata.se_name" placeholder="First Name Second Name"
                              ng-disabled="{{disableEdit}}"     required/>
                                  <div class="help-block" 
                                  ng-messages="enrollForm.name.$touched && enrollForm.name.$error ">
                                  <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                  Name is required
                                  </small>
                                  </div>
                          </div>
                          <div class="col-md-12">
                              <label id="formlabel">Aadhar Card Number<span class="required">*</span></label>
                              <input name="aadharno"  type="tel"
                                  
                                  
                                  ng-model="studentenrolldata.se_aadharno"
                                  minlength="14" 
                                  maxlength="14"
                                  aadhar-check
                                   
                                  
                                  placeholder="0123-4567-8999" class="form-control"
                                  ng-disabled="{{disableEdit}}"
                                   required/>
      
                                  <div class="help-block" 
                                  ng-messages="enrollForm.aadharno.$touched && enrollForm.aadharno.$error ">
                                  <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                  Aadhar Number  is required
                                  </small>
                                   <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                                  Enter valid Aadhar Number  
                                  </small>
                                     <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                  Enter valid Aadhar Number  
                                  </small>
                                   <small id="passwordHelpBlock" class="form-text " ng-message="pattern">
                                  Enter valid Aadhar Number  
                                  </small>
                                  </div>
                          </div>
                          
                          <div class="col-md-12 ">
                              <label id="formlabel">Date of Birth<span class="required">*</span></label>
                              <input class="form-control" id="date" name="dob" 
                             ng-model="dateofbirth" 
                              placeholder="1" type="date"
                              ng-disabled="{{disableEdit}}" required/>
                               <div class="help-block" 
                                  ng-messages="enrollForm.dob.$touched && enrollForm.dob.$error ">
                                  <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                  Date Of Birth is required
                                  </small>
                                 
                                  </div>
                          </div>
                           <div class="col-md-12 ">
                                   <label id="formlabel">Gender<span class="required">*</span></label>
                                  <select class="form-control" 
                                  ng-model="studentenrolldata.se_gender"
                                  name="gender" ng-disabled="{{disableEdit}}" required>
                                      <option value="" hidden selected>select</option>
                                       <option value="m" >Male</option>
                                      <option value="f" >Female</option>
                                      <option value="t" >Transgender</option>
                                  </select>
                                   <div class="help-block" 
                                      ng-messages="enrollForm.gender.$touched && enrollForm.gender.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                     Gender is required
                                      </small>
                                      </div>
                              </div>
                          <div class="col-md-12 ">
                              <label id="formlabel"> Parent Mobile No <span class="required">*</span></label>
                              <div class="row">
                                  <div class="col-lg-2">
                                      <!--<select class="form-control" id="parentno" name="parentno" style=" padding: 5%">
                                          <option value="+91" selected="">+91</option>
                                      </select>-->
                                       <select
                                      id="parentno"
                                          name="parentno" 
                                          class="form-control"
                                         style=" padding: 5%"
                                           ng-model="parentnum_dialcode" ng-options="countrydialcode.dial_code as countrydialcode.dial_code for countrydialcode in commonJsonData.country_dial_code" ng-disabled="{{disableEdit}}" >
                                            <option value="" hidden></option>
                                          </select>
                                  </div>
                                  <div class="col-lg-10">
                                      <input  
                                    
                                    
                                       type="tel"
                                      name="parentMobNo"
                                      ng-model="parentmobileno"
                                         
                                          minlength="10" maxlength="10"
                                          ng-minlength="10" ng-maxlength="10"
                                          placeholder="999 888 7777"
                                          allow-only-numbers
                                           class="form-control" ng-disabled="{{disableEdit}}" required/>
                                      <div class="help-block" 
                                      ng-messages="enrollForm.parentMobNo.$touched && enrollForm.parentMobNo.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                      Parent mobile number is required
                                      </small>
                                       <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                                      Enter valid mobile number
                                      </small>
                                        <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                     Enter valid mobile number
                                      </small>
                                      </div>
                                  </div>
                              </div>
      
                          </div>
                          <div class="col-md-12 ">
                              <label id="formlabel"> Student Mobile No <span class="required">*</span></label>
                              <div class="row">
                                  <div class="col-lg-2">
                                      <!--<select id="studentno" class="form-control" 
                                        
                                       name="studentnum" style=" padding: 5%">
                                          <option value="+91" selected="">+91</option>
                                      </select>-->
                                      <select
                                      id="studentno"
                                          name="studentnum" 
                                          class="form-control"
                                         style=" padding: 5%"
                                           ng-model="studentnum_dialcode" ng-options="countrydialcode.dial_code as countrydialcode.dial_code for countrydialcode in commonJsonData.country_dial_code"  ng-disabled="{{disableEdit}}" >
                                            <option value="" hidden></option>
                                          </select>
                                  </div>
                                  <div class="col-md-10">
                                      <input 
                                       type="tel"
                                      name="studentMobNo" 
                                     
                                      ng-model="studentmobileno"
                                         minlength="10" maxlength="10"
                                          ng-minlength="10" ng-maxlength="10"
                                          placeholder="999 888 7777" 
                                          class="form-control" 
                                          allow-only-numbers
                                          ng-disabled="{{disableEdit}}"
                                          required />
                                  <div class="help-block" 
                                      ng-messages="enrollForm.studentMobNo.$touched && enrollForm.studentMobNo.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                      Student mobile number is required
                                      </small>
                                       <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                                      Enter valid mobile number
                                      </small>
                                        <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                     Enter valid mobile number
                                      </small>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 ">
                              <label id="formlabel">Parent Email<span class="required">*</span></label>
                              <input class="form-control" 
                              ng-model="studentenrolldata.se_parentemail"
                                ng-pattern="/^.+@.+\..+$/"
                                 name="parentEmail" placeholder="Parent email" type="email" ng-disabled="{{disableEdit}}" required/>
                              <div class="help-block" 
                                      ng-messages="enrollForm.parentEmail.$touched && enrollForm.parentEmail.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                      Certificate will be sent on parent email id only!
                                      </small>
                                       <small id="passwordHelpBlock" class="form-text " ng-message="pattern">
                                      Enter valid email 
                                      </small>
                                       
                                      </div>
                          </div>
                          <div class="col-md-12 ">
                              <label id="formlabel">Student Email<span class="required">*</span></label>
                              <input class="form-control" 
                              ng-model="studentenrolldata.se_studentemail" 
                              name="studentEmail" placeholder="Student email" type="email"
                               ng-pattern="/^.+@.+\..+$/" ng-disabled="{{disableEdit}}" required/>
                              <div class="help-block" 
                                      ng-messages="enrollForm.studentEmail.$touched && enrollForm.studentEmail.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                     Email  is required
                                      </small>
                                       <small id="passwordHelpBlock" class="form-text " ng-message="pattern">
                                      Enter valid email 
                                      </small>
                                       
                                      </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                          <div class="row">
                              <div class="col-md-12 ">
                                  <label id="formlabel">School<span class="required">*</span></label>
                                  <input class="form-control"  
                                  ng-model="studentenrolldata.se_school"
                                  name="schoolname" placeholder="School Name"
                                      type="text" ng-disabled="{{disableEdit}}" required/>
                                      <div class="help-block" 
                                      ng-messages="enrollForm.schoolname.$touched && enrollForm.schoolname.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                     School name  is required
                                      </small>
                                      </div>
                              </div>
                              <!--begin-11-01-2021schoolcode add-aswin--->
                              <div class="col-md-12 ">
                                <label id="formlabel">School Code</label>
                                <input class="form-control"  
                                ng-model="se_schoolcode"
                                name="schoolcode" placeholder="School Code"
                                    type="text" ng-disabled="{{disableEdit}}"/>
                                    <div class="help-block" 
                                    ng-messages="enrollForm.schoolcode.$touched && enrollForm.schoolcode.$error ">
                                    <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                   School name  is required
                                    </small>
                                    </div>
                            </div>
                             <!--end-11-01-2021schoolcode add-aswin--->
                              <div class="col-md-12 ">
                                  <label id="formlabel">School's City<span class="required">*</span></label>
                                  <input class="form-control" id="City"
                                  ng-model="studentenrolldata.se_schoolcity"
                                   name="City" placeholder="City Name" type="text"
                                      maxlength="19" ng-disabled="{{disableEdit}}" required/>
                                       <div class="help-block" 
                                      ng-messages="enrollForm.City.$touched && enrollForm.City.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                     School city  is required
                                      </small>
                                      </div>
                                      
                              </div>
                              <div class="col-md-12 ">
                                  <label id="formlabel">School PIN Code / Postal Code<span class="required">*</span></label>
                                  <input  
                                   type="tel"
                                  ng-model="studentenrolldata.se_schoolpincode"
                                  name="schoolpincode"
                                  minlength="6" maxlength="6"
                                       ng-minlength="6" ng-maxlength="6"
                                      placeholder="xxx xxx" class="form-control"
                                      allow-only-numbers ng-disabled="{{disableEdit}}" required/>
                                      <div class="help-block" 
                                      ng-messages="enrollForm.schoolpincode.$touched && enrollForm.schoolpincode.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                     School pincode  is required
                                      </small>
                                       <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                     School pincode  is required
                                      </small>
                                       <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                                     School pincode  is required
                                      </small>
                                       <small id="passwordHelpBlock" class="form-text " ng-message="pattern">
                                     Enter number only 
                                      </small>
                                      </div>
                              </div>
                              <div class="col-md-12 ">
                                  <!--<label id="formlabel">Class/Std<span class="required">*</span></label>-->
                                   <label id="formlabel">Studying<span class="required">*</span></label>
                                  <select class="form-control" 
                                  ng-model="studentenrolldata.se_class"
                                  name="studentclass" ng-disabled="{{disableEdit}}" required>
                                      <option value="" hidden selected>select</option>
                                       <option value="11" >11&#x1D57;&#x02B0;</option>
                                      <option value="12" >12&#x1D57;&#x02B0;</option>
                                       <option value="others" >Others</option>
                                      
                                  </select>
                                   <div class="help-block" 
                                      ng-messages="enrollForm.studentclass.$touched && enrollForm.studentclass.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                     Student class  is required
                                      </small>
                                      </div>
                              </div>
                              <div class="col-md-12 ">
                                  <label id="formlabel">Year of Pass(10th Class)<span class="required">*</span></label>
                                  <input class="form-control" 
                                  type="text" 
                                   ng-model="studentenrolldata.se_yearofpass"
                                   name="passedyear" placeholder="1991" 
                                     minlength="4" maxlength="4"
                                   ng-minlength="4" ng-maxlength="4"
                                    allow-only-numbers
                                    ng-disabled="{{disableEdit}}"
                                   required/>
                                    <div class="help-block" 
                                      ng-messages="enrollForm.passedyear.$touched && enrollForm.passedyear.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                     10th passed year  is required
                                      </small>
                                        <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                     Enter valid year  
                                      </small>
                                        <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                                     Enter valid year  
                                      </small>
                                      </div>
                              </div>
                              <div class="col-md-12 ">
                                  <label id="formlabel"> Address <span class="required"></span></label>
                                  <div class="row">
                                      <div class="col-lg-6">
                                          <input class="form-control" id="address1"
                                          ng-model="studentenrolldata.se_address.line1"
                                           name="line1" placeholder="Line 1" type="text" ng-disabled="{{disableEdit}}" />
                                           
                                      </div>
                                      <div class="col-lg-6">
                                          <input class="form-control" id="address2"
                                           ng-model="studentenrolldata.se_address.line2"
                                           name="line2" placeholder="Line 2" type="text" ng-disabled="{{disableEdit}}" />
                                      </div>
                                      <!--<div class="col-lg-4">
                                          <input class="form-control" id="address3"
                                           ng-model="studentenrolldata.se_address.city"
                                            name="city" placeholder="City" type="text" />
                                      </div>-->
                                     
                                  </div>
                              </div>
                                <div class="col-md-12 ">
                                   <div class="row">
                                   <div class="col-md-4 ">
                                          <label id="formlabel">Country</label>
                                          <select
                                          name="country" 
                                          class="form-control"
                                           ng-model="country" ng-options="country.code as country.name for country in commonJsonData.countrylist" 
                                           ng-change="setCountry(country)" ng-disabled="{{disableEdit}}">
                                            <option value="" hidden>Select Country</option>
                                          </select>
                                              <div class="help-block" 
                                              ng-messages="enrollForm.country.$touched && enrollForm.country.$error ">
                                              <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                          Country  is required
                                              </small>
                                              </div>
                                   </div>
                                     <div class="col-md-4 ">
                                          <label id="formlabel">State</label>
                                          <input name="state" 
                                          type="text"
                                          ng-if="country != 'IN'"
                                          ng-disabled="country == ''"
                                          ng-model="studentenrolldata.se_state"
                                              minlength="1" 
                                              ng-minlength="1" 
                                              placeholder="State" class="form-control" ng-disabled="{{disableEdit}}"  >
                                             
                                          <!--select-->
                                              <select
                                          name="state" 
                                          class="form-control"
                                          ng-if="country == 'IN'"
                                           ng-model="state" ng-options=" states.state as states.state for states in commonJsonData.indianStates.states" 
                                           ng-change="setState(state)" ng-disabled="{{disableEdit}}">
                                            <option value="" hidden>Select State</option>
                                          </select>
                                          <!--select-->
                                          <div class="help-block" 
                                          ng-messages="enrollForm.state.$touched && enrollForm.state.$error ">
                                              <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                          State  is required
                                              </small>
                                              <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                          Enter valid state name  
                                              </small>
                                              
                                              </div>
                                   </div>
                                    <div class="col-md-4 ">
                                          <label id="formlabel">City</label>
                                          <input name="city" 
                                          type="text"
                                          ng-if="country != 'IN'"
                                          ng-disabled="country =='' && state == '' "
                                          ng-model="studentenrolldata.se_city"
                                              minlength="1" 
                                              ng-minlength="1" 
                                              placeholder="City" class="form-control" ng-disabled="{{disableEdit}}">
                                               <!--select-->
                                              <select
                                          name="city" 
                                          class="form-control"
                                          ng-if="country == 'IN'"
                                           ng-model="city" ng-options="district as district for district in districts" 
                                           ng-change="setDistrict(city)" ng-disabled="{{disableEdit}}">
                                            <option value="" hidden>Select City</option>
                                          </select>
                                          <!--select-->
                                              <div class="help-block" 
                                              ng-messages="enrollForm.city.$touched && enrollForm.city.$error ">
                                              <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                          City  is required
                                              </small>
                                              <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                          Enter valid city name  
                                              </small>
                                              
                                              </div>
                                   </div>
                                   </div>
                                   
                                    
                                  
                                </div>
                              <div class="col-md-12 ">
                                  <label id="formlabel">PIN Code/ Postal Code<span class="required">*</span></label>
                                  <input name="pincode" 
                                   type="tel"
                                     ng-model="studentenrolldata.pincode"
                                      minlength="6" maxlength="6"
                                      ng-minlength="6" ng-maxlength="6"
                                      placeholder="xxx xxx" class="form-control" allow-only-numbers ng-disabled="{{disableEdit}}" required>
                                      <div class="help-block" 
                                      ng-messages="enrollForm.pincode.$touched && enrollForm.pincode.$error ">
                                      <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                    Pincode  is required
                                      </small>
                                        <small id="passwordHelpBlock" class="form-text " ng-message="minlength">
                                     Enter valid pincode  
                                      </small>
                                        <small id="passwordHelpBlock" class="form-text " ng-message="maxlength">
                                     Enter valid pincode  
                                      </small>
                                      </div>
                              </div>
                              <div class="col-md-12 ">
                                <!--<label id="formlabel">Class/Std<span class="required">*</span></label>-->
                                 <label id="formlabel">Status<span class="required">*</span></label>
                                 <select class="form-control"
                                 ng-options="status.value as status.name for status in commonJsonData.statusTypeBoolen"
                                 ng-model="studentenrolldata.se_status" name="status" ng-disabled="{{disableEdit}}" ng-required="true">
                                 <option value="" hidden>Select </option>
                             </select>
                                 <div class="help-block" 
                                    ng-messages="enrollForm.status.$touched && enrollForm.status.$error ">
                                    <small id="passwordHelpBlock" class="form-text " ng-message="required">
                                  Status  is required
                                    </small>
                                    </div>
                            </div>
                          </div>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-12 mb-2">
                              <div class="row">
                              
                                  <div class="col-md-3">
                                      <input type="hidden" id="bonofide_cert" placeholder="Attach School Bonofide  Letter"
                                          class="form-control">
                                      <label id="formlabel">School Bonafide Letter<span class="required">*</span></label><br>
                                      <small>JPEG/PDF Maximum Size 5MB</small>
                                      </select>
                                  </div>
                                  <div class="col-md-2">
                                    <div class="" ng-model="files">
                                        <img class="img-thumbnail" 
                                        ng-src="{{ checkPdf(bonofide)}}"  height="150" width="150">
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <button ng-if="enableBtn" type="button" class="ml-2 mt--12 btn btn-md btn-link click-to-edit-img" ngf-select="uploadedImage($files,'bonofide')" ng-model="imagefiles" ngf-multiple="false" name="file" accept="image/*" ngf-max-size="2MB"  id="js-edit-img"
                                                ngf-model-invalid="errorFile"><span
                                            class="text-capitalize">Change</span></button>
                                    <button type="button" class="ml-2 mt--12 btn btn-md btn-link click-to-edit-img" ng-click="viewImageFullScreen('bonofide',bonofide)"><span
                                        class="text-capitalize">View</span></button>   
                                  </div>
                                  
                            </div>
                         </div>
                         <div class="col-md-12 mb-2">
                            <div class="row">
                            
                                <div class="col-md-3">
                                    <input type="hidden" id="marksheet_10" placeholder="Attach TC/Mark Sheet"
                                        class="form-control">
                                    <label id="formlabel">10th Mark Sheet<span class="required">*</span></label><br>
                                    <small>JPEG/PDF Maximum Size 5MB</small>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                  <div class="" ng-model="files">
                                      <img class="img-thumbnail" ng-src="{{checkPdf(marksheet)}}"  height="150" width="150">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <button ng-if="enableBtn" type="button" class="ml-2 mt--12 btn btn-md btn-link click-to-edit-img" ngf-select="uploadedImage($files,'marksheet')" ng-model="imagefiles" ngf-multiple="false" name="file" accept="image/*" ngf-max-size="2MB"  id="js-edit-img"
                                              ngf-model-invalid="errorFile"><span
                                          class="text-capitalize">Change</span></button>
                                  <button type="button" class="ml-2 mt--12 btn btn-md btn-link click-to-edit-img" ng-click="viewImageFullScreen('marksheet',marksheet)"><span
                                      class="text-capitalize">View</span></button>   
                                </div>
                                
                          </div>
                       </div>

                      
                       <div class="col-md-12 mb-2">
                        <div class="row">
                        
                            <div class="col-md-3">
                                <input type="hidden" id="marksheet_10" placeholder="Attach Aadhar Card"
                                    class="form-control">
                                <label id="formlabel">Aadhar Card<span class="required">*</span></label><br>
                                <small>JPEG/PDF Maximum Size 5MB</small>
                                </select>
                            </div>
                            <div class="col-md-2">
                              <div class="" ng-model="files">
                                  <img class="img-thumbnail" ng-src="{{checkPdf(aadharcard)}}"  height="150" width="150">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <button ng-if="enableBtn" type="button" class="ml-2 mt--12 btn btn-md btn-link click-to-edit-img" ngf-select="uploadedImage($files,'aadharcard')" ng-model="imagefiles" ngf-multiple="false" name="file" accept="image/*" ngf-max-size="2MB"  id="js-edit-img"
                                          ngf-model-invalid="errorFile"><span
                                      class="text-capitalize">Change</span></button>
                              <button type="button" class="ml-2 mt--12 btn btn-md btn-link click-to-edit-img"   ng-click="viewImageFullScreen('aadharcard',aadharcard)"><span
                                  class="text-capitalize">View</span></button>   
                            </div>
                            
                      </div>
                   </div>
                   <div class="col-md-12 ">
                    <div class="row">
                    
                        <div class="col-md-3">
                            <input type="hidden" id="marksheet_10" placeholder="Student Photo"
                                class="form-control">
                            <label id="formlabel">Student Recent Photo<span class="required">*</span></label><br>
                            <small>JPEG/PDF Maximum Size 5MB</small>
                            </select>
                        </div>
                        <div class="col-md-2">
                          <div class="" ng-model="files">
                              <img class="img-thumbnail" ng-src="{{checkPdf(studentphoto)}}"  height="150" width="150">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <button ng-if="enableBtn" type="button" class="ml-2 mt--12 btn btn-md btn-link click-to-edit-img" ngf-select="uploadedImage($files,'studentphoto')" ng-model="imagefiles" ngf-multiple="false" name="file" accept="image/*" ngf-max-size="2MB"  id="js-edit-img"
                                      ngf-model-invalid="errorFile"><span
                                  class="text-capitalize">Change</span></button>
                          <button type="button" class="ml-2 mt--12 btn btn-md btn-link click-to-edit-img" ng-click="viewImageFullScreen('studentphoto',studentphoto)"><span
                              class="text-capitalize">View</span></button>   
                        </div>
                        
                  </div>
               </div>
                         
                      </div>
                  </div>
              </div>
              </div>
              <div class="box-footer">
                <button type="submit" ng-if="enableBtn"  ng-disabled="enrollForm.$invalid" class="btn btn-primary">
                    {{buttonText}}</button>
                
                <button type="button"  class="btn btn-danger" ng-click="cancel()">{{buttonCancel}}</button>
              </div>
            </form>
            <!--<pre>{{enrollForm | json}}</pre>-->
          </div>
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

    <div class="modal fade " id="imgViewModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{imgModalTitle}}</h4>
            </div>
            <div class="modal-body text-center">
               
              <img ng-src="{{imgUrl}}" class="img-fluid">
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->