<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>User Role Creation</h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">
      <a ui-sref="home.userrolecreation">User Role Creation</a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header">
          <div class="pull-right">
            <a
              class="btn btn-success"
              href="JavaScript:void(0);"
              ng-if="enableNewBtn"
              ng-click="userRoleCreatorModal(0)"
            >
              <i class="fa fa-plus-circle"></i>&nbsp;New</a
            >
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="userrolelist" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>S.no</th>
                <th>User Role</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in userRoleData">
                <td>{{$index + 1}}</td>
                <td>{{data.rolename}}</td>
                <td>{{data.status == true ? 'Active' : 'Inactive'}}</td>
                <td>
                  <div class="row">
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableEditBtn"
                        ng-click="userRoleCreatorModal(data._id,'edit')"
                      >
                        <span class="fa fa-edit"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableViewBtn"
                        ng-click="userRoleCreatorModal(data._id,'view')"
                      >
                        <span class="fa fa-eye"></span>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<div
  class="modal fade"
  id="userEntryModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <form
          id="contact"
          name="userRoleForm"
          class="form-horizontal"
          role="form"
          ng-submit="submitEnrollData()"
          novalidate
        >
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Role<span class="required">*</span></label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="role"
                      name="role"
                      ng-model="userRoleEntryData.rolename"
                      placeholder="Title"
                      ng-disabled="disableEdit"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="userRoleForm.role.$touched && userRoleForm.role.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Role name is required
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Menu List<span class="required">*</span></label
                    >
                    <div class="table-responsive" ng-if="!viewmenuTable">
                      <table
                      id="menulisttable"
                      class="table table-bordered table-striped"
                      
                    >
                      <thead>
                        <tr>
                          <th>Menu</th>
                          <th>New</th>
                          <th>Edit</th>
                          <th>View</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="menu in menus">
                          <td id="menu_td_id_{{menu.id}}">
                            <input
                              type="checkbox"
                              data-key="page"
                               data-value="{{menu.id}}"
                              ng-model="selectedMenu[$index]['menuchecked']"  
 ng-change="chooseMenu($index,menu.id,selectedMenu[$index]['menuchecked'])"
                            />&nbsp;{{menu.menuname}}
                          </td>
                          <td  >
                            <input
                              type="checkbox"
                              data-key="new"
                              ng-disabled="!selectedMenu[$index]['menuchecked']"
                              ng-model="selectedMenu[$index]['new']"
                            />
                          </td>
                          <td >
                            <input
                              type="checkbox"
                              data-key="edit"
                               ng-disabled="!selectedMenu[$index]['menuchecked']"
                              ng-model="selectedMenu[$index]['edit']"
                            />
                          </td>
                          <td >
                            <input
                              type="checkbox"
                              data-key="view"
                               ng-disabled="!selectedMenu[$index]['menuchecked']"
                              ng-model="selectedMenu[$index]['view']"
                              
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                     
                  </div>
                    <div class="table-responsive" ng-if="viewmenuTable">
                        <table
                          id="viewmenulisttable"
                          class="table table-bordered table-striped"
                          
                        >
                          <thead>
                            <tr>
                              <th>Menu</th>
                              <th>New</th>
                              <th>Edit</th>
                              <th>View</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="menu in selectedViewMenu">
                              <td id="menu_td_id_{{menu.id}}">{{menu.menuname}}</td>
                              <td>
                                {{menu.new}}
                                <!--<p>{{selectedMenu[$index]['new'] == true ? 'Yes' : 'No'}}</p>-->
                              </td>
                              <td>
                                {{menu.edit}}
                                <!-- <p>{{selectedMenu[$index]['edit'] == true ? 'Yes' : 'No'}}</p> -->
                              </td>
                              <td>
                                {{menu.view}}
                                <!-- <p>{{selectedMenu[$index]['view'] == true ? 'Yes' : 'No'}}</p> -->
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </table>
                     
                    </div>

                  </div>
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Status<span class="required">*</span></label
                    >
                    <select
                      class="form-control"
                      ng-options="status.value as status.name for status in commonJsonData.statusTypeBoolen"
                      ng-model="userRoleEntryData.status"
                      name="status"
                      ng-disabled="disableEdit"
                      ng-required="true"
                    >
                      <option value="" hidden>Select</option>
                    </select>
                    <div
                      class="help-block"
                      ng-messages="userRoleForm.status.$touched && userRoleForm.status.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Status is required
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          ng-click="hideUserRoleEntryModal()"
        >
          Close
        </button>
        <button
          type="button"
          ng-if="enableBtn"
          class="btn btn-primary"
          ng-disabled="userRoleForm.$invalid"
          ng-click="saveUserRole(userrole_id)"
        >
          {{buttonText}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
