<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>User Details</h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li><a href="home.userlist">Manage Users</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header">
          <div class="pull-right">
            <button
              type="button"
              class="btn btn-success"
              ng-if="enableNewBtn"
              ng-click="createNewUser()"
            >
              <span class="fa fa-plus-circle">&nbsp;</span>New
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="userlist" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Username</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in userdata">
                <td>{{$index + 1}}</td>
                <td>{{data.username}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phonenumber}}</td>
                <td>{{data.rolename}}</td>
                <td>{{data.status == true ? 'Active' : 'Inactive'}}</td>
                <td>
                  <div class="row">
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableEditBtn"
                        ng-click="userModal(data._id,'edit')"
                      >
                        <span class="fa fa-edit"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-if="enableViewBtn"
                        ng-click="userModal(data._id,'view')"
                      >
                        <span class="fa fa-eye"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-click="composeMail(data)"
                      >
                        <span class="fa fa-envelope"></span>
                      </a>
                    </div>
                    <div class="col-sm-2">
                      <a
                        href="JavaScript:void(0);"
                        ng-click="openPasswordModal(data)"
                      >
                        <span class="fa fa-key"></span>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<div
  class="modal fade"
  id="mailEntryModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="box box-primary">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Compose New Message</h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class=" ">
                <!-- <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                  </div> -->
                <!-- /.box-header -->
                <div class="box-body">
                  <form
                    id="mailbox"
                    name="mailForm"
                    class="form-horizontal"
                    role="form"
                    ng-submit="sendMail()"
                    novalidate
                  >
                    <div class="form-group">
                      <label id="toAddress"
                        >To <span class="required">*</span>:</label
                      >
                      <input
                        class="form-control"
                        type="email"
                        name="toAddress"
                        ng-model="mailSendData.email"
                        placeholder="To:"
                        readonly
                      />
                      <div
                        class="help-block"
                        ng-messages="mailForm.toAddress.$touched && mailForm.toAddress.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="required"
                        >
                          To address is required
                        </small>
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="email"
                        >
                          Enter valid email address
                        </small>
                      </div>
                    </div>
                    <div class="form-group mailcc">
                      <label id="mailcc">Cc :</label>
                      <!--<input
                        class="form-control"
                        type="email"
                        name="mailcc"
                        ng-model="mailSendData.email"
                        placeholder="Cc:"
                      />-->
                      <tags-input
                        ng-model="mailSendData.mailcc"
                        display-property="email"
                        placeholder="Add Email Address"
                        allowed-tags-pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                      >
                      </tags-input>

                      <div
                        class="help-block"
                        ng-messages="mailForm.mailcc.$touched && mailForm.mailcc.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="email"
                        >
                          Enter valid email address
                        </small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="toAddress"
                        >Subject <span class="required">*</span>:</label
                      >
                      <input
                        class="form-control"
                        name="mailSubject"
                        placeholder="Subject:"
                        ng-model="mailSendData.subject"
                        required
                      />
                      <div
                        class="help-block"
                        ng-messages="mailForm.mailSubject.$touched && mailForm.mailSubject.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="required"
                        >
                          Subject is required
                        </small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="toAddress"
                        >Message <span class="required">*</span>:</label
                      >
                      <textarea
                        id="compose-textarea"
                        name="mailMessageContent"
                        class="form-control"
                        style="height: 300px"
                        ckeditor="data.options"
                        ng-model="data.textInput"
                        required
                      >
                      </textarea>
                      <div
                        class="help-block"
                        ng-messages="mailForm.mailMessageContent.$touched && mailForm.mailMessageContent.$error "
                      >
                        <small
                          id="passwordHelpBlock"
                          class="form-text"
                          ng-message="required"
                        >
                          Message is required
                        </small>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <div class="pull-right">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      ng-disabled="mailForm.$invalid"
                    >
                      <i class="fa fa-envelope-o"></i> Send
                    </button>
                  </div>
                  <button
                    type="reset"
                    class="btn btn-default"
                    ng-click="hideMailEntryModal()"
                  >
                    <i class="fa fa-times"></i> Discard
                  </button>
                </div>
                <!-- /.box-footer -->
              </div>
              <!-- /. box -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
  class="modal fade"
  id="userDataViewModal"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <form
          id="userdataform"
          name="userForm"
          class="form-horizontal"
          role="form"
          novalidate
        >
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <label id="formlabel"
                      >Username<span class="required">*</span></label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="username"
                      name="username"
                      ng-model="userEntryData.username"
                      placeholder="Username"
                      ng-disabled="disableEdit || userViewType == 'edit'"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="userForm.username.$touched && userForm.username.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Username is required
                      </small>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <label id="formlabel"
                      >Email<span class="required">*</span></label
                    >
                    <input
                      class="form-control"
                      type="email"
                      id="useremail"
                      name="useremail"
                      ng-model="userEntryData.email"
                      placeholder="Email"
                      ng-disabled="disableEdit"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="userForm.useremail.$touched && userForm.useremail.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Email is required
                      </small>
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="email"
                      >
                        Enter valid mail
                      </small>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <label id="formlabel"
                      >Mobile Number<span class="required">*</span></label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="mobno"
                      name="mobno"
                      ng-model="userEntryData.phonenumber"
                      placeholder="Mobile Number"
                      minlength="10"
                      maxlength="10"
                      ng-minlength="10"
                      ng-maxlength="10"
                      ng-disabled="disableEdit"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="userForm.useremail.$touched && userForm.useremail.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Mobile number is required
                      </small>
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="maxlength"
                      >
                        Enter valid mobile number
                      </small>
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="minlength"
                      >
                        Enter valid mobile number
                      </small>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <label id="formlabel"
                      >Role<span class="required">*</span></label
                    >
                    <select
                      class="form-control"
                      ng-options="roles._id as roles.rolename for roles in userRole"
                      ng-model="userEntryData.roleid"
                      name="roleid"
                      ng-disabled="disableEdit"
                      ng-required="true"
                    >
                      <option value="" hidden>Select</option>
                    </select>
                    <div
                      class="help-block"
                      ng-messages="userForm.roleid.$touched && userForm.roleid.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Role is required
                      </small>
                    </div>
                  </div>

                  <div class="col-md-12" ng-show="userViewType == 'new'">
                    <label id="formlabel"
                      >Password<span class="required">*</span></label
                    >
                    <div class="input-group">
                      <input
                        class="form-control"
                        type="password"
                        ng-attr-type="{{ showPassword ? 'text':'password'}}"
                        id="pwd"
                        name="pwd"
                        ng-model="userEntryData.password"
                        placeholder="Password"
                        minlength="6"
                        ng-minlength="6"
                        ng-disabled="disableEdit"
                        required
                      />
                      <span class="input-group-addon"
                        ><i
                          class=""
                          ng-click="toggleShowPassword()"
                          ng-class="{'fa fa-eye': showPassword,'fa fa-eye-slash': !showPassword}"
                          style="cursor: pointer"
                        ></i
                      ></span>
                    </div>

                    <div
                      class="help-block"
                      ng-messages="userForm.pwd.$touched && userForm.pwd.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Password is required
                      </small>
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="minlength"
                      >
                        Please enter minimum 6 characters
                      </small>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <label id="formlabel"
                      >Status<span class="required">*</span></label
                    >
                    <select
                      class="form-control"
                      ng-options="status.value as status.name for status in commonJsonData.statusTypeBoolen"
                      ng-model="userEntryData.status"
                      name="status"
                      ng-disabled="disableEdit"
                      ng-required="true"
                    >
                      <option value="" hidden>Select</option>
                    </select>
                    <div
                      class="help-block"
                      ng-messages="userForm.status.$touched && userForm.status.$error "
                    >
                      <small
                        id="passwordHelpBlock"
                        class="form-text"
                        ng-message="required"
                      >
                        Status is required
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          ng-click="hideUserViewModal()"
        >
          Close
        </button>
        <button
          type="button"
          ng-if="enableBtn"
          class="btn btn-primary"
          ng-click="saveUser(user_id)"
        >
          {{buttonText}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
