<header-component></header-component>
<sidemenu-component></sidemenu-component>
<div class="content-wrapper">
    <ui-view></ui-view>
  </div>
  <div class="control-sidebar-bg"></div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Designed by
      <a href="https://nainatechnologies.com/" target="_blank">Naina Technology Solutions</a>
    </div>
    <strong>Copyright &copy; 2020 <a href="http://microconnect.co.in/">Microconnect</a>.</strong> All rights
    reserved.
  </footer>