<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <img src="./assets/images/icons/MCLogo.png" />
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"
      ><b><img src="./assets/images/icons/logo.png" /></b
    ></span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a
      href="javascript:void(0);"
      class="sidebar-toggle"
      data-toggle="push-menu"
      role="button"
    >
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a
            href="javascript:void(0);"
            class="dropdown-toggle"
            data-toggle="dropdown"
          >
            <!--<img
              src="./assets/images/founder2.jpg"
              class="user-image"
              alt="User Image"
            />-->
            <img ng-src="{{userImage}}" class="user-image" alt="User Image" />
            <span class="hidden-xs">{{userDetails.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img ng-src="{{userImage}}" class="img-circle" alt="User Image" />
              <p>
                {{userDetails.username}}
                <small
                  >Last loggedin : {{userDetails.lastlogin | date :"MM/dd/yyyy
                  'at' h:mma"}}</small
                >
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="javascript:void(0);" ng-click="openPasswordModal(userDetails)" class="btn btn-default btn-flat"
                  >Change Password</a
                >
              </div>
              <div class="pull-right">
                <a
                  href="javascript:void(0);"
                  ng-click="logout()"
                  class="btn btn-default btn-flat"
                  >Sign out</a
                >
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" ng-click="logout()"
            ><i class="fa fa-sign-out"></i
          ></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!--password change modal-->
<div class="modal fade" id="passwordModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <changepwd-component></changepwd-component>
      </div>
      
    </div>
  </div>
</div>
    
      