<!-- ======= Top Bar ======= -->
<button type="button" class="mobile-nav-toggle d-lg-none">
  <i class="icofont-navigation-menu"></i>
</button>
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top navbar-expand-lg">
  <div class="container d-flex">
    <div class="contact-info mr-auto my-auto">
      <i class="icofont-envelope"></i>
      <a href="mailto:info@microconnect.co.in">info@microconnect.co.in</a>
      <i class="icofont-phone"></i>
      <a href="tel:+919871512225">+91 96770 96011</a>
      <!--<i class="icofont-facebook"></i> <a href="tel:+919871512225">Facebook</a>-->
    </div>
    
          <a href="get-touch.html" id="getintouch" class="appointment-btn scrollto mr-2"
      >Get in touch</a>
    </a>
    <div class="top-header-btngrp btn-group">
      <!--<a
        type="button"
        href="get-touch.html"
        class="btn btn-default"
        ng-class="{'btn-group-active':btnactive == 'getintouch'}"
        >Get in touch</a
      >-->
      <!-- <a
        type="button"
        href="student-enroll.html"
        class="btn btn-default"
        id="enroll"
        ng-class="{'btn-group-active':btnactive == 'enroll'}"
        >Enroll</a
      > -->
      <a
        type="button"
        href="enroll.html"
        class="btn btn-default"
        id="enroll"
        ng-class="{'btn-group-active':btnactive == 'enroll'}"
        >Enroll</a
      >
      <a
        type="button"
        href="http://microconnect.org/"
        target="_blank"
        id="login"
        class="btn btn-default"
        ng-class="{'btn-group-active':btnactive == 'login'}"
        >Login</a
      >
    </div>
    <!--</a>
          <a href="get-touch.html" class="appointment-btn scrollto"
      >Get in touch</a
    >
    </a>
          <a href="student-enroll.html" class="appointment-btn scrollto"
      >Enroll</a
    >
    </a>
          <a href="http://www.microconnect.org" class="appointment-btn scrollto"
      >Login</a
    >-->
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html"  class="logo mr-auto"
      ><img
        src="./common/assets/images/icons/MC_Logo_Transparent.png"
        alt=""
        class="img-fluid"
    /></a>

    <nav class="nav-menu navbar-expand-lg d-none d-lg-block mt-3">
      <ul>
        <li class="drop-down active">
          <a href="index.html" id="acca">ACCA</a>
          <ul>
            <li>
              <a class="page-scroll" href="index.html#aboutacca">About ACCA</a>
            </li>
            <!--<li><a class="page-scroll" href="index.html#whymicroconnect">Why Microconnect</a></li>-->
            <li>
              <a class="page-scroll" href="index.html#diploma"
                >Diploma in Accounting & Business</a
              >
            </li>
            <!--begin-aswin-04-09-2021-header-menu-realogation--->
            <li>
              <a class="page-scroll" href="qualification.html#bsc-applied-accounting"
              target="_blank" >Bsc (Hons) Applied Accounting</a
              >
            </li>
            <li>
              <a class="page-scroll" href="qualification.html#msc-professional-accounting"
              target="_blank" >Msc in Professional Accounting</a
              >
            </li>
             <!--end-aswin-04-09-2021-header-menu-realogation--->
            <li>
              <a class="page-scroll" href="index.html#student-progress-chart"
                >ACCA Student Roadmap</a
              >
            </li>
             <li>
              <a class="page-scroll" href="index.html#acca-course-offering"
                >Offerings / Services</a
              >
            </li>
             <li>
              <a class="page-scroll" href="index.html#syllabus"
                >ACCA Syllabus</a
              >
            </li>
           
          </ul>
        </li>
        <li><a href="go-to-market.html" id="go-to-market" target="_blank">GTM</a></li>
        <li><a href="arbook.html" id="arbook" target="_blank">AR Book</a></li>
         <!--begin-aswin-04-09-2021-header-menu-realogation--->
       <!-- <li class="drop-down">
          <a href="" id="qualification">Qualification</a>
          <ul>
            <li>
              <a class="page-scroll" href="qualification.html#acca-qualification" target="_blank">ACCA Qualification</a>
            </li>
            <li>
              <a class="page-scroll"   href="qualification.html#bsc-applied-accounting" target="_blank"
                >Bsc (Hons) Applied Accounting</a
              >
            </li>

            <li>
              <a class="page-scroll"  href="qualification.html#msc-professional-accounting" target="_blank"
                >Msc in Professional Accounting</a
              >
            </li>
          </ul>
        </li> -->
         <!--end-aswin-04-09-2021-header-menu-realogation--->
          <li><a href="bfat.html" id="bfat" target="_blank"> BFAT</a></li>
           <!--end-aswin-04-09-2021-header-menu-realogation--->
        <!--<li class="drop-down">
               <a class="page-scroll" href="arbook.html">AR Book</a>
              <ul>
                <li>
                  <a class="page-scroll" href="arbook.html#innovationlab"
                    >Innovation Lab</a
                  >
                </li>
                <li>
                  <a class="page-scroll" href="arbook.html#arlab"
                    >Augmented Reality Lab</a
                  >
                </li>
                <li>
                  <a class="page-scroll" href="arbook.html#arbook"
                    >Augmented Reality Book</a
                  >
                </li>
                <li>
                  <a class="page-scroll" href="arbook.html#vrlab"
                    >Virtual Reality Lab</a
                  >
                </li>
                <li>
                  <a class="page-scroll" href="arbook.html#engaged-classrooms"
                    >Connected & Engaged Classrooms</a
                  >
                </li>
              </ul>
           </li>-->
        <!--<li >
          <a id="blog" href="https://www.theexpgroup.com/exp-blog/" target="_blank"
            >Blog</a
          >
        </li>-->
        <!--<li><a href="student-enroll.html">Enroll</a></li>-->

        <!--<li><a href="http://www.microconnect.org">Login</a></li>-->
        <li><a href="faq.html" id="faq" target="_blank">FAQ</a></li>
        <li><a href="about.html" id="about" target="_blank">About Us</a></li>
        <!--<li><a href="get-touch.html" id="getintouch" target="_blank">Get in Touch</a></li>-->
       
        <li class="d-lg-none"><a href="get-touch.html" id="getintouch" target="_blank">Get in touch</a></li>
        <!-- <li class="d-lg-none"><a href="student-enroll.html" target="_blank">Enroll</a></li> -->
        <li class="d-lg-none"><a href="enroll.html" target="_blank">Enroll</a></li>
        <li class="d-lg-none">
          <a href="http://microconnect.org/" target="_blank">Login</a>
        </li>
        <!--<li  class="autosearch">
        <form autocomplete="off" >
        <div class="input-group Search-button autocomplete">
            <input type="text" id="searchInput" class="form-control" placeholder="Search" />
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" ng-click="search()">
                <i class="icofont-search"></i>
              </button>
            </div>
          </div>
       </form>
          
        </li>-->
         <li class="autosearch d-none d-lg-block" id="autosearch">
          <form autocomplete="off" >
        <div class="input-group Search-button autocomplete">
            <input type="text" id="searchInput" ng-show="searchShow" class="form-control" placeholder="Search" />
            <div class="input-group-append">
              <button class="btn btn-mc-theme" ng-click="searchClick()"  type="button" >
                <i class="icofont-{{searchShow == false ? 'search' : 'close'}}"></i>
              </button>
            </div>
          </div>
       </form>
            
         </li>   
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
<style>
@media (min-width: 992px){
/*.autosearch{
  margin-left:15rem
}*/
.autosearch{
  margin-left:0
}
}
@media (max-width: 768px){
  .autosearch{
  margin-left:0
}
  }

#searchInput{
  /*display: none;*/
  animation: fade-in 1s;
}

   .parent:hover .child {
  display: block;
  animation: fade-in 1s;
}


.did-fade-in {
  display: block;
  animation: fade-out 1s;
}
.did-fade-in  #searchInput{
   width:100%;
  animation: fade-out 1s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  /*display: inline-block;*/
}

.Search-button input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
   font-size: 1rem;
}

.Search-button input[type=text] {
  background-color: #f1f1f1;
  /*width: 100%;*/
}
.Search-button input[type=text]:focus {
  width: 25%;
}
.Search-button input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.btn-mc-theme {
    color: #fff;
    background-color: #1977cc;
    border-color: #1977cc;
}
</style>